.advantages-slide {
  max-width: 31.5rem;
  width: 100%;
  height: auto;

  border: 1px solid #0273ff;
  border-radius: 2.5rem;

  padding: 1.5rem 2rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 3.5rem;

  box-sizing: border-box;

  @include tablet {
    padding: 1.875rem;

    border-radius: 2.5rem;
    max-width: 19.75rem;
    flex-shrink: 1;
  }

  @include super-big-desktop {
    //AlexBoynich
    max-width: 345px;
  }

  &__title {
    margin: 0;

    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.1818em;
    letter-spacing: -0.0091em;
    color: var(--dark-color);

    @include tablet {
      min-height: 2.1538em;
      font-size: 1.625rem;
      line-height: 1.2308em;
      letter-spacing: -0.0192em;
    }
  }

  &__descr {
    margin: 0;

    font-weight: 400;
    color: var(--dark-color);
    font-size: 1.4rem;
    line-height: 1.4286em;

    @include tablet {
      font-weight: 400;
      color: var(--dark-color);
      font-size: 0.875rem;
      line-height: 1.4286em;
    }

    @include super-big-desktop {
      max-width: 256px;
    }
  }
}
