.doctors-section {
  overflow: hidden;
  padding-left: 0;
  padding-right: 0;

  &__section-title {
    margin: 0 auto;
    margin-bottom: 2rem;

    max-width: 11.5909em;

    @include tablet {
      margin: 0;
      margin-bottom: 2.154em;

      max-width: unset;
    }
  }

  &__doctors-swiper {
    width: 100%;

    padding: 0 2.5rem;

    @include tablet {
      padding-right: 2.9375rem;
      padding-left: 2.9375rem;
    }

    .swiper-wrapper {
      @include tablet {
        gap: 1.375rem;
      }
    }
  }

  &__sort-block {
    display: flex;
    column-gap: 0.5rem;
  }

  &__sort-btn {
    border-radius: 2.5rem;
    background-color: #f1f4f8;

    padding: 0.5714em 0.8571em;

    color: #1a1a1a;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.4286em;

    & span {
      color: #8d8d8d;
      font-size: 0.875rem;
      font-weight: 500;
      line-height: 1.4286em;
    }

    &_active {
      background-color: #0251ff;
      color: var(--light-color);

      & span {
        color: inherit;
      }
    }
  }

  .docs-small-block {
    background-color: #0142ff;
    padding: 4rem 2rem;

    max-width: 29rem;
    width: 100%;
    height: auto;

    border-radius: 2.8rem;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;

    box-sizing: border-box;

    &__list {
      &:before {
        max-width: 180px;
      }
    }

    &__btn {
      padding: 1.3333em 2.0833em;
      border-radius: 5em;
      background: var(--light-color);

      font-size: 1.2rem;
      font-weight: 600;
      line-height: 1.5em;
      letter-spacing: 0.0167em;
      text-transform: uppercase;
      color: var(--dark-color);

      &_stomatology {
        width: 100%;
        padding: 1.3333em 2.0833em;
        border-radius: 5em;
        background: var(--light-color);
        font-size: 1.2rem;
        font-weight: 600;
        line-height: 1.5em;
        letter-spacing: 0.0167em;
        color: var(--dark-color);
        text-transform: uppercase;
        display: block;
      }
    }

    @include tablet {
      display: none;
    }
  }
}

.survery_swiper-btns-block {
  margin-bottom: 22px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.stomatology_swiper-btns-block {
  margin-bottom: 22px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  @include for-desktop {
    display: none;
  }
}

.btn-next,
.btn-prev {
  display: flex;
  align-items: center;

  & img {
    max-width: 49px;
    width: 100%;
    height: 20px;
    aspect-ratio: 49/20;
  }

  & .swiper-button-disabled {
    visibility: hidden;
  }
}

.btn-prev {
  display: none;
  transform: rotate(180deg);

  @include tablet {
    display: inline-block;
  }
}

.survery_doctors-swiper {
  @include tablet {
    padding-bottom: 2.5rem;
  }

  .swiper-wrapper {
    gap: 0;

    @include tablet {
      flex-wrap: nowrap;
      justify-content: start;
    }
  }
}

.btn-next {
  display: none;

  @include tablet {
    display: inline-block;
  }
}
