.header {
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;

  &__top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;

    background-color: var(--dark-color);

    padding-top: 0.9375rem;
    padding-bottom: 0.9375rem;
  }

  &__top-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 2.5rem;

    @include tablet {
      padding: 0 2.9375rem;
    }
  }

  &__search-block {
    margin: 0;

    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    @include tablet {
      width: fit-content;
      justify-content: start;
    }
  }

  &__search-form {
    position: relative;

    margin-right: 0.75rem;
  }

  &__search-field {
    background-color: var(--light-color);

    border-radius: 2.5rem;

    padding-top: 0.3333em;
    padding-right: 1.25em;
    padding-bottom: 0.3333em;
    padding-left: 2.75em;

    border: 2px solid transparent;

    background-image: url(/img/svg/search.svg);
    background-repeat: no-repeat;
    background-size: 1.5em 1.5em;
    background-position: 0.8333em center;

    width: 11em;

    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.5em;
    letter-spacing: 0.0167em;
    color: var(--black-color);

    &::placeholder {
      font-size: inherit;
      font-weight: inherit;
      line-height: inherit;
      letter-spacing: inherit;
    }

    &:focus {
      width: 29.1667em;

      padding-right: 3.75em;

      border-color: #80bdff;

      &::placeholder {
        color: transparent;
      }

      +.header__search-btn {
        display: block;
      }
    }
  }

  &__search-btn {
    display: none;
    position: absolute;
    top: 0.1875rem;
    right: 0.5rem;
    background-image: url(/img/svg/search-arrow.svg);
    background-size: 2.5rem 1.5rem;
    background-position: center center;
    width: 2.5rem;
    height: 1.5rem;
  }

  &__btn-rec {
    display: none;
    background-color: transparent;

    & span {
      padding: 0.3333em 1.0833em;
    }

    @include tablet {
      display: inline-block;
    }
  }

  &__btn-call {
    font-size: 0.8rem;
    padding: 0.5em 1.25em 0.5em 2.5em;
    background-image: url(/img/svg/phone.svg);
    background-repeat: no-repeat;
    background-size: 1.25em 1.25em;
    background-position: 0.625em 50%;
    background-color: #025bff;

    @include tablet {
      display: none;
    }
  }

  &__info-list {
    display: none;
    align-items: center;

    color: var(--light-color);

    @include tablet {
      display: flex;
    }
  }

  &__info-time {
    margin-right: 3.9167em;
    padding-left: 5.8333em;

    background-image: url(/img/svg/24-hours.svg);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;

    font-size: 0.75rem;
    font-weight: 600;
    line-height: 1.5em;
    letter-spacing: 0.0167em;
    text-transform: uppercase;
  }

  &__info-tel {
    padding-left: 2.6667em;
    margin-right: 4.6667em;

    background-image: url(/img/svg/phone.svg);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;

    font-size: 0.75rem;
    font-weight: 600;
    line-height: 1.5em;
    letter-spacing: 0.0167em;
    text-transform: uppercase;

    transition: opacity 0.3s ease-in-out;

    & a {
      color: inherit;
    }

    @include hover {
      opacity: 0.8;
    }
  }

  &__info-address {
    padding-left: 2.8em;
    background-image: url(/img/svg/geo.svg);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;

    font-size: 0.625rem;
    font-weight: 500;
    line-height: 1.8em;
    letter-spacing: -0.01em;
    text-transform: uppercase;

    transition: opacity 0.3s ease-in-out;

    & a {
      color: inherit;
    }

    @include hover {
      opacity: 0.8;
    }
  }

  &__logo {
    position: fixed;
    top: 72px;
    left: 25px;

    display: block;

    width: 44px;
    height: 35px;

    background-image: url(/img/svg/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;

    @include mobile {
      left: calc(50% - (var(--content-width-mobile))/2);
    }

    @include small-tablet {
      left: calc(50% - (var(--content-width-st))/2);
    }

    @include tablet {
      left: calc(50% - (var(--content-width-t))/2);
    }

    @include for-desktop {
      left: calc(50% - (var(--content-width-fd))/2);
    }

    @include big-desktop {
      top: 6.25rem;
      left: calc(50% - var(--content-width-bd)/2);

      width: 4.375rem;
      height: 3.5rem;
    }

    @include super-big-desktop {
      left: calc(50% - var(--content-width-sbd)/2);
    }
  }

  &__burger {
    position: fixed;
    top: 66px;
    right: 25px;

    display: block;

    width: 50px;
    height: 50px;

    background: url(/img/svg/burger.svg) no-repeat 50% 50% / 13px auto, linear-gradient(123.75deg, #FAFAFA -30.52%, #D7DBE0 89.61%);
    box-shadow: 10px 8px 25px rgba(0, 0, 0, 0.03);
    border-radius: 50%;

    @include hover {
      background: url(/img/svg/burger-white.svg) no-repeat 50% 50% / auto auto, linear-gradient(45deg, #0273FF 0%, #013FFF 100%);
    }

    @include mobile {
      right: calc(50% - (var(--content-width-mobile))/2);
    }

    @include small-tablet {
      right: calc(50% - (var(--content-width-st))/2);
    }

    @include tablet {
      right: calc(50% - (var(--content-width-t))/2);
    }

    @include for-desktop {
      right: calc(50% - (var(--content-width-fd))/2);
    }

    @include big-desktop {
      top: 6.25rem;
      right: 2.9375rem;

      width: 4.375rem;
      height: 4.375rem;

      background-size: auto;
    }

    @include big-desktop {
      right: calc(50% - var(--content-width-bd)/2);
    }

    @include super-big-desktop {
      right: calc(50% - var(--content-width-sbd)/2);
    }
  }
}

.header-scroll {
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.3);
}
