.how-performed-section {
  overflow: hidden;

  display: flex;
  flex-direction: column;
  row-gap: 4rem;

  padding-top: 0;
  padding-bottom: 4rem;

  @include tablet {
    row-gap: 3.75rem;

    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  &__section-title {
    display: none;

    @include tablet {
      display: block;
    }
  }

  &__content {
    display: flex;
    align-items: start;
    column-gap: 5rem;
    flex-direction: column;

    @include tablet {
      flex-direction: row;
      justify-content: space-between;
      column-gap: 1.375rem;

      padding-right: 2.9375rem;
      padding-left: 2.9375rem;
    }
  }

  &__swiper {
    overflow: hidden;

    width: 100%;
    height: 21rem;

    aspect-ratio: 315/210;

    & .btn-thumb {
      display: none;
    }

    &_stomatology {
      width: 100%;
      height: 40rem;

      aspect-ratio: 315/210;

      & .btn-thumb {
        display: block;
      }

      .swiper-pagination {
        position: absolute;
        bottom: unset;
        left: unset;
        top: 4rem;
        right: 4rem;
        z-index: 10;

        width: -moz-fit-content;
        width: fit-content;

        display: flex;
        align-items: center;
        column-gap: 0.375rem;

        @include tablet {
          top: 2.5rem;
          right: 2.5rem;
        }
      }

      .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
      .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0;
        opacity: unset;

        max-width: 0.9rem;
        min-width: 0.9rem;
        max-height: 0.9rem;
        min-height: 0.9rem;
        background-color: transparent;
        border: 2px solid #fff;
        cursor: pointer;
        z-index: 10;

        &-active {
          background-color: #fff;
          border: none;

          max-width: 0.7rem;
          min-width: 0.7rem;
          max-height: 0.7rem;
          min-height: 0.7rem;
        }

        @include tablet {
          max-width: 0.5625rem;
          min-width: 0.5625rem;
          max-height: 0.5625rem;
          min-height: 0.5625rem;

          &-active {
            max-width: 0.4375rem;
            min-width: 0.4375rem;
            max-height: 0.4375rem;
            min-height: 0.4375rem;
          }
        }
      }
    }

    @include tablet {
      border-radius: 2.5rem;
      margin: 0;

      max-width: 39rem;
      width: 100%;
      height: 34rem;

      aspect-ratio: 624/544;

      & .btn-thumb {
        display: inline-block;
      }

      &_stomatology {
        height: 100%;

        @include tablet {
          aspect-ratio: 468/437;
        }

        @include for-desktop {
          aspect-ratio: 624/524;
        }

        @include super-big-desktop {
          aspect-ratio: 624/544;
        }
      }
    }

    @include super-big-desktop {
      max-width: 700px;
      width: 100%;
      height: 464px;

      aspect-ratio: 700/464;

      &_stomatology {
        height: 524px;

        aspect-ratio: 700/524;
      }
    }
  }

  &__img-wrapper {
    overflow: hidden;
    position: relative;

    & img {
      display: block;

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      max-width: unset;
      width: 100%;
      height: 100%;
    }
  }

  &__info {
    width: 100%;

    padding: 0 2.5rem;
    padding-top: 2.5rem;

    @include tablet {
      padding: 0;

      max-width: 564px;
      width: 50%;

      &_stomatology {
        max-width: 40.875rem;
      }
    }

    @include super-big-desktop {
      max-width: 600px;

      &_stomatology {
        max-width: 713px;
        padding-right: 2.5rem;
      }
    }
  }

  &__info-title {
    margin: 0;
    margin-bottom: 0.9231em;

    font-size: 2.2rem;
    font-weight: 600;
    letter-spacing: -0.0192em;
    color: var(--dark-color);

    @include tablet {
      margin-bottom: 0.8889em;

      max-width: 14.4444em;

      font-size: 2.25rem;
      line-height: 1.1111;
    }
  }

  &__info-text {
    margin: 0;

    &:not(:last-of-type) {
      margin-bottom: 1.1429em;
    }

    font-weight: 400;
    color: var(--dark-color);
    font-size: 1.4rem;
    line-height: 1.4286em;

    @include tablet {
      max-width: 37.1429em;

      font-size: 0.875rem;
    }

    @include super-big-desktop {
      max-width: unset;
    }
  }

  &__list {
    margin-block: 0;
    margin-block-end: 1.1429em;
    padding-inline-start: 1.4286em;

    max-width: 37.1429em;

    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.4286em;
    color: var(--dark-color);

    @include tablet {
      font-size: 0.875rem;
      max-width: unset;
    }
  }

  &__item {
    &_marg {
      &:not(:last-child) {
        @include tablet {
          margin-bottom: 1.25rem;
        }
      }
    }
  }

  &__gray-block-text {
    margin: 0;
    margin-top: 1.71em;

    background-color: var(--smoky-white-color);
    border-radius: 1.875rem;
    padding: 2.8571em 1.4286em;

    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.42857em;
    color: var(--dark-color);
    @media (min-width: 1566px) {
      margin-top: 2.3em;
    }

    &__red {
      margin: 0;
      margin-top: 2.2857em;
      padding: 2rem;
      border-radius: 1.875rem;

      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.42857em;
      color: #202020;
      background-color: rgba(241, 72, 72, 0.1);

      @include tablet {
        padding: 1.25rem;
        font-size: 0.875rem;
      }
    }

    @include super-big-desktop {
      padding: 2.8571em;
    }

    &__small-paddings {
      padding: 2rem;

      @include super-big-desktop {
        padding: 1.25rem;
      }
    }
  }

  /* &__swiper {
      padding: 0 2.5rem;

      @include tablet {
          display: none;
      }
  }

  &__slide {
      box-sizing: border-box;

      max-width: 290px;
      width: 100%;
      aspect-ratio: 290/239;

      border-radius: 28px;
      border: 1px solid #0273FF;

      padding: 15px 28px;

      display: flex;
      flex-direction: column;
      row-gap: 15px;
  }

  &__slide-preview {
      position: relative;
      overflow: hidden;

      width: 100%;
      max-height: 125px;
      aspect-ratio: 235/125;

      & img {
          position: absolute;
          top: 0;
          left: 0;
      }
  }

  &__slide-title {
      margin: 0;

      font-size: 14px;
      font-weight: 600;
      line-height: 20px;
      color: var(--dark-color);
  }

  &__slide-descr {
      margin: 0;

      opacity: 0.46;

      font-size: 12px;
      font-weight: 400;
      line-height: 16px;
      color: var(--dark-color);
  } */
}
