.main-header_new {
	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__breadcrumbs {
		margin-bottom: 7rem;

		display: none;

		@include tablet {
			display: flex;
		}
	}

	&__title {
		margin: 0;
		margin-top: 1.9444em;
		margin-bottom: 1.3611em;

		max-width: 13.6364em;

		text-align: center;
		font-size: 3.6rem;
		font-weight: 600;
		line-height: 0.9444em;
		letter-spacing: -1px;
		color: var(--dark-color);

		@include tablet {
			margin-top: 0;
			margin-bottom: 2.245em;

			font-size: 4.125rem;
			line-height: 1.0303em;
			letter-spacing: -0.0455em;
		}
	}

	&__services {
		margin: 0;
		margin-bottom: 2em;
		opacity: 0.5;

		text-align: center;

		font-size: 1rem;
		font-weight: 600;
		line-height: 1.4em;
		color: #1b1b29;
		text-transform: uppercase;

		@include tablet {
			margin-bottom: 2em;

			font-size: 0.75rem;
			font-weight: 600;
			line-height: 1.5em;
			letter-spacing: 0.0167em;
		}
	}

	&__subtitle {
		margin: 0;

		max-width: 18em;

		text-align: center;

		font-size: 1.8rem;
		font-weight: 600;
		line-height: 1.33em;
		letter-spacing: -0.0278em;
		color: var(--dark-color);

		@include tablet {
			font-size: 1.625rem;
			font-weight: 600;
			line-height: 1.2308em;
		}
	}
}
