.pet-goes-section {
  overflow: hidden;

  padding-right: 0;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  row-gap: 2.4rem;

  @include tablet {
    row-gap: 3.75rem;
  }

  &__title-wrapper {
    padding: 0 2.5rem;

    @include tablet {
      padding: 0;
    }
  }

  &__section-title {
    margin-bottom: 2.4rem;

    text-align: start;

    @include tablet {
      margin: 0;

      text-align: center;
    }
  }

  &__section-text {
    color: #202020;

    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.42em;

    @include tablet {
      display: none;
    }
  }

  &_stomatology {
    padding-top: 0;

    @include tablet {
      padding-top: 5rem;
    }
  }

  &__img-wrapper {
    overflow: hidden;
    position: relative;

    margin: 0 auto;

    width: 100%;
    height: auto;

    aspect-ratio: 365/400;

    @include tablet {
      margin: 0;

      border-radius: 2.5rem;
      max-width: 40.875rem;
      aspect-ratio: 654/466;
    }

    @include super-big-desktop {
      max-width: 713px;
      aspect-ratio: 713/466;
    }

    & img {
      display: block;

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      max-width: unset;
      width: 100%;
      height: 100%;
    }
  }

  &__list {
    margin-block: 0;
    margin-block-end: 2rem;
    padding-inline-start: 1.4286em;

    max-width: 37.1429em;

    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.4286em;
    color: var(--dark-color);

    @include tablet {
      font-size: 0.875rem;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 1em;
    }
  }

  &__review-swiper {
    width: 100%;
    padding: 0 6.875rem;
  }

  &__review-swiper-top {
    margin-bottom: 1.25rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__review-swiper-title {
    margin: 0;

    color: var(--dark-color);
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 1.1111em;
    letter-spacing: -0.0139em;
  }
}
