.stomatology-reviews-section {
  padding-left: 2.5rem;

  @include tablet {
    display: flex;

    padding-left: 2.9375rem;
  }

  &__info {
    height: inherit;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .section-title {
      display: block;

      margin-bottom: 2.5rem;

      text-align: center;
      font-size: 1.8rem;
      color: #202020;
    }

    & p {
      display: none;

      @include tablet {
        display: block;
      }
    }

    @include tablet {
      max-width: 21.5625rem;
      width: 100%;

      .section-title {
        margin: 0;

        text-align: start;
        font-size: 2.25rem;
      }

      & p {
        @include tablet {
          color: #202020;

          font-size: 0.875rem;
          font-weight: 400;
          line-height: 1.42em;
        }
      }
    }
  }

  &__btns-block {
    display: none;

    @include tablet {
      display: block;
    }
  }

  .btn-thumb:disabled {
    pointer-events: none;
    opacity: 0.3;
  }

  &__swiper {
    padding: 0;
    padding-left: 1.5rem;
    padding-right: 2.5rem;

    @include tablet {
      padding-left: 1.5rem;
      padding-right: 2.9375rem;
    }
  }
}
