.top-section_full-block{
    display: flex;
    margin: 0 48px;
    border-radius: 2.5rem;
    overflow: hidden;
  }
  .top-section_right-part_list_title{
    font-family: Inter;
    font-size: 36px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: -0.03em;
    text-align: left;
    margin: 0;
  }
  .top-section_right-part{
    background-color: #F1F4F8;
    flex-shrink: 1;
    position: relative;
  }
  .top-section_right-part_logo{
    position: absolute;
    width: 50px;
    height: 40px;
    right: 45px;
    bottom: 45px;
  }
  .top-section_right-part_list_full{
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 32px;
  }
  .top-section_right-part_btn{
    margin: 0 40px 40px;
    width: 151px;
    height: 50px;
  }
  ul.top-section_right-part_list{
    margin: 0;
    padding: 0 1rem;
  }
  .top-section_left-part-img{
    max-width: 50%;
  }
  .top-section_right-part_list_item{
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 8px;
    &::marker{
      color: #0142ff;
    }
  }
@media (max-width: 1050px){
  .top-section_right-part_logo{
    display: none;
  }
  .top-section_full-block{
    flex-direction: column;
    margin: 0;
  }
  .top-section_left-part-img{
    max-width: 100%;
  }
  .top-section{
    padding: 0;
  }
  .top-section_right-part_list_item{
    margin-top: 8px;
  }
}

.neurology_diagnostics-section {
  display: flex;
  padding-right: 2.5rem;
  padding-left: 2.5rem;
  margin-bottom: 5.4rem;
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 2rem;
  flex-direction: row;
}
  .diagnostics-section__img-wrapper.cardio-image.neurology{
    height: 710px;
  }
.diagnostics-section_services_item{
  display: flex;
  flex-direction: column;
  gap: 24px;
}
  .diagnostics-section_services_item_top{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
  }
    .diagnostics-section_services_item_title{
      font-family: Inter;
      font-size: 26px;
      font-weight: 600;
      line-height: 30px;
      letter-spacing: -0.02em;
      text-align: left;
      margin: 0;
    }
    .diagnostics-section__info-title_mobile{
      display: none;
      font-family: Inter;
      font-size: 26px;
      font-weight: 600;
      line-height: 30px;
      letter-spacing: -0.02em;
      text-align: left;

    }
    .diagnostics-section_services_item_desc{
      font-family: Inter;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0px;
      text-align: left;

    }
    .diagnostics-section_services_item_price{
      background-color: #E3E9F0;
      border-radius: 60px;
      padding: 4px 12px;
      display: flex;
      align-items: center;
      font-family: Inter;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0em;
      text-align: left;
    }
      p{
        margin: 0;
      }
  hr{
    margin: 24px 0;
    color: #0142ff;
  }
    .neurology_diagnostics-section__info-title{
      font-family: Inter;
      font-size: 36px;
      font-weight: 600;
      line-height: 40px;
      letter-spacing: -0.03em;
      text-align: left;
      margin: 0 0 32px 0;
    }
    .diagnostics-section__info-text{
      min-height: 120px;
    }
@media (max-width: 800px){
  .neurology_diagnostics-section {
    padding-right: 0;
    padding-left: 0;
    margin-bottom: 0;
    flex-direction: column;
  }
  .neurology_diagnostics-section__info-title{
    display: none;
    font-family: Inter;
    font-size: 36px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: -0.03em;
    text-align: left;
  }
  .diagnostics-section__info-text{
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;

  }
  .diagnostics-section__info-title_mobile{
    display: block;
    font-size: 26px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: -0.02em;
    text-align: left;

  }
  .diagnostics-section__img-wrapper.cardio-image.neurology{
    display: flex;
    order: -2;
  }
}
.rehabilitation-section__neurology{
  flex-direction: row;
  justify-content: right;
  border-radius: 3.75rem;
  padding-top: 5rem;
  padding-right: 2.9375em;
  padding-bottom: 5rem;
  background-image: url(/img/neurology/rehabilitation/neurology-cat.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.neurology_diagnostics-section__info{
  display: flex;
  flex-direction: column;
  width: 50%;
  max-width: 740px;
  margin: 40px 25px;
}
.neurology_diagnostics-section__img-wrapper {
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  max-width: 44.75rem;
  width: 50%;
  height: auto;
  border-radius: 28px;
}
.neurology_preoperative-section__video-block__new{
  position: relative;
  overflow: hidden;
  border-radius: 2.5rem;
  max-width: 44.75rem;
  height: auto;
}
@media (max-width: 800px){
  .neurology_diagnostics-section__info{
    width: auto;
  }
  .diagnostics-section{
  padding-top: 0;
  }
  .neurology_preoperative-section__video-block__new{
    position: relative;
    overflow: hidden;
    border-radius: 0;
    max-width: 100%;
    height: auto;
  }
  .neurology_diagnostics-section__img-wrapper{
    max-width: 100%;
    display: flex;
    order: -2;
    overflow: inherit;
    width: 100%;
  }
  .neurology_preoperative-section__video{
    width: 100%;
    aspect-ratio: 365/225;
    background-color: black;
  }
  .diagnostics-section__info{
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-bottom: 5.4rem;
  }
  .diagnostics-section__info-title_mobile{
    margin: 0 0 24px 0;
  }
}

