<section class="section section_main about-section">
	<div class="about-section__top cardiology">
		<div class="about-section__info-block cardiology">
			<h3 class="about-section__title title-section-cardiology">
        Неврология — одна из ключевых специализаций Vetcity Clinic
			</h3>
      <p class="about-section__detail-text detail-text_cardiology">
        У животных, как и у людей, нервная система широко интегрирована в организм. Неполадки в её работе могут стать причиной различных отклонений. Патологиями центральной и периферической нервной системы занимается отделение ветеринарной неврологии. 
      </p>
      <br>
      <p class="about-section__detail-text detail-text_cardiology">
        Отделением руководит Дубовицкая Ольга Александровна, ведущий российский ветеринар-невролог. Наши специалисты лечат кошек и собак, а также некоторых экзотических животных, например, ежей, кроликов, хорьков. Это не только диагностика и лечение неврологических расстройств, но и профилактика старческой деменции, врождённых пороков у карликовых пород, выявление хронических нейроинфекций у кошек.
      </p>
		</div>
		<div class="swiper how-performed-section__swiper how-performed-section__swiper_stomatology swiper-initialized swiper-horizontal swiper-backface-hidden how-performed-section__swiper_cardiology">
      <div class="swiper-pagination swiper-pagination-bullets swiper-pagination-horizontal swiper-pagination-clickable"></div>
			<div class="swiper-wrapper">
				<div class="swiper-slide about-section__slide">
					<img src="img/cardiology-visit.png" alt="" />
          <img src="img/cardiology-visit__mobile.png" alt="" />
        </div>
				<div class="swiper-slide about-section__slide">
          <img src="img/cardiology-visit.png" alt="" />
          <img src="img/cardiology-visit__mobile.png" alt="" />
				</div>
				<div class="swiper-slide about-section__slide">
          <img src="img/cardiology-visit.png" alt="" />
          <img src="img/cardiology-visit__mobile.png" alt="" />
				</div>
        <div class="swiper-slide about-section__slide">
          <img src="img/cardiology-visit.png" alt="" />
          <img src="img/cardiology-visit__mobile.png" alt="" />
        </div>
			</div>
			<button class="btn-reset_new btn-thumb about-section__btn-next">
				<svg>
					<use xlink:href="img/sprite.svg#arrow-thumb"></use>
				</svg>
			</button>
			<button class="btn-reset_new btn-thumb about-section__btn-prev">
				<svg>
					<use xlink:href="img/sprite.svg#arrow-thumb"></use>
				</svg>
			</button>
		</div>
	</div>
	<div
		class="about-section__advantages-swiper"
		style="
			visibility: visible;
			opacity: 0;
			transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 207, 0, 1);
		"
	>
		<div class="swiper-wrapper">
			<div class="swiper-slide advantages-slide advantages-slide_surgery">
				<h4 class="advantages-slide__title">
					Опытные<br />
					врачи
				</h4>
				<p class="advantages-slide__descr">
          Ветеринары-неврологи с многолетним стажем и навыками проведения электродиагностики
				</p>
			</div>
			<div class="swiper-slide advantages-slide advantages-slide_surgery">
				<h4 class="advantages-slide__title">
					Полный цикл<br />
          диагностики
				</h4>
				<p class="advantages-slide__descr">
          Ветеринары-неврологи с многолетним стажем и навыками проведения электродиагностики
				</p>
			</div>
			<div class="swiper-slide advantages-slide advantages-slide_surgery">
				<h4 class="advantages-slide__title">
					Второе<br />
					мнение
				</h4>
				<p class="advantages-slide__descr">
          Очные и удалённые консультации по поставленному диагнозу и проведённым исследованиям
				</p>
			</div>
			<div class="swiper-slide advantages-slide advantages-slide_surgery">
				<h4 class="advantages-slide__title">
					Реабилитация <br />
					питомцев
				</h4>
				<p class="advantages-slide__descr">
          Помощь реабилитолога для ускорения выздоровления или как единственный способ лечения
				</p>
			</div>
		</div>
	</div>
</section>
