<section class="section top-section">
  <div class="top-section_full-block">
    <img class="top-section_left-part-img" src="../img/neurology/top/neurology_top-image.png" alt="">
    <div class="top-section_right-part">
      <img class="top-section_right-part_logo" src="../img/small-logo.png" alt="лого">
      <div class="top-section_right-part_list_full">
        <h1 class="top-section_right-part_list_title">ТОП-10 заболеваний, с которыми работают неврологи Vetcity Clinic</h1>
        <ul class="top-section_right-part_list">
          <li class="top-section_right-part_list_item">эпилепсия</li>
          <li class="top-section_right-part_list_item">асептический менингоэнцефалит</li>
          <li class="top-section_right-part_list_item">болезни межпозвонковых дисков (протрузии, экструзии)</li>
          <li class="top-section_right-part_list_item">гидроцефалия и сирингомиелия</li>
          <li class="top-section_right-part_list_item">вестибулярный синдром</li>
          <li class="top-section_right-part_list_item">краниоцервикальная мальформация</li>
          <li class="top-section_right-part_list_item">новообразование головного мозга</li>
          <li class="top-section_right-part_list_item">нейропатическая боль</li>
          <li class="top-section_right-part_list_item">синдром гиперестезии кошек</li>
          <li class="top-section_right-part_list_item">полинейропатия и полирадикулоневрит</li>
        </ul>
      </div>
      <button class="btn-reset_new btn-blue_new card-consult__btn-rec top-section_right-part_btn">
        Записаться
      </button>
    </div>
  </div>
</section>
