<section class="section cardiology-reviews-section">
  <div class="stomatology-reviews-section__info">
    <div>
      <h4 class="section-title">Отзывы о врачах</h4>
      <p>Вот что говорят наши пациенты о приёмах ветеринарных врачей-неврологов в Vetcity Clinic</p>
    </div>
    <div class="stomatology-reviews-section__btns-block">
      <button class="btn-reset_new btn-thumb review-slide__btn-prev">
        <svg>
          <use xlink:href="img/sprite.svg#arrow-thumb"></use>
        </svg>
      </button>
      <button class="btn-reset_new btn-thumb review-slide__btn-next">
        <svg>
          <use xlink:href="img/sprite.svg#arrow-thumb"></use>
        </svg>
      </button>
    </div>
  </div>
  <div class="swiper pet-goes-section__review-swiper stomatology-reviews-section__swiper cardiology-reviews-section__swiper"
       style="visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 207, 0, 1);">
    <div class="swiper-wrapper">
      <div class="swiper-slide review-slide review-slide_stomatology">
        <div class="review-slide_stomatology__text-block">
          <p class="review-slide__text review-slide__text_stomatology">
            Чудом попали на приём к доктору неврологу Дубовицкой Ольге Александровне. Очень внимательная, добрая и сразу понятно, что профессионал своего дела. Отношение не только к пациенту, но и к хозяину питомца потрясающее! Мы обратились с гидроцефалией у маленькой собачки, были приступы, ранее наблюдались в другой клинике у другого невролога и как оказалось лечили не теми препаратами и не от той проблемы, говорил надо делать операцию. Ольга Александровна очень тщательно проверила все анализы и заключение МРТ, назначила другое лечение и сказала, что операция нам не показана и только все усугубила бы вплоть до летального исхода.Ольга Александровна, большое спасибо за приём!
          </p>
        </div>
        <div class="review-slide__doc-block">
          <div class="review-slide__doc-wrapper">
            <img src="img/neurology/reviews/neurology_reviews-icon-1.png" alt="doc">
          </div>
          <div class="review-slide__doc-info">
            <p class="review-slide__doc-name">Юджи</p>
            <p class="review-slide__doc-post">и его хозяйка</p>
          </div>
        </div>
      </div>
      <div class="swiper-slide review-slide review-slide_stomatology">
        <div class="review-slide_stomatology__text-block">
          <p class="review-slide__text review-slide__text_stomatology">
            Сегодня приводила собаку к неврологу Екатерине Михайловне Селезнёвой. Приём очень понравился. Просторный, опрятный кабинет, вежливые, доброжелательные доктора. Всё подробно объяснили относительно состояния собаки. Понятен дальнейший план действий. Пёс чувствовал себя комфортно, позволял себя осмотреть. В целом, впечатление от клиники положительное.
          </p>
        </div>
        <div class="review-slide__doc-block">
          <div class="review-slide__doc-wrapper">
            <img src="img/neurology/reviews/neurology_reviews-icon-2.png" alt="doc">
          </div>
          <div class="review-slide__doc-info">
            <p class="review-slide__doc-name">Грей</p>
            <p class="review-slide__doc-post">и его хозяйка</p>
          </div>
        </div>
      </div>
      <div class="swiper-slide review-slide review-slide_stomatology">
        <div class="review-slide_stomatology__text-block">
          <p class="review-slide__text review-slide__text_stomatology">
            Весь персонал клиники добрый и отзывчивый! Особенно хочется отметить Селезневу Е.М. — это ВРАЧ с большой буквы! Внимательная, сопереживающая и, самое главное, профессионал своего дела! Быстро нашла подход к нашему питомцу! Мой пёсель сразу ей доверился, за время всего приёма не чувствовал никакого дискомфорта! Огромное человеческое и пёсельское))) ей спасибо!
          </p>
          <btn class="btn-reset review-slide__read-all">Читать весь отзыв</>
        </div>
        <div class="review-slide__doc-block">
          <div class="review-slide__doc-wrapper">
            <img src="img/neurology/reviews/neurology_reviews-icon-3.png" alt="doc">
          </div>
          <div class="review-slide__doc-info">
            <p class="review-slide__doc-name">Арни</p>
            <p class="review-slide__doc-post">и её хозяин</p>
          </div>
        </div>
      </div>
      <div class="swiper-slide review-slide review-slide_stomatology">
        <div class="review-slide_stomatology__text-block">
          <p class="review-slide__text review-slide__text_stomatology">
            Особая благодарность врачу неврологу Кулешову Николаю Александровичу. Очень внимательно осмотрел нашего мопса Барт, рассказал про состояние, дал рекомендации, назначил анализы. Успокоил нас. Для сравнения до этого посетили ветклинику около дома и там невролог нам сказал что у него чуть ли не опухоль и ему нужно делать операцию. Теперь будем обращаться только в вашу клинику, хоть она и очень далеко от дома! СПАСИБО ВАМ за таких высокопрофессиональных специалистов!
          </p>
          <btn class="btn-reset review-slide__read-all">Читать весь отзыв</>
        </div>
        <div class="review-slide__doc-block">
          <div class="review-slide__doc-wrapper">
            <img src="img/neurology/reviews/neurology_reviews-icon-4.png" alt="doc">
          </div>
          <div class="review-slide__doc-info">
            <p class="review-slide__doc-name">Барт</p>
            <p class="review-slide__doc-post">и его хозяева</p>
          </div>
        </div>
      </div>
      <div class="swiper-slide review-slide review-slide_stomatology">
        <div class="review-slide_stomatology__text-block">
          <p class="review-slide__text review-slide__text_stomatology">
            Были в клинике первый раз у врача-невролога Кулешова Николая Александровича. Приём прошёл замечательно! Не смотря на то, что собака у нас тревожная и недоверчивая к посторонним, доктор быстро нашёл общий язык с животным, бережно осмотрел, дал развёрнутый комментарий по состоянию и все рекомендации по дальнейшему обследованию и профилактике. Огромное спасибо за профессионализм, доброе сердце, уважение к животным и их владельцам! Анна и чихуахуа Кони
          </p>
        </div>
        <div class="review-slide__doc-block">
          <div class="review-slide__doc-wrapper">
            <img src="img/neurology/reviews/neurology_reviews-icon-5.png" alt="doc">
          </div>
          <div class="review-slide__doc-info">
            <p class="review-slide__doc-name">Кони</p>
            <p class="review-slide__doc-post">и её хозяин</p>
          </div>
        </div>
      </div>
      <div class="swiper-slide review-slide review-slide_stomatology">
        <div class="review-slide_stomatology__text-block">
          <p class="review-slide__text review-slide__text_stomatology">
            Кулешов Николай Александрович — внимательный, чуткий, приятный в общении. Заботливое отношение к больному. Мою собаку, таксу Джерри, лечит с апреля 2023 года. Купировал оба тяжёлых приступа вестибулярного синдрома. Собаку спасали и другие врачи — врачи реанимации. Всем огромное спасибо!
          </p>
        </div>
        <div class="review-slide__doc-block">
          <div class="review-slide__doc-wrapper">
            <img src="img/neurology/reviews/neurology_reviews-icon-6.png" alt="doc">
          </div>
          <div class="review-slide__doc-info">
            <p class="review-slide__doc-name">Джерри</p>
            <p class="review-slide__doc-post">и его хозяйка</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
