<section class="section diagnostics-section ">
  <div class="neurology_diagnostics-section">
    <div class="neurology_diagnostics-section__info neurology big" style="order: -1">
      <h6 class="neurology_diagnostics-section__info-title">
        Передовое оборудование для диагностики
      </h6>
      <h6 class="diagnostics-section__info-title_mobile">
        Как проходит приём врача-невролога в Vetcity Clinic
      </h6>
      <p class="diagnostics-section__info-text">
        Особенность неврологических заболеваний заключается в том, что их крайне сложно диагностировать. В этом помогает электродиагностика, но cреди ветеринарных центров в Москве единицы предлагают такие услуги. Неврологи Vetcity работают на передовом оборудовании, обладая большим опытом в проведении и интерпретации результатов исследований.  
      </p>
      <div class="diagnostics-section_services_item">
        <div class="diagnostics-section_services_item_top">
          <h2 class="diagnostics-section_services_item_title">ЭЭГ</h2>
          <div class="diagnostics-section_services_item_price"><p>9000 &#8381;</p></div>
        </div>
        <p class="diagnostics-section_services_item_desc">Помогает отличить приступы эпилептической природы от других, понять находится ли пациент в эпилептическом статусе, и индивидуально скорректировать лечение у хронических пациентов.</p>
      </div>
      <hr>
      <div class="diagnostics-section_services_item">
        <div class="diagnostics-section_services_item_top">
          <h2 class="diagnostics-section_services_item_title">BAER-тест</h2>
          <div class="diagnostics-section_services_item_price"><p>5700 &#8381;</p></div>
        </div>
        <p class="diagnostics-section_services_item_desc">Диагностика частичной и полной глухоты у домашних животных, а также синдрома шатающегося ежа. С помощью специального прибора регистрируется изменения в активности мозга животного, возникающие в результате звуковой стимуляции.</p>
      </div>
      <hr>
      <div class="diagnostics-section_services_item">
        <div class="diagnostics-section_services_item_top">
          <h2 class="diagnostics-section_services_item_title">ЭНМГ</h2>
          <div class="diagnostics-section_services_item_price"><p>9000 &#8381;</p></div>
        </div>
        <p class="diagnostics-section_services_item_desc">Исследование периферической нервной системы и состояния мышц. Позволяет определить уровень, на котором нарушается нервная проводимость. Специальный аппарат подаёт электрический импульс небольшой силы. Нервные окончания стимулируются, и на компьютер выводится ответная реакция в виде графика.</p>
      </div>
    </div>
    <div class="neurology_diagnostics-section__img-wrapper cardio-image">
      <div class="neurology_preoperative-section__video-block__new">
        <video src="video-content.mp4" poster="img/cardiology-visit.png"
          class="video neurology_preoperative-section__video"></video>
        <button class="btn-reset_new btn-play">
          <img src="img/svg/play.svg" alt="play" />
        </button>
      </div>
    </div>
  </div>
</section>
