<section class="section how-performed-section cardiology">
	<h4 class="section-title how-performed-section__section-title">
		Питомец едет к ветеринару
	</h4>
	<div class="how-performed-section__content">
		<div
			class="swiper how-performed-section__swiper how-performed-section__swiper_stomatology how-performed-section__swiper_cardiology"
		>
			<img
				src="img/cardiology-visit.png"
				alt="how-performed"
				class="diagnostics-section__photo"
			/>
		</div>
		<div
			class="how-performed-section__info how-performed-section__info_stomatology how-performed-section__info_cardiology"
		>
			<h5 class="how-performed-section__info-title">
				Как проходит приём врача-невролога в Vetcity Clinic
			</h5>
			<ul class="how-performed-section__list list-reset">
				<li class="preoperative-section__item">
					Сбор анамнеза. Врач подробно расспрашивает владельца об истории и условиях жизни питомца, тревожных симптомах. Этот этап крайне важен, чтобы предположить причину проблемы. Также невролог изучает результаты готовых исследований, видео и фотоматериалы, которые предоставляют владельцы.
				</li>
				<li class="preoperative-section__item">
          Неврологический осмотр. Ветеринар проводит тесты на координацию, моторную функцию (движение), сознание и ориентацию в пространстве. Также невролог проверяет наличие боли, функции зрения и слуха.
				</li>
				<li class="preoperative-section__item">
          Подбор алгоритма диагностики. В зависимости от симптомов пациенту назначают углублённые исследования, например, лабораторные анализы, МРТ, КТ.
				</li>
				<li class="preoperative-section__item">
          Заключение и назначение. Ветеринар невролог озвучивает предварительный и возможные диагнозы. Выясняя причину патологий, специалист параллельно может прописать лечение симптомов, например, чтобы купировать боль и судороги.
				</li>
			</ul>
		</div>
	</div>
	<!--  <div class="swiper how-performed-section__swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide how-performed-section__slide">
                <div class="how-performed-section__slide-preview">
                    <img src="img/how-performed-slide.png" alt="img">
                </div>
                <p class="how-performed-section__slide-title">C-дуга</p>
                <p class="how-performed-section__slide-descr">
                    Контроль правильной установки имплантов во время операций
                </p>
            </div>
            <div class="swiper-slide how-performed-section__slide">
                <div class="how-performed-section__slide-preview">
                    <img src="img/how-performed-slide.png" alt="img">
                </div>
                <p class="how-performed-section__slide-title">C-дуга</p>
                <p class="how-performed-section__slide-descr">
                    Контроль правильной установки имплантов во время операций
                </p>
            </div>
            <div class="swiper-slide how-performed-section__slide">
                <div class="how-performed-section__slide-preview">
                    <img src="img/how-performed-slide.png" alt="img">
                </div>
                <p class="how-performed-section__slide-title">C-дуга</p>
                <p class="how-performed-section__slide-descr">
                    Контроль правильной установки имплантов во время операций
                </p>
            </div>
            <div class="swiper-slide how-performed-section__slide">
                <div class="how-performed-section__slide-preview">
                    <img src="img/how-performed-slide.png" alt="img">
                </div>
                <p class="how-performed-section__slide-title">C-дуга</p>
                <p class="how-performed-section__slide-descr">
                    Контроль правильной установки имплантов во время операций
                </p>
            </div>
        </div>
    </div>-->
</section>
