<section class="section section_main about-section">
    <div class="about-section__top">
        <div class="about-section__info-block">
            <h3 class="about-section__title">Используем любой<br /> шанс помочь</h3>
            <p class="about-section__detail-text">
                В госпитале Vetcity есть все необходимое для лечения и профилактики онкологии. Мы лечим рак у собак и
                кошек. Онкологические заболевания у питомцев — не редкость. По статистике опухоли находят у каждой пятой
                взрослой кошки и собаки. Но не каждое новообразование приводит к летальному исходу. Современная
                ветеринария помогает продлить жизнь онкобольным животным и сохранить её качество.
            </p>
            <p class="about-section__detail-text">
                Важно не игнорировать подозрительные симптомы у питомца и не откладывать лечение. Чем раньше обнаружена
                опухоль, тем больше у ветеринаров шансов помочь.
            </p>
        </div>
        <div class="about-section__swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide about-section__slide">
                    <img src="img/about-slide-1.jpg" alt="">
                    <img src="img/about-slide_mob-1.png" alt="">
                </div>
                <div class="swiper-slide about-section__slide">
                    <img src="img/about-slide-2.png" alt="">
                    <img src="img/about-slide-2.png" alt="">
                </div>
            </div>
            <button class="btn-reset_new btn-thumb about-section__btn-next">
                <svg>
                    <use xlink:href="img/sprite.svg#arrow-thumb"></use>
                </svg>
            </button>
            <button class="btn-reset_new btn-thumb about-section__btn-prev">
                <svg>
                    <use xlink:href="img/sprite.svg#arrow-thumb"></use>
                </svg>
            </button>
        </div>
    </div>
    <div class="swiper about-section__advantages-swiper" style="visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 207, 0, 1);">
        <div class="swiper-wrapper">
            <div class="swiper-slide advantages-slide">
                <h4 class="advantages-slide__title">Опытные<br /> врачи</h4>
                <p class="advantages-slide__descr">
                    Команда отделения онкологии имеет высокую квалификацию и многолетний опыт работы. Врачи используют
                    индивидуальный подход к лечению – максимально эффективный и безопасный.
                </p>
            </div>
            <div class="swiper-slide advantages-slide">
                <h4 class="advantages-slide__title">Высокоточная диагностика</h4>
                <p class="advantages-slide__descr">
                    Точный диагноз – залог успешного лечения. Мы используем современное оборудование: МРТ, КТ, УЗИ,
                    рентген, а также лабораторные анализы полного спектра.
                </p>
            </div>
            <div class="swiper-slide advantages-slide">
                <h4 class="advantages-slide__title">Комплексное<br /> лечение</h4>
                <p class="advantages-slide__descr">
                    Врачи-онкологи проводят общую и таргетную химиотерапию, иммунотерапию, криодеструкцию. По показаниям
                    пациентов направляют на хирургические операции и лучевую терапию.
                </p>
            </div>
            <div class="swiper-slide advantages-slide">
                <h4 class="advantages-slide__title">Профилактика<br /> рака</h4>
                <p class="advantages-slide__descr">
                    Мы рекомендуем владельцам проходить ежегодный онкологический скрининг, который помогает выявить у
                    питомцев заболевание на ранних стадиях и вовремя начать лечение.
                </p>
            </div>
        </div>
    </div>
</section>
