<section class="section section_main articles-section">
    <h4 class="section-title articles-section__section-title">Экспертные статьи об онкологии животных</h4>
    <div class="articles-section__content" style="visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 207, 0, 1);">
        <a href="" class="a big-article-card">
            <img class="big-article-card__img" src="img/article-3.png" alt="article-1">
            <img class="big-article-card__img big-article-card__img_mob" src="img/article-3_mob.png" alt="article-1">
            <div class="big-article-card__info">
                <div class="big-article-card__top">
                    <time class="big-article-card__date">26 июля, 2023</time>
                    <p class="big-article-card__title">Рак у домашних питомцев</p>
                    <p class="big-article-card__descr">Интервью с онкологом Романовой Светланой Евгеньевной</p>
                </div>
                <div class="big-article-card__bottom">
                    <span>Онкология</span>
                </div>
            </div>
        </a>
        <a href="" class="a big-article-card">
            <img class="big-article-card__img" src="img/article-2.png" alt="article-1">
            <img class="big-article-card__img big-article-card__img_mob" src="img/article-2_mob.png" alt="article-1">
            <div class="big-article-card__info">
                <div class="big-article-card__top">
                    <time class="big-article-card__date">26 июля, 2023</time>
                    <p class="big-article-card__title">Опухоли у животных</p>
                    <p class="big-article-card__descr">Виды и методы лечения</p>
                </div>
                <div class="big-article-card__bottom">
                    <span>Онкология</span>
                </div>
            </div>
        </a>
    </div>
</section>
