<section class="section section_main doctors-section">
	<h4 class="section-title doctors-section__section-title">
		Врачи-кардиологи Vetcity Clinic
	</h4>
	<div
		class="swiper doctors-section__doctors-swiper survery_doctors-swiper"
		style="
			visibility: visible;
			opacity: 0;
			transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 207, 0, 1);
		"
	>
		<div class="survery_swiper-btns-block">
			<button class="btn-reset_new btn-prev">
				<img src="img/svg/arrow-swiper.svg" alt="arrow" />
			</button>
			<button class="btn-reset_new btn-next">
				<img src="img/svg/arrow-swiper.svg" alt="arrow" />
			</button>
		</div>
		<div class="swiper-wrapper">
			<div class="swiper-slide card-doc_new surgery_card-doc_new">
				<img src="img/cardilogy_doc-1.png" alt="" />
				<div class="card-doc_new__info">
					<p
						class="card-doc_new__title"
						title="Дюльгер Пётр Георгиевич - Зав. отделением хирургии, ведущий хирург"
					>
						Назарова<br />
						Мария Владимировна
					</p>
					<p class="card-doc_new__text">
						Заведующая отделением кардиологии, главный врач Vetcity Clinic
					</p>
					<div class="card-doc_new__info_bottom">
						<p class="card-doc_new__price">Приём: 6 000 ₽</p>
						<btn class="btn-reset_new card-doc_new__detail">Подробнее</btn>
					</div>
				</div>
			</div>
			<div class="swiper-slide card-doc_new surgery_card-doc_new">
				<img src="img/cardilogy_doc-2.png" alt="" />
				<div class="card-doc_new__info">
					<p
						class="card-doc_new__title"
						title="Еремеев Константин Игоревич ‒ Врач-онколог"
					>
						Фроленко<br />
						Владимир Владимирович
					</p>
					<p class="card-doc_new__text">
						Ветеринарный врач-кардиолог, пульмонолог
					</p>
					<div class="card-doc_new__info_bottom">
						<p class="card-doc_new__price">Приём: 4 000 ₽</p>
						<btn class="btn-reset_new card-doc_new__detail">Подробнее</btn>
					</div>
				</div>
			</div>
			<div class="swiper-slide card-doc_new surgery_card-doc_new">
				<img src="img/cardilogy_doc-3.png" alt="" />
				<div class="card-doc_new__info">
					<p
						class="card-doc_new__title"
						title="Крыжановский Станислав Валерьевич ‒ Ветеринарный врач-хирург, ортопед-травматолог"
					>
						Олейников<br />
						Дмитрий Аркадьевич
					</p>
					<p class="card-doc_new__text">Ветеринарный врач-кардиолог</p>
					<div class="card-doc_new__info_bottom">
						<p class="card-doc_new__price">Приём: 4 000 ₽</p>
						<btn class="btn-reset_new card-doc_new__detail">Подробнее</btn>
					</div>
				</div>
			</div>
			<div class="swiper-slide card-doc_new surgery_card-doc_new">
				<img src="img/cardilogy_doc-4.png" alt="" />
				<div class="card-doc_new__info">
					<p
						class="card-doc_new__title"
						title="Соседов Андрей Александрович ‒ Ветеринарный врач-хирург"
					>
						Ушакова<br />
						Маргарита Васильевна
					</p>
					<p class="card-doc_new__text">Ветеринарный врач-кардиолог</p>
					<div class="card-doc_new__info_bottom">
						<p class="card-doc_new__price">Приём: 4 000 ₽</p>
						<btn class="btn-reset_new card-doc_new__detail">Подробнее</btn>
					</div>
				</div>
			</div>
			<div class="swiper-slide card-doc_new surgery_card-doc_new">
				<img src="img/cardilogy_doc-5.png" alt="" />
				<div class="card-doc_new__info">
					<p
						class="card-doc_new__title"
						title="Колесник Светлана Андреевна ‒ Врач-онколог"
					>
						Колесник<br />
						Елизавета Андреевна
					</p>
					<p class="card-doc_new__text">Ветеринарный врач-онколог</p>
					<div class="card-doc_new__info_bottom">
						<p class="card-doc_new__price">Приём: 3 500 ₽</p>
						<btn class="btn-reset_new card-doc_new__detail">Подробнее</btn>
					</div>
				</div>
			</div>
			<div class="swiper-slide card-doc_new surgery_card-doc_new">
				<img src="img/cardilogy_doc-6.png" alt="" />
				<div class="card-doc_new__info">
					<p
						class="card-doc_new__title"
						title="Колесник Светлана Андреевна ‒ Врач-онколог"
					>
						Колесник<br />
						Елизавета Андреевна
					</p>
					<p class="card-doc_new__text">Ветеринарный врач-онколог</p>
					<div class="card-doc_new__info_bottom">
						<p class="card-doc_new__price">Приём: 3 500 ₽</p>
						<btn class="btn-reset_new card-doc_new__detail">Подробнее</btn>
					</div>
				</div>
			</div>
			<div class="swiper-slide card-doc_new surgery_card-doc_new">
				<img src="img/cardilogy_doc-7.png" alt="" />
				<div class="card-doc_new__info">
					<p
						class="card-doc_new__title"
						title="Колесник Светлана Андреевна ‒ Врач-онколог"
					>
						Колесник<br />
						Елизавета Андреевна
					</p>
					<p class="card-doc_new__text">Ветеринарный врач-онколог</p>
					<div class="card-doc_new__info_bottom">
						<p class="card-doc_new__price">Приём: 3 500 ₽</p>
						<btn class="btn-reset_new card-doc_new__detail">Подробнее</btn>
					</div>
				</div>
			</div>
			<div class="swiper-slide card-doc_new surgery_card-doc_new">
				<img src="img/cardilogy_doc-8.png" alt="" />
				<div class="card-doc_new__info">
					<p
						class="card-doc_new__title"
						title="Колесник Светлана Андреевна ‒ Врач-онколог"
					>
						Колесник<br />
						Елизавета Андреевна
					</p>
					<p class="card-doc_new__text">Ветеринарный врач-онколог</p>
					<div class="card-doc_new__info_bottom">
						<p class="card-doc_new__price">Приём: 3 500 ₽</p>
						<btn class="btn-reset_new card-doc_new__detail">Подробнее</btn>
					</div>
				</div>
			</div>
			<div class="swiper-slide docs-small-block">
				<ul
					title="Запишитесь к врачу, если:"
					class="list-reset docs-contact-block__list docs-small-block__list"
				>
					<li class="docs-contact-block__item">
						вы получили рекомендацию проконсультироваться с кардиологом;
					</li>
					<li class="docs-contact-block__item">
						питомец должен пройти УЗИ сердца или другое инструментальное
						исследование;
					</li>
					<li class="docs-contact-block__item">
						нужно пройти с животным профилактическое обследование;
					</li>
					<li class="docs-contact-block__item">
						питомец наблюдается в сторонней ветеринарной клинике и вы хотите
						получить второе мнение от специалиста Vetcity;
					</li>
					<li class="docs-contact-block__item">
						питомец стал быстро уставать и появилась одышка / кашель, участилось
						дыхание.
					</li>
				</ul>
				<button class="btn-reset_new docs-small-block__btn">Записаться</button>
			</div>
		</div>
	</div>
	<div class="docs-contact-block surgery_docs-contact-block">
		<div class="surgery_docs-contact-block__content">
			<ul
				title="Запишитесь к врачу, если:"
				class="list-reset docs-contact-block__list surgery_docs-contact-block__list"
			>
				<li class="docs-contact-block__item">
					вы получили рекомендацию проконсультироваться с кардиологом;
				</li>
				<li class="docs-contact-block__item">
					питомец должен пройти УЗИ сердца или другое инструментальное
					исследование;
				</li>
				<li class="docs-contact-block__item">
					нужно пройти с животным профилактическое обследование;
				</li>
				<li class="docs-contact-block__item">
					питомец наблюдается в сторонней ветеринарной клинике и вы хотите
					получить второе мнение от специалиста Vetcity;
				</li>
				<li class="docs-contact-block__item">
					питомец стал быстро уставать и появилась одышка / кашель, участилось
					дыхание.
				</li>
			</ul>
			<form
				action=""
				class="docs-contact-block__form surgery_docs-contact-block__form"
			>
				<div class="docs-contact-block__filed-wrapper">
					<input
						id="tel"
						type="tel"
						class="input-reset docs-contact-block__filed"
					/>
					<p
						class="docs-contact-block__field-placeholder docs-contact-block__field-placeholder_integral"
					>
						<span>+7</span> (999) 999-99-99
					</p>
					<button
						type="button"
						class="btn-reset_new btn-blue_new btn-disabled docs-contact-block__btn-sub"
					>
						перезвоните мне
					</button>
				</div>
				<p class="docs-contact-block__success-sub">
					Спасибо! Мы свяжемся с вами в течение 30 минут
				</p>
				<p class="docs-contact-block__confidentiality">
					Нажимая на кнопку «Перезвоните мне», вы соглашаетесь с
					<a href="" class="a">политикой конфиденциальности.</a>
				</p>
			</form>
		</div>
	</div>
</section>
