<section class="section how-performed-section cardiology">
	<h4 class="section-title how-performed-section__section-title">
		Питомец едет к ветеринару
	</h4>
	<div class="how-performed-section__content">
		<div
			class="swiper how-performed-section__swiper how-performed-section__swiper_stomatology how-performed-section__swiper_cardiology"
		>
			<img
				src="img/cardiology-visit.png"
				alt="how-performed"
				class="diagnostics-section__photo"
			/>
		</div>
		<div
			class="how-performed-section__info how-performed-section__info_stomatology how-performed-section__info_cardiology"
		>
			<h5 class="how-performed-section__info-title">
				Как проходит приём кардиолога в Vetcity Clinic
			</h5>
			<ul class="how-performed-section__list list-reset">
				<li class="preoperative-section__item">
					сбор данных об истории болезни;
				</li>
				<li class="preoperative-section__item">
          аускультация (прослушивание) сердечного ритма,  дыхания и пульса;
				</li>
				<li class="preoperative-section__item">
          осмотр кожных и шерстяных покровов, слизистых;
				</li>
				<li class="preoperative-section__item">
          составление плана диагностики;
				</li>
				<li class="preoperative-section__item">
          проведение исследований: ЭхоКГ и ЭКГ, при необходимости —  измерение давления, установка холтера;
				</li>
				<li class="preoperative-section__item">
          назначение лечения;
        </li>
				<li class="preoperative-section__item">
          сопровождение по лечению в течение 14 дней по электронной почте.
				</li>
			</ul>
			<p class="how-performed-section__gray-block-text__red">
        Обратите внимание: ЭКГ, ЭхоКГ и другие диагностические услуги не проводятся без приёма врача и оплачиваются отдельно.
			</p>
		</div>
	</div>
	<!--  <div class="swiper how-performed-section__swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide how-performed-section__slide">
                <div class="how-performed-section__slide-preview">
                    <img src="img/how-performed-slide.png" alt="img">
                </div>
                <p class="how-performed-section__slide-title">C-дуга</p>
                <p class="how-performed-section__slide-descr">
                    Контроль правильной установки имплантов во время операций
                </p>
            </div>
            <div class="swiper-slide how-performed-section__slide">
                <div class="how-performed-section__slide-preview">
                    <img src="img/how-performed-slide.png" alt="img">
                </div>
                <p class="how-performed-section__slide-title">C-дуга</p>
                <p class="how-performed-section__slide-descr">
                    Контроль правильной установки имплантов во время операций
                </p>
            </div>
            <div class="swiper-slide how-performed-section__slide">
                <div class="how-performed-section__slide-preview">
                    <img src="img/how-performed-slide.png" alt="img">
                </div>
                <p class="how-performed-section__slide-title">C-дуга</p>
                <p class="how-performed-section__slide-descr">
                    Контроль правильной установки имплантов во время операций
                </p>
            </div>
            <div class="swiper-slide how-performed-section__slide">
                <div class="how-performed-section__slide-preview">
                    <img src="img/how-performed-slide.png" alt="img">
                </div>
                <p class="how-performed-section__slide-title">C-дуга</p>
                <p class="how-performed-section__slide-descr">
                    Контроль правильной установки имплантов во время операций
                </p>
            </div>
        </div>
    </div>-->
</section>
