<section class="section diagnostics-section">
	<h4 class="section-title diagnostics-section__section-title">
		Кардиологический чекап
	</h4>
	<div class="diagnostics-section__content">
		<div class="diagnostics-section__info">
			<h6 class="diagnostics-section__info-title">
				Ежегодное обследование помогает выявить скрытые проблемы сердца
			</h6>
			<p class="diagnostics-section__info-text">
				Некоторые животные с рождения предрасположены к заболеваниям сердца,
				и во многом это зависит от породы:
			</p>
			<ul class="list-reset preoperative-section__list">
				<li class="preoperative-section__item">
					доберман, овчарка, боксёр — у собак этих пород могут быть опасные
					аритмии;
				</li>
				<li class="preoperative-section__item">
					британец, сфинкс, мейн-кун — у кошек таких пород может развиваться
					гипертрофическая кардиомиопатия;
				</li>
				<li class="preoperative-section__item">
					корги, кинг-чарльз-спаниели — входят в категорию риска
					сердечно-сосудистых заболеваний.
				</li>
			</ul>
			<p
				class="how-performed-section__gray-block-text how-performed-section__gray-block-text__small-paddings"
			>
				Обратите внимание: ЭКГ, ЭхоКГ и другие диагностические услуги
				не проводятся без приёма врача и оплачиваются отдельно.
			</p>

			<div class="swiper-wrapper gap-wrap">
				<div class="swiper-slide card-diagnostics stomatology_card-diagnostics">
					<p class="card-diagnostics__title">
						Check-up <br />
						кардиологический
					</p>
					<div>
						<div class="card-diagnostics__info_bottom">
							<p class="card-diagnostics__price">7 500 ₽</p>
							<button class="btn-reset_new card-diagnostics__detail">
								Что входит?
							</button>
						</div>
					</div>
				</div>
				<div class="swiper-slide card-diagnostics stomatology_card-diagnostics">
					<p class="card-diagnostics__title">
						Check-up <br />
						кардиологический расширенный
					</p>
					<div>
						<div class="card-diagnostics__info_bottom">
							<p class="card-diagnostics__price">15 000 ₽</p>
							<button class="btn-reset_new card-diagnostics__detail">
								Что входит?
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="diagnostics-section__img-wrapper cardio-image">
			<img
				src="img/cardiology_diagnostics-photo.png"
				alt="diagnostics-photo"
				class="diagnostics-section__photo"
			/>
		</div>
	</div>
</section>
