<section class="section section_main about-section">
	<div class="about-section__top cardiology">
		<div class="about-section__info-block cardiology">
			<h3 class="about-section__title title-section-cardiology">
        Кардиология — сердце ветеринарного госпиталя Vetcity
			</h3>
      <p class="about-section__detail-text detail-text_cardiology">
        Болезни сердца и сосудов могут долго протекать без внешних признаков, и симптомы появляются у животных только во взрослом возрасте. Профилактика — регулярная проверка сердца питомца — помогает выявить нарушения на ранней стадии и не допустить развития серьёзного заболевания.
      </p>
      <br>
      <p class="about-section__detail-text detail-text_cardiology">
        Здоровье жизненно важного органа поддерживают ветеринарные врачи-кардиологи. Vetcity Clinic объединяет команду профессионалов и предлагает передовое оборудование для диагностики и лечения собак, кошек, а также экзотических животных.
      </p>
		</div>
		<div class="swiper how-performed-section__swiper how-performed-section__swiper_stomatology swiper-initialized swiper-horizontal swiper-backface-hidden how-performed-section__swiper_cardiology">
      <div class="swiper-pagination swiper-pagination-bullets swiper-pagination-horizontal swiper-pagination-clickable"></div>
			<div class="swiper-wrapper">
				<div class="swiper-slide about-section__slide">
					<img src="img/cardiology-visit.png" alt="" />
          <img src="img/cardiology-visit__mobile.png" alt="" />
        </div>
				<div class="swiper-slide about-section__slide">
          <img src="img/cardiology-visit.png" alt="" />
          <img src="img/cardiology-visit__mobile.png" alt="" />
				</div>
				<div class="swiper-slide about-section__slide">
          <img src="img/cardiology-visit.png" alt="" />
          <img src="img/cardiology-visit__mobile.png" alt="" />
				</div>
        <div class="swiper-slide about-section__slide">
          <img src="img/cardiology-visit.png" alt="" />
          <img src="img/cardiology-visit__mobile.png" alt="" />
        </div>
			</div>
			<button class="btn-reset_new btn-thumb about-section__btn-next">
				<svg>
					<use xlink:href="img/sprite.svg#arrow-thumb"></use>
				</svg>
			</button>
			<button class="btn-reset_new btn-thumb about-section__btn-prev">
				<svg>
					<use xlink:href="img/sprite.svg#arrow-thumb"></use>
				</svg>
			</button>
		</div>
	</div>
	<div
		class="about-section__advantages-swiper"
		style="
			visibility: visible;
			opacity: 0;
			transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 207, 0, 1);
		"
	>
		<div class="swiper-wrapper">
			<div class="swiper-slide advantages-slide advantages-slide_surgery">
				<h4 class="advantages-slide__title">
					Глубокая<br />
					диагностика
				</h4>
				<p class="advantages-slide__descr">
          Эхокардиография, ЭКГ, телеметрия, холтер и ЭКГ-флешка — отделение кардиологии оснащено передовыми аппаратами для диагностики сердечно-сосудистых заболеваний.
				</p>
			</div>
			<div class="swiper-slide advantages-slide advantages-slide_surgery">
				<h4 class="advantages-slide__title">
					Экспертность <br />
					врачей
				</h4>
				<p class="advantages-slide__descr">
          Кардиологи имеют высокую квалификацию и навыки проведения исследований. Ветеринары регулярно проходят мастер-классы, участвуют в научной работе, выступают на конференциях.
				</p>
			</div>
			<div class="swiper-slide advantages-slide advantages-slide_surgery">
				<h4 class="advantages-slide__title">
					Все виды<br />
					помощи
				</h4>
				<p class="advantages-slide__descr">
          Амбулаторное лечение, кардиохирургия, отделение реанимации — врачи Vetcity помогают животным в любых состояниях и с различными патологиями сердечно-сосудистой системы.
				</p>
			</div>
			<div class="swiper-slide advantages-slide advantages-slide_surgery">
				<h4 class="advantages-slide__title">
					Кардиологические <br />
					чекапы
				</h4>
				<p class="advantages-slide__descr">
          Лучшая защита домашних питомцев от болезней сердца — профилактика. Мы проводим раннюю диагностику, которая помогает вовремя выявить нарушения и начать лечение. 
				</p>
			</div>
		</div>
	</div>
</section>
