<section class="section diagnostics-section">
	<div class="diagnostics-section__content">
		<div class="diagnostics-section__info">
			<h5 class="diagnostics-section__info-title">
				Диагностические возможности <br />отделения
			</h5>
			<p class="diagnostics-section__info-text">
				Любые исследования назначаются ветеринарным врачом-кардиологом во время
				консультации
			</p>
			<button class="btn-reset_new btn-blue_new check-up-section__btn-rec">
				Записаться
			</button>
		</div>
		<div
			class="swiper diagnostics-section__swiper"
			style="
				visibility: visible;
				opacity: 0;
				transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 207, 0, 1);
			"
		>
			<div class="swiper-wrapper">
				<div class="swiper-slide card-diagnostics">
					<p class="card-diagnostics__title">Лабораторные исследования</p>
					<div>
						<p class="card-diagnostics__text">
							В кардиологии базовые анализы — измерение в крови количества белка
							тропонина и гормона NT-proBNP. По уровню первого можно заподозрить
							повреждение сердечной мышцы, второго — сердечную недостаточность.
							Результаты исследований готовы на следующий день после взятия
							крови.
						</p>
						<div class="card-diagnostics__info_bottom">
							<p class="card-diagnostics__price">от 500 ₽</p>
							<a href="" class="a card-diagnostics__detail">Подробнее</a>
						</div>
					</div>
				</div>
				<div class="swiper-slide card-diagnostics">
					<p class="card-diagnostics__title">Ультразвуковые исследования</p>
					<div>
						<p class="card-diagnostics__text">
							В кардиологии базовые анализы — измерение в крови количества белка
							тропонина и гормона NT-proBNP. По уровню первого можно заподозрить
							повреждение сердечной мышцы, второго — сердечную недостаточность.
							Результаты исследований готовы на следующий день после взятия
							крови.
						</p>
						<div class="card-diagnostics__info_bottom">
							<p class="card-diagnostics__price">от 2 000 ₽</p>
							<a href="" class="a card-diagnostics__detail">Подробнее</a>
						</div>
					</div>
				</div>
				<div class="swiper-slide card-diagnostics">
					<p class="card-diagnostics__title">ЭКГ</p>
					<div>
						<p class="card-diagnostics__text">
							Измерение электрической активности работы сердца. Проводится
							перед каждой операцией, в том числе кастрацией и стерилизацией.
							Также госпиталь предлагает услуги для измерения ЭКГ вне стен
							клиники — холтеровское мониторирование, телеметрию, аренду
							ЭКГ-флешки.
						</p>
						<div class="card-diagnostics__info_bottom">
							<p class="card-diagnostics__price">от 2 000 ₽</p>
							<a href="" class="a card-diagnostics__detail">Подробнее</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
