<section class="section stomatology-reviews-section">
  <div class="stomatology-reviews-section__info stomatology-reviews-section__info_cardiology">
    <div>
      <h4 class="section-title">Отзывы о врачах</h4>
      <p>Вот что говорят наши пациенты о приёмах ветеринарных врачей-кардиологов в Vetcity Clinic</p>
    </div>
    <div class="stomatology-reviews-section__btns-block">
      <button class="btn-reset_new btn-thumb review-slide__btn-prev">
        <svg>
          <use xlink:href="img/sprite.svg#arrow-thumb"></use>
        </svg>
      </button>
      <button class="btn-reset_new btn-thumb review-slide__btn-next">
        <svg>
          <use xlink:href="img/sprite.svg#arrow-thumb"></use>
        </svg>
      </button>
    </div>
  </div>
  <div class="swiper pet-goes-section__review-swiper stomatology-reviews-section__swiper stomatology-reviews-section__swiper_cardiology"
       style="visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 207, 0, 1);">
    <div class="swiper-wrapper">
      <div class="swiper-slide review-slide review-slide_stomatology">
        <div class="review-slide_stomatology__text-block">
          <p class="review-slide__text review-slide__text_stomatology">
            Сердечно благодарю доктора кардиолога Назарову Марию Владимировну за профессионализм, душевность
            и участие. Благодаря её знаниям, наша собака не оказалась на операционном столе. СПАСИБО!
          </p>
        </div>
        <div class="review-slide__doc-block">
          <div class="review-slide__doc-wrapper">
            <img src="img/cardiology_reviews_pet1.png" alt="doc">
          </div>
          <div class="review-slide__doc-info">
            <p class="review-slide__doc-name">Бакки</p>
            <p class="review-slide__doc-post">и его хозяева</p>
          </div>
        </div>
      </div>
      <div class="swiper-slide review-slide review-slide_stomatology">
        <div class="review-slide_stomatology__text-block">
          <p class="review-slide__text review-slide__text_stomatology">
            Назарова Мария Владимировна топ-врач. Сэкономила нам кучу денег на операции. Проблема решилась
            без хирургического вмешательства. Не жалко немалых денег за визиты в течении нескольких лет. Придём ещё на профилактический осмотр.
          </p>
        </div>
        <div class="review-slide__doc-block">
          <div class="review-slide__doc-wrapper">
            <img src="img/cardiology_reviews_pet2.png" alt="doc">
          </div>
          <div class="review-slide__doc-info">
            <p class="review-slide__doc-name">Рори</p>
            <p class="review-slide__doc-post">и её хозяйка</p>
          </div>
        </div>
      </div>
      <div class="swiper-slide review-slide review-slide_stomatology">
        <div class="review-slide_stomatology__text-block">
          <p class="review-slide__text review-slide__text_stomatology">
            Очень хотим сказать ОГРОМНОЕ СПАСИБО всем кто спасал нашего любимого члена семьи немецкую овчарку Рональд!
            Ему была сделана операция на сердце. Особое спасибо Назаровой Марии Владимировне которая вообще
            не зная нас откликнулась,вникала и разобралась в диагнозе Фальдора и пригласила нас в клинику
            для перепроверки где нашли совершенно другую проблему. В клинике мы попали к великолепным
            врачам Фроленко Владимир Владимирович врач «Кардиолог» и Дюльгер Пётр Георгиевич заведующий хирургическим
            отделением,отдельное и ОГРОМНОЕ ВАМ СПАСИБО! А так же менеджерам которые всегда на связи
            (Замира и Татьяна) и всему,всему персоналу клиники ОГРОМНОЕ СПАСИБО от нас и Фальдора!
            И приносим свои извинения Ушаковой Маргарите Васильевне за прощальный «кусь» от Фальдора,он не 
            со зла,извините)))
          </p>
          <btn class="btn-reset review-slide__read-all">Читать весь отзыв</>
        </div>
        <div class="review-slide__doc-block">
          <div class="review-slide__doc-wrapper">
            <img src="img/cardiology_reviews_pet3.png" alt="doc">
          </div>
          <div class="review-slide__doc-info">
            <p class="review-slide__doc-name">Рональд</p>
            <p class="review-slide__doc-post">и его хозяева</p>
          </div>
        </div>
      </div>
      <div class="swiper-slide review-slide review-slide_stomatology">
        <div class="review-slide_stomatology__text-block">
          <p class="review-slide__text review-slide__text_stomatology">
            Огромное спасибо врачу-кардиологу Владимиру Владимировичу Фролову и его коллегам за оказанную
            помощь и подробные разъяснения. Все рассказал, дал рекомендации. Все именно так, как должен
            поступать доктор ветеринар высочайшего уровня.
          </p>
        </div>
        <div class="review-slide__doc-block">
          <div class="review-slide__doc-wrapper">
            <img src="img/cardiology_reviews_pet4.png" alt="doc">
          </div>
          <div class="review-slide__doc-info">
            <p class="review-slide__doc-name">Петти</p>
            <p class="review-slide__doc-post">и её хозяева</p>
          </div>
        </div>
      </div>
      <div class="swiper-slide review-slide review-slide_stomatology">
        <div class="review-slide_stomatology__text-block">
          <p class="review-slide__text review-slide__text_stomatology">
            Когда рассказала своим знакомым о вашей клинике, меня спросили: А людей там не лечат?
            Доктор Фроленко вообще для нас теперь эталон доктора.
          </p>
        </div>
        <div class="review-slide__doc-block">
          <div class="review-slide__doc-wrapper">
            <img src="img/cardiology_reviews_pet5.png" alt="doc">
          </div>
          <div class="review-slide__doc-info">
            <p class="review-slide__doc-name">Тор</p>
            <p class="review-slide__doc-post">и его хозяин</p>
          </div>
        </div>
      </div>
      <div class="swiper-slide review-slide review-slide_stomatology">
        <div class="review-slide_stomatology__text-block">
          <p class="review-slide__text review-slide__text_stomatology">
            Первый раз в этой клинике. Спасибо огромное Олейникову Дмитрию Аркадьевичу, врач-кардиолог.
            Все очень подробно объяснил! Удивительно! Лечимся уже второй год и есть с чем сравнить.
          </p>
        </div>
        <div class="review-slide__doc-block">
          <div class="review-slide__doc-wrapper">
            <img src="img/cardiology_reviews_pet6.png" alt="doc">
          </div>
          <div class="review-slide__doc-info">
            <p class="review-slide__doc-name">Аманда</p>
            <p class="review-slide__doc-post">и её хозяин</p>
          </div>
        </div>
      </div>
      <div class="swiper-slide review-slide review-slide_stomatology">
        <div class="review-slide_stomatology__text-block">
          <p class="review-slide__text review-slide__text_stomatology">
            Приехали по рекомендации из сторонней клиники. Очень рады, что попали именно к вам!
            Врач (Олейников Дмитрий Аркадьевич) все подробно объяснил, все исследования сделали
            сразу же в один день.
          </p>
        </div>
        <div class="review-slide__doc-block">
          <div class="review-slide__doc-wrapper">
            <img src="img/cardiology_reviews_pet7.png" alt="doc">
          </div>
          <div class="review-slide__doc-info">
            <p class="review-slide__doc-name">Коржик</p>
            <p class="review-slide__doc-post">и его хозяйка</p>
          </div>
        </div>
      </div>
      </div>
    </div>
</section>

