<section
	class="section rehabilitation-section rehabilitation-section__cardiology"
>
	<div class="rehabilitation-section__mob-preview-block">
		<img src="img/cardiolgy-dog.png" alt="img" />
	</div>
	<div class="rehabilitation-section__content">
		<p class="rehabilitation-section__title cardiology">
			Запишитесь на онлайн-приём ветеринарного кардиолога
		</p>
		<div class="rehabilitation-section__descr cardiology">
			<p class="rehabilitation-section__text">
				Наши врачи консультируют владельцев, которые наблюдались с питомцем
				в других ветеринарных клиниках и хотят уточнить правильность диагноза
				и лечения. Получить экспертное мнение кардиолога Vetcity можно из любого
				удобного места — в рамках онлайн-приёма. <br /><br />
				Все, что нужно — записаться на консультацию, прислать врачу медицинские
				документы и в назначенное время подключиться к звонку.
			</p>
		</div>
		<div class="rehabilitation-section__price-block cardiology">
			<div class="card-consult__doc-block rehabilitation-section__doc-block cardiology">
				<img
					class="card-consult__doc-icon"
					src="img/cardilogy_doc-icon-1.png"
					alt="doc"
				/>
				<img
					class="card-consult__doc-icon"
					src="img/cardilogy_doc-icon-2.png"
					alt="doc"
				/>
				<img
					class="card-consult__doc-icon"
					src="img/cardilogy_doc-icon-3.png"
					alt="doc"
				/>
			</div>
			<span class="docs-contact-block__confidentiality"
				>3 ветеринара-кардиолога <br />
				принимают онлайн</span
			>
			<div class="rehabilitation-section__rec-block">
				<button
					class="btn-reset_new btn-blue_new card-consult__btn-rec rehabilitation-section__btn-rec"
				>
					Записаться
				</button>
			</div>
		</div>
		<form
			action=""
			class="docs-contact-block__form surgery_docs-contact-block__form rehabilitation-section__form"
		>
      <label class="custom-checkbox cardiology-checkbox-block">
        <input type="checkbox" class="custom-checkbox__field">
        <span class="custom-checkbox__content docs-contact-block__confidentiality">
            Отправляя форму, вы соглашаетесь c
            <a href="ссылка на ПД" class="a">условиями обработки персональных данных</a>
          </span>
      </label>
      <div class="docs-contact-block__filed-wrapper cardiology-docs-contact-block__filed-wrapper">
        <input
          id="tel"
          type="tel"
          class="input-reset docs-contact-block__filed gray-border"
        />
        <p
          class="docs-contact-block__field-placeholder docs-contact-block__field-placeholder_integral"
        >
          <span>+7</span> (999) 999-99-99
        </p>
        <button
          type="button"
          class="btn-reset_new btn-blue_new btn-disabled docs-contact-block__btn-sub"
        >
          перезвоните мне
        </button>
      </div>
      <p class="docs-contact-block__success-sub">
        Спасибо! Мы свяжемся с вами в течение 30 минут
      </p>
		</form>
	</div>
</section>
