<section class="section section_header main-header_new">
	<div class="main-header_new__container">
		<ul class="list-reset breadcrumbs main-header_new__breadcrumbs">
			<li class="breadcrumbs__item"><a href="/" class="a">Главная</a></li>
			<li class="breadcrumbs__item">
				<a href="/services/" class="a">Отделения</a>
			</li>
			<li class="breadcrumbs__item">Кардиология</li>
		</ul>
		<h1 class="main-header_new__title">Отделение ветеринарной кардиологии</h1>
		<p class="main-header_new__services">направление работы</p>
		<h2 class="main-header_new__subtitle">
			Диагностика и лечение болезней сердца у домашних питомцев
		</h2>
	</div>
</section>
