<section class="section section_main doctors-section">
  <h4 class="section-title doctors-section__section-title">
    Врачи-кардиологи Vetcity Clinic
  </h4>
  <div
    class="swiper doctors-section__doctors-swiper survery_doctors-swiper"
    style="
			visibility: visible;
			opacity: 0;
			transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 207, 0, 1);
		"
  >
  <div class="cardiology_doctors-section_swiper-next btn-next">
    <img class="next-arrow" src="img/cardiology_doctors-section_swiper-next-arrow.png" alt="">
  </div>
    <div class="swiper-wrapper">
      <div class="swiper-slide card-doc_new surgery_card-doc_new cardiology">
        <img src="img/cardilogy_doc-1.png" alt=""/>
        <div class="card-doc_new__info">
          <p
            class="card-doc_new__title"
            title="Назарова Мария Владимировна - Зав. отделением кардиологии, главный врач Vetcity Clinic"
          >
            Назарова<br/>
            Мария Владимировна
          </p>
          <p class="card-doc_new__text">
            Заведующая отделением кардиологии, главный врач Vetcity Clinic
          </p>
          <div class="card-doc_new__info_bottom">
            <p class="card-doc_new__price">Приём: 6 000 ₽</p>
            <btn class="btn-reset_new card-doc_new__detail">Подробнее</btn>
          </div>
        </div>
      </div>
      <div class="swiper-slide card-doc_new surgery_card-doc_new cardiology">
        <img src="img/cardilogy_doc-2.png" alt=""/>
        <div class="card-doc_new__info">
          <p
            class="card-doc_new__title"
            title="Фроленко Владимир Владимирович ‒ Врач-кардиолог"
          >
            Фроленко<br/>
            Владимир Владимирович
          </p>
          <p class="card-doc_new__text">
            Ветеринарный врач-кардиолог, пульмонолог
          </p>
          <div class="card-doc_new__info_bottom">
            <p class="card-doc_new__price">Приём: 4 000 ₽</p>
            <btn class="btn-reset_new card-doc_new__detail">Подробнее</btn>
          </div>
        </div>
      </div>
      <div class="swiper-slide card-doc_new surgery_card-doc_new cardiology">
        <img src="img/cardilogy_doc-3.png" alt=""/>
        <div class="card-doc_new__info">
          <p
            class="card-doc_new__title"
            title="Олейников Дмитрий Аркадьевич ‒ Врач-кардиолог"
          >
            Олейников<br/>
            Дмитрий Аркадьевич
          </p>
          <p class="card-doc_new__text">Ветеринарный врач-кардиолог</p>
          <div class="card-doc_new__info_bottom">
            <p class="card-doc_new__price">Приём: 4 000 ₽</p>
            <btn class="btn-reset_new card-doc_new__detail">Подробнее</btn>
          </div>
        </div>
      </div>
      <div class="swiper-slide card-doc_new surgery_card-doc_new cardiology">
        <img src="img/cardilogy_doc-4.png" alt=""/>
        <div class="card-doc_new__info">
          <p
            class="card-doc_new__title"
            title="Соседов Андрей Александрович ‒ Врач-кардиолог"
          >
            Ушакова<br/>
            Маргарита Васильевна
          </p>
          <p class="card-doc_new__text">Ветеринарный врач-кардиолог</p>
          <div class="card-doc_new__info_bottom">
            <p class="card-doc_new__price">Приём: 4 000 ₽</p>
            <btn class="btn-reset_new card-doc_new__detail">Подробнее</btn>
          </div>
        </div>
      </div>
      <div class="swiper-slide docs-small-block cardiology">
        <ul
          title="Запишитесь к терапевту, если:"
          class="list-reset docs-contact-block__list docs-small-block__list"
        >
          <li class="docs-contact-block__item">
            питомец заболел или его поведение вызывает у вас тревогу;
          </li>
          <li class="docs-contact-block__item">
            нужно подобрать индивидуальный рацион питания;
          </li>
          <li class="docs-contact-block__item">
            питомцу нужна вакцинация или другие профилактические процедуры;
          </li>
          <li class="docs-contact-block__item">
            необходимо обследовать животное с улицы.
          </li>
          <li class="docs-contact-block__item">
            питомцу нужна вакцинация или другие профилактические процедуры;
          </li>
        </ul>
        <button class="btn-reset_new docs-small-block__btn">Записаться</button>
      </div>
      <div class="swiper-slide card-doc_new surgery_card-doc_new cardiology">
        <img src="img/cardilogy_doc-5.png" alt=""/>
        <div class="card-doc_new__info">
          <p
            class="card-doc_new__title"
            title="Дегтерёва Мария Дмитриевна ‒ Врач-кардиолог"
          >
            Дегтерёва <br/>
            Мария Дмитриевна
          </p>
          <p class="card-doc_new__text">Ветеринарный врач-кардиологг</p>
          <div class="card-doc_new__info_bottom">
            <p class="card-doc_new__price price-close">Приём: 3 500 ₽</p>
            <img class="cardiology_docs-section_heart" src="img/cardiology_docs-section_heart.png" alt="heart">
            <btn class="btn-reset_new card-doc_new__detail">Подробнее</btn>
          </div>
        </div>
      </div>
      <div class="swiper-slide card-doc_new surgery_card-doc_new cardiology">
        <img src="img/cardilogy_doc-6.png" alt=""/>
        <div class="card-doc_new__info">
          <p
            class="card-doc_new__title"
            title="Невзорова Виктория Викторовна ‒ Врач-кардиолог"
          >
            Невзорова<br/>
            Виктория Викторовна
          </p>
          <p class="card-doc_new__text">Ветеринарный врач-онколог</p>
          <div class="card-doc_new__info_bottom">
            <p class="card-doc_new__price price-close">Приём: 3 500 ₽</p>
            <img class="cardiology_docs-section_heart" src="img/cardiology_docs-section_heart.png" alt="heart">
            <btn class="btn-reset_new card-doc_new__detail">Подробнее</btn>
          </div>
        </div>
      </div>
      <div class="swiper-slide card-doc_new surgery_card-doc_new cardiology">
        <img src="img/cardilogy_doc-7.png" alt=""/>
        <div class="card-doc_new__info">
          <p
            class="card-doc_new__title"
            title="Беспалова Маргарита Сергеевна ‒ Врач-кардиолог"
          >
            Беспалова<br/>
            Маргарита Сергеевна
          </p>
          <p class="card-doc_new__text">Ветеринарный врач-кардиолог</p>
          <div class="card-doc_new__info_bottom">
            <p class="card-doc_new__price price-close">Приём: 3 500 ₽</p>
            <img class="cardiology_docs-section_heart" src="img/cardiology_docs-section_heart.png" alt="heart">
            <btn class="btn-reset_new card-doc_new__detail">Подробнее</btn>
          </div>
        </div>
      </div>
      <div class="swiper-slide card-doc_new surgery_card-doc_new cardiology">
        <img src="img/cardilogy_doc-8.png" alt=""/>
        <div class="card-doc_new__info">
          <p
            class="card-doc_new__title"
            title="Алиева Роза Рустамовна ‒ Врач-кардиолог"
          >
            Алиева<br/>
            Роза Рустамовна
          </p>
          <p class="card-doc_new__text">Ветеринарный врач-кардиолог</p>
          <div class="card-doc_new__info_bottom">
            <p class="card-doc_new__price price-close">Приём: 3 500 ₽</p>
            <img class="cardiology_docs-section_heart" src="img/cardiology_docs-section_heart.png" alt="heart">
            <btn class="btn-reset_new card-doc_new__detail">Подробнее</btn>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="docs-contact-block surgery_docs-contact-block">
    <div class="surgery_docs-contact-block__content">
      <ul
        title="Запишитесь к врачу, если:"
        class="list-reset docs-contact-block__list cardiology-docs-contact-block__list surgery_docs-contact-block__list"
      >
        <li class="docs-contact-block__item cardiology">
          вы получили рекомендацию проконсультироваться с кардиологом или необходимо профилактическое обследование;
        </li>
        <li class="docs-contact-block__item cardiology">
          питомец должен пройти УЗИ сердца или другое инструментальное исследование;
        </li>
        <li class="docs-contact-block__item cardiology">
          питомец наблюдается в сторонней ветеринарной клинике, но вам <br> необходимо второе мнение от специалиста
          Vetcity;
        </li>
        <li class="docs-contact-block__item cardiology">
          питомец быстро устает, есть одышка / кашель, участилось дыхание;
        </li>
        <li class="docs-contact-block__item cardiology">
          в рамках предоперационного чекапа по фокусному ЭхоКГ выявлены <br> отклонения.
        </li>
      </ul>
      <form
        action=""
        class="docs-contact-block__form surgery_docs-contact-block__form"
      >
        <label class="custom-checkbox cardiology-checkbox-block">
          <input type="checkbox" class="custom-checkbox__field">
          <span class="checkmark"></span>
          <span class="custom-checkbox__content docs-contact-block__confidentiality">
            Отправляя форму, вы соглашаетесь c
            <a href="ссылка на ПД" class="a">условиями обработки персональных данных</a>
          </span>
        </label>
        <div class="docs-contact-block__filed-wrapper cardiology-docs-contact-block__filed-wrapper">
          <input
            id="tel"
            type="tel"
            class="input-reset docs-contact-block__filed"
            placeholder="+7(999) 999-99-99"
          />
          <button
            type="button"
            class="btn-reset_new btn-blue_new btn-disabled docs-contact-block__btn-sub"
          >
            перезвоните мне
          </button>
        </div>
        <p class="docs-contact-block__success-sub">
          Спасибо! Мы свяжемся с вами в течение 30 минут
        </p>
      </form>
    </div>
  </div>
</section>
