<div class="diagnostics-section__img-wrapper_mobile_cardiology cardio-image">
  <img
    src="img/cardiology_check-up-section-img.png"
    alt="diagnostics-photo"
    class="diagnostics-section__photo"
  />
</div>
<section class="section diagnostics-section">
	<h4 class="section-title diagnostics-section__section-title">
		Кардиологический чекап
	</h4>
	<div class="diagnostics-section__content diagnostics-section__content_cardiology">
		<div class="diagnostics-section__info check-up-section__info_cardiology">
			<h6 class="diagnostics-section__info-title">
				Ежегодное обследование помогает выявить скрытые проблемы сердца
			</h6>
			<p class="diagnostics-section__info-text check-up-section__info-text_cardiology">
				Некоторые животные с рождения предрасположены к заболеваниям сердца,
				и во многом это зависит от породы:
			</p>
			<ul class="list-reset preoperative-section__list preoperative-section__list_cardiology">
				<li class="preoperative-section__item preoperative-section__item_cardiology">
					доберман, овчарка, боксёр — у собак этих пород могут быть опасные
					аритмии;
				</li>
				<li class="preoperative-section__item preoperative-section__item_cardiology">
					британец, сфинкс, мейн-кун — у кошек таких пород может развиваться
					гипертрофическая кардиомиопатия;
				</li>
				<li class="preoperative-section__item preoperative-section__item_cardiology">
					корги, кинг-чарльз-спаниели — входят в категорию риска
					сердечно-сосудистых заболеваний.
				</li>
			</ul>
			<p
				class="how-performed-section__gray-block-text how-performed-section__gray-block-text__small-paddings"
			>
        Регулярный кардиологический осмотр поможет убедиться в том, что сердце питомца здорово или вовремя
        выявить нарушения и приступить к лечению. Животным старше 5 лет мы рекомендуем каждый
        год проходить чекап у кардиолога.
			</p>

			<div class="swiper-wrapper gap-wrap check-up-section_swiper_cardiology">
				<div class="swiper-slide card-diagnostics stomatology_card-diagnostics stomatology_card-diagnostics_cardiology">
					<p class="card-diagnostics__title card-diagnostics__title_cardiology">
						Check-up <br />
						кардиологический
					</p>
					<div>
						<div class="card-diagnostics__info_bottom">
							<p class="card-diagnostics__price">7 500 ₽</p>
							<button class="btn-reset_new card-diagnostics__detail">
								Что входит?
							</button>
						</div>
					</div>
				</div>
				<div class="swiper-slide card-diagnostics stomatology_card-diagnostics stomatology_card-diagnostics_cardiology">
					<p class="card-diagnostics__title card-diagnostics__title_cardiology">
						Check-up <br />
						кардиологический расширенный
					</p>
					<div>
						<div class="card-diagnostics__info_bottom">
							<p class="card-diagnostics__price">15 000 ₽</p>
							<button class="btn-reset_new card-diagnostics__detail">
								Что входит?
							</button>
						</div>
					</div>
				</div>
			</div>
      <div class="diagnostics-section__info">
        <button class="btn-reset_new btn-blue_new check-up-section__btn-rec_cardiology">
          получить консультацию
        </button>
      </div>
		</div>
    <div class="diagnostics-section__img-wrapper diagnostics-section__img-wrapper_cardiology cardio-image">
      <img
        src="img/cardiology_diagnostics-photo.png"
        alt="diagnostics-photo"
        class="diagnostics-section__photo"
      />
    </div>
	</div>
</section>
