<div class="diagnostics-section__img-wrapper_mobile cardio-image">
  <img
    src="img/cardiology-visit.png"
    alt="diagnostics-photo"
    class="diagnostics-section__photo"
  />
</div>
<section class="section diagnostics-section cardiology">
  <h4 class="section-title diagnostics-section__section-title">
    Кардиологический чекап
  </h4>
  <div class="diagnostics-section__content">
    <div class="diagnostics-section__info cardiology big" style="order: -1">
      <h6 class="diagnostics-section__info-title">
        Ежегодное обследование помогает выявить скрытые проблемы сердца
      </h6>
      <p class="diagnostics-section__info-text">
        Некоторые животные с рождения предрасположены к заболеваниям сердца, и во многом это зависит от породы:
      </p>
      <ul class="list-reset preoperative-section__list">
        <li class="preoperative-section__item">
          доберман, овчарка, боксёр — у собак этих пород могут быть опасные аритмии;
        </li>
        <li class="preoperative-section__item">
          британец, сфинкс, мейн-кун — у кошек таких пород может развиваться гипертрофическая кардиомиопатия;
        </li>
        <li class="preoperative-section__item">
          корги, кинг-чарльз-спаниели — входят в категорию риска сердечно-сосудистых заболеваний.
        </li>
      </ul>
      <p
        class="how-performed-section__gray-block-text how-performed-section__gray-block-text__small-paddings"
      >
        Регулярный кардиологический осмотр поможет убедиться в том, что сердце питомца здорово или вовремя выявить
        нарушения и приступить к лечению. Животным старше 5 лет мы рекомендуем каждый год проходить чекап у кардиолога.
      </p>

      <div class="check-up-services swiper-wrapper gap-wrap">
        <div class="swiper-slide card-diagnostics stomatology_card-diagnostics cardiology">
          <p class="card-diagnostics__title">
            Check-up <br/>
            кардиологический
          </p>
          <div>
            <div class="card-diagnostics__info_bottom">
              <p class="card-diagnostics__price">7 500 ₽</p>
              <button class="btn-reset_new card-diagnostics__detail">
                Что входит?
              </button>
            </div>
          </div>
        </div>
        <div class="swiper-slide card-diagnostics stomatology_card-diagnostics cardiology">
          <p class="card-diagnostics__title">
            Check-up <br/>
            кардиологический расширенный
          </p>
          <div>
            <div class="card-diagnostics__info_bottom">
              <p class="card-diagnostics__price">15 000 ₽</p>
              <button class="btn-reset_new card-diagnostics__detail">
                Что входит?
              </button>
            </div>
          </div>
        </div>
      </div>

      <button class="btn-reset_new btn-blue_new check-up-section__btn-rec">
        получить консультацию
      </button>
    </div>
    <div class="diagnostics-section__img-wrapper cardio-image">
      <img
        src="img/cardiology-visit.png"
        alt="diagnostics-photo"
        class="diagnostics-section__photo"
      />
    </div>
  </div>
</section>
