<div class="how-performed-section_img-mobile_cardiology">
  <img src="img/check-up-section_img-mobile_cardiology.png" alt="img" />
</div>
<section
	class="section rehabilitation-section rehabilitation-section__cardiology2"
>
	<div class="rehabilitation-section__content">
		<p class="rehabilitation-section__title">Кардиохирургия в Vetcity</p>
		<div class="rehabilitation-section__descr">
			<p class="rehabilitation-section__text">
				Большинству кардиологических пациентов достаточно консервативной
				терапии, но иногда единственным вариантом лечения становится
				операция.<br />
				<br />
				Кардиохирургия — это уникальное направление госпиталя. Операционный блок
				оснащён передовым оборудованием, в частности рентгеновской системой
				для контроля сложнейших операций на сердце и сосудах. Анестезиолог
				готовит питомца к операции и контролирует его состояние, а хирург
				проводит манипуляции под руководством кардиолога. На такие операции
				мы приглашаем кардиохирурга из человеческой медицины.
			</p>
		</div>
    <div>
      <p class="rehabilitation-section__price-block_title_cardiology">Ветеринары Vetcity проводят операции любой сложности:</p>
      <div class="rehabilitation-section__price-block rehabilitation-section__price-block_cardiology">
        <ul class="list-reset preoperative-section__list">
          <li class="preoperative-section__item preoperative-section__item_cardiology">
            установка кардиостимулятора собакам и кошкам;
          </li>
          <li class="preoperative-section__item preoperative-section__item_cardiology">балонная валвулопластика;</li>
          <li class="preoperative-section__item preoperative-section__item_cardiology">закрытие протоков;</li>
          <li class="preoperative-section__item preoperative-section__item_cardiology">извлечение дирофилярий;</li>
        </ul>
        <ul class="list-reset preoperative-section__list">
          <li class="preoperative-section__item preoperative-section__item_cardiology">биопсия новообразований;</li>
          <li class="preoperative-section__item preoperative-section__item_cardiology">
            удаление новообразований правого предсердия;
          </li>
          <li class="preoperative-section__item preoperative-section__item_cardiology">перикардэктомия.</li>
        </ul>
      </div>
    </div>
		<div class="diagnostics-section__info">
			<button class="btn-reset_new btn-blue_new check-up-section__btn-rec">
				получить консультацию
			</button>
		</div>
	</div>
</section>
