<div class="cardiology_how-perfomed_header">
  <img src="img/cardiology_how-performed_header-img.png" alt="">
</div>
<section
	class="section rehabilitation-section rehabilitation-section__cardiology2"
>
	<div class="rehabilitation-section__content">
		<p class="rehabilitation-section__title cardiology_how-performed">Кардиохирургия <br>в Vetcity</p>
		<div class="rehabilitation-section__descr">
			<p class="rehabilitation-section__text">
        Большинству кардиологических пациентов достаточно консервативной терапии, но иногда единственным вариантом лечения становится операция. <br />
				<br />
        Кардиохирургия — это уникальное направление госпиталя. Операционный блок оснащён передовым оборудованием, в частности рентгеновской системой для контроля сложнейших операций на сердце и сосудах. Анестезиолог готовит питомца к операции и контролирует его состояние, а хирург проводит манипуляции под руководством кардиолога. На такие операции мы приглашаем кардиохирурга из человеческой медицины. <br /><br />
        Ветеринары Vetcity проводят операции любой сложности:
			</p>
		</div>
		<div class="rehabilitation-section__price-block">
			<ul class="list-reset preoperative-section__list">
				<li class="preoperative-section__item">
          установка кардиостимулятора собакам и кошкам;
				</li>
				<li class="preoperative-section__item">балонная валвулопластика;</li>
				<li class="preoperative-section__item">закрытие протоков;</li>
				<li class="preoperative-section__item">извлечение дирофилярий;</li>
			</ul>
			<ul class="list-reset preoperative-section__list">
				<li class="preoperative-section__item">биопсия новообразований;</li>
				<li class="preoperative-section__item">
          удаление новообразований правого предсердия;
				</li>
				<li class="preoperative-section__item">перикардэктомия.</li>
			</ul>
		</div>
		<div class="diagnostics-section__info">
      <form action="#cardiology_services-section">
        <button class="btn-reset_new btn-blue_new check-up-section__btn-rec" href="#cardiology_services-section">
          получить консультацию
        </button>
      </form>
		</div>
	</div>
</section>
