<section class="section section_main about-section">
	<div class="about-section__top">
		<div class="about-section__info-block">
			<h3 class="about-section__title title-section-cardiology">
				Кардиология — сердце ветеринарного госпиталя Vetcity
			</h3>
			<p class="about-section__detail-text detail-text_cardiology">
				Болезни сердца и сосудов могут долго протекать бессимптомно,
				а на последних стадиях — приводить к печальному исходу. Зачастую
				заболевания находят у взрослых и пожилых животных, однако
				из-за врождённых патологий молодые питомцы также могут находиться в зоне
				риска. <br><br>Здоровье жизненно важного органа защищают ветеринарные
				врачи-кардиологи. Vetcity Clinic объединяет команду профессионалов
				и предлагает передовое оборудование для диагностики и лечения собак,
				кошек, а также экзотических животных.
			</p>
		</div>
		<div class="about-section__swiper">
			<div class="swiper-wrapper">
				<div class="swiper-slide about-section__slide">
					<img src="img/cardio_about-slide.png" alt="" />
					<img src="img/cardio_about-slide_mob.png" alt="" />
				</div>
				<div class="swiper-slide about-section__slide">
					<img src="img/cardio_about-slide.png" alt="" />
					<img src="img/cardio_about-slide_mob.png" alt="" />
				</div>
				<div class="swiper-slide about-section__slide">
					<img src="img/cardio_about-slide.png" alt="" />
					<img src="img/cardio_about-slide_mob.png" alt="" />
				</div>
			</div>
			<button class="btn-reset_new btn-thumb about-section__btn-next">
				<svg>
					<use xlink:href="img/sprite.svg#arrow-thumb"></use>
				</svg>
			</button>
			<button class="btn-reset_new btn-thumb about-section__btn-prev">
				<svg>
					<use xlink:href="img/sprite.svg#arrow-thumb"></use>
				</svg>
			</button>
		</div>
	</div>
	<div
		class="about-section__advantages-swiper"
		style="
			visibility: visible;
			opacity: 0;
			transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 207, 0, 1);
		"
	>
		<div class="swiper-wrapper">
			<div class="swiper-slide advantages-slide advantages-slide_cardiology">
				<h4 class="advantages-slide__title advantages-slide__title_cardiology">
					Глубокая<br />
					диагностика
				</h4>
				<p class="advantages-slide__descr">
          Эхокардиография, ЭКГ, телеметрия, холтер и ЭКГ-флешка — отделение кардиологии оснащено
          передовыми аппаратами для диагностики сердечно-сосудистых заболеваний. 
				</p>
			</div>
			<div class="swiper-slide advantages-slide advantages-slide_cardiology">
				<h4 class="advantages-slide__title advantages-slide__title_cardiology">
					Экспертность <br />
					врачей
				</h4>
				<p class="advantages-slide__descr">
          Кардиологи имеют высокую квалификацию и навыки проведения исследований.
          Ветеринары регулярно проходят мастер-классы, участвуют в научной работе, выступают на конференциях.
				</p>
			</div>
			<div class="swiper-slide advantages-slide advantages-slide_cardiology">
				<h4 class="advantages-slide__title advantages-slide__title_cardiology">
					Все виды<br />
					помощи
				</h4>
				<p class="advantages-slide__descr">
					Амбулаторное лечение, кардиохирургия, отделение реанимации — врачи Vetcity помогают животным в любых
          состояниях и с различными патологиями сердечно-сосудистой системы.
				</p>
			</div>
			<div class="swiper-slide advantages-slide advantages-slide_cardiology">
				<h4 class="advantages-slide__title advantages-slide__title_cardiology">
					Кардиологические <br />
					чекапы
				</h4>
				<p class="advantages-slide__descr">
          Лучшая защита домашних питомцев от болезней сердца — профилактика. Мы проводим раннюю диагностику,
          которая помогает вовремя выявить нарушения и начать лечение. 
				</p>
			</div>
		</div>
	</div>
</section>
