<section class="section section_services services-section">
	<div class="services-section__header">
		<h4 class="section-title services-section__section-title">
			Стоимость лечения
		</h4>
		<div class="services-section__header-container services-section__header-container_cardiology">
			<div class="services-section__header-info">
				<p class="services-section__header-title services-section__header-title_cardiology">
					Стоимость услуг отделения <br class="mobile-none" />
					кардиологии в Vetcity Clinic
				</p>
				<p class="services-section__header-descr">
					Кардиологи Vetcity оказывают экстренную и профилактическую помощь
					собакам, кошкам и экзотическим питомцам с кардиологическими
					диагнозами. Не забывайте про ежегодную проверку сердца.
				</p>
			</div>
      <div class="services-section__header-img-mobile-wrapper_cardiology">
        <img src="img/services-section_img-mobile_cardiology.png" alt="services-photo" />
      </div>
			<div class="services-section__header-img-wrapper_cardiology">
				<img src="img/cardiology_directions-img.png" alt="services-photo" />
			</div>
		</div>
	</div>
	<ul class="list-reset services-section__services-list">
		<li class="services-section__services-item">
			<div
				class="services-section__services-item-top services-section__services-item-top_open"
			>
				<button class="btn-reset_new services-section__thumb-btn">
					<svg>
						<use xlink:href="img/sprite.svg#arrow-thumb"></use>
					</svg>
				</button>
				<h6 class="services-section__services-item-title">
					Консультация<span>9</span>
				</h6>
			</div>
			<div
				class="swiper services-section__consult-swiper services-section__drop-list services-section__drop-list_show"
			>
				<div class="swiper-wrapper">
					<div class="swiper-slide card-consult">
						<p class="card-consult__title">
							Приём заведующего отделением онкологии
						</p>
						<div class="card-consult__bottom">
							<div class="card-consult__doc-block">
								<img
									class="card-consult__doc-icon"
									src="img/doc-icon-1.png"
									alt="doc"
								/>
								<p class="card-consult__doc-name">
									Романова<br />
									Светлана Евгеньевна
								</p>
							</div>
							<div class="card-consult__price-block">
								<span class="card-consult__price">5 000 ₽</span>
								<button
									class="btn-reset_new btn-blue_new card-consult__btn-rec"
								>
									Записаться
								</button>
							</div>
						</div>
					</div>
					<div class="swiper-slide card-consult">
						<p class="card-consult__title">Приём врача-онколога</p>
						<div class="card-consult__bottom">
							<div class="card-consult__doc-block">
								<img
									class="card-consult__doc-icon"
									src="img/doc-icon-2.png"
									alt="doc"
								/>
								<p class="card-consult__doc-name">
									Колесник<br />
									Елизавета Евгеньевна
								</p>
							</div>
							<div class="card-consult__price-block">
								<span class="card-consult__price">3 500 ₽</span>
								<button
									class="btn-reset_new btn-blue_new card-consult__btn-rec"
								>
									Записаться
								</button>
							</div>
						</div>
					</div>
					<div class="swiper-slide card-consult">
						<p class="card-consult__title">
							Приём ведущего специалиста лучевой диагностики
						</p>
						<div class="card-consult__bottom">
							<div class="card-consult__doc-block">
								<img
									class="card-consult__doc-icon"
									src="img/doc-icon-3.png"
									alt="doc"
								/>
								<p class="card-consult__doc-name">
									Родионов<br />
									Максим Викторович
								</p>
							</div>
							<div class="card-consult__price-block">
								<span class="card-consult__price">5 000 ₽</span>
								<button
									class="btn-reset_new btn-blue_new card-consult__btn-rec"
								>
									Записаться
								</button>
							</div>
						</div>
					</div>
					<div class="swiper-slide services-section__consult-online">
						<p class="services-section__consult-online-title">
							Как проходит приём
						</p>
						<p class="services-section__consult-online-text">
							На приеме хирург собирает анамнез, изучает данные предыдущих
							обследований, осматривает животное, определяет предварительный и
							дифференциальные диагнозы, предлагает тактику обследования и
							лечения.
						</p>
					</div>
					<div class="swiper-slide card-consult">
						<p class="card-consult__title">
							Приём заведующего отделением онкологии
						</p>
						<div class="card-consult__bottom">
							<div class="card-consult__doc-block">
								<img
									class="card-consult__doc-icon"
									src="img/doc-icon-1.png"
									alt="doc"
								/>
								<p class="card-consult__doc-name">
									Романова<br />
									Светлана Евгеньевна
								</p>
							</div>
							<div class="card-consult__price-block">
								<span class="card-consult__price">5 000 ₽</span>
								<button
									class="btn-reset_new btn-blue_new card-consult__btn-rec"
								>
									Записаться
								</button>
							</div>
						</div>
					</div>
					<div class="swiper-slide card-consult">
						<p class="card-consult__title">Приём врача-онколога</p>
						<div class="card-consult__bottom">
							<div class="card-consult__doc-block">
								<img
									class="card-consult__doc-icon"
									src="img/doc-icon-2.png"
									alt="doc"
								/>
								<p class="card-consult__doc-name">
									Колесник<br />
									Елизавета Евгеньевна
								</p>
							</div>
							<div class="card-consult__price-block">
								<span class="card-consult__price">3 500 ₽</span>
								<button
									class="btn-reset_new btn-blue_new card-consult__btn-rec"
								>
									Записаться
								</button>
							</div>
						</div>
					</div>
					<div class="swiper-slide card-consult">
						<p class="card-consult__title">
							Приём ведущего специалиста лучевой диагностики
						</p>
						<div class="card-consult__bottom">
							<div class="card-consult__doc-block">
								<img
									class="card-consult__doc-icon"
									src="img/doc-icon-3.png"
									alt="doc"
								/>
								<p class="card-consult__doc-name">
									Родионов<br />
									Максим Викторович
								</p>
							</div>
							<div class="card-consult__price-block">
								<span class="card-consult__price">5 000 ₽</span>
								<button
									class="btn-reset_new btn-blue_new card-consult__btn-rec"
								>
									Записаться
								</button>
							</div>
						</div>
					</div>
					<div class="swiper-slide card-consult">
						<p class="card-consult__title">
							Приём заведующего отделением онкологии
						</p>
						<div class="card-consult__bottom">
							<div class="card-consult__doc-block">
								<img
									class="card-consult__doc-icon"
									src="img/doc-icon-1.png"
									alt="doc"
								/>
								<p class="card-consult__doc-name">
									Романова<br />
									Светлана Евгеньевна
								</p>
							</div>
							<div class="card-consult__price-block">
								<span class="card-consult__price">5 000 ₽</span>
								<button
									class="btn-reset_new btn-blue_new card-consult__btn-rec"
								>
									Записаться
								</button>
							</div>
						</div>
					</div>
					<div class="swiper-slide card-consult">
						<p class="card-consult__title">Приём врача-онколога</p>
						<div class="card-consult__bottom">
							<div class="card-consult__doc-block">
								<img
									class="card-consult__doc-icon"
									src="img/doc-icon-2.png"
									alt="doc"
								/>
								<p class="card-consult__doc-name">
									Колесник<br />
									Елизавета Евгеньевна
								</p>
							</div>
							<div class="card-consult__price-block">
								<span class="card-consult__price">3 500 ₽</span>
								<button
									class="btn-reset_new btn-blue_new card-consult__btn-rec"
								>
									Записаться
								</button>
							</div>
						</div>
					</div>
					<div class="swiper-slide card-consult">
						<p class="card-consult__title">
							Приём ведущего специалиста лучевой диагностики
						</p>
						<div class="card-consult__bottom">
							<div class="card-consult__doc-block">
								<img
									class="card-consult__doc-icon"
									src="img/doc-icon-3.png"
									alt="doc"
								/>
								<p class="card-consult__doc-name">
									Родионов<br />
									Максим Викторович
								</p>
							</div>
							<div class="card-consult__price-block">
								<span class="card-consult__price">5 000 ₽</span>
								<button
									class="btn-reset_new btn-blue_new card-consult__btn-rec"
								>
									Записаться
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</li>
		<li class="services-section__services-item">
			<div class="services-section__services-item-top">
				<button class="btn-reset_new services-section__thumb-btn">
					<svg>
						<use xlink:href="img/sprite.svg#arrow-thumb"></use>
					</svg>
				</button>
				<h6 class="services-section__services-item-title">
					Онлайн-консультация<span>3</span>
				</h6>
			</div>
			<div
				class="swiper services-section__consult-swiper services-section__drop-list"
			>
				<div class="swiper-wrapper">
					<div class="swiper-slide card-consult card-consult_online">
						<p class="card-consult__title">
							Приём заведующего отделением онкологии
						</p>
						<div class="card-consult__bottom">
							<div class="card-consult__doc-block">
								<img
									class="card-consult__doc-icon"
									src="img/doc-icon-1.png"
									alt="doc"
								/>
								<p class="card-consult__doc-name">
									Романова<br />
									Светлана Евгеньевна
								</p>
							</div>
							<div class="card-consult__price-block">
								<span class="card-consult__price">5 000 ₽</span>
								<button
									class="btn-reset_new btn-blue_new card-consult__btn-rec"
								>
									Записаться
								</button>
							</div>
						</div>
					</div>
					<div class="swiper-slide card-consult card-consult_online">
						<p class="card-consult__title">Приём врача-онколога</p>
						<div class="card-consult__bottom">
							<div class="card-consult__doc-block">
								<img
									class="card-consult__doc-icon"
									src="img/doc-icon-2.png"
									alt="doc"
								/>
								<p class="card-consult__doc-name">
									Колесник<br />
									Елизавета Евгеньевна
								</p>
							</div>
							<div class="card-consult__price-block">
								<span class="card-consult__price">3 500 ₽</span>
								<button
									class="btn-reset_new btn-blue_new card-consult__btn-rec"
								>
									Записаться
								</button>
							</div>
						</div>
					</div>
					<div class="swiper-slide card-consult card-consult_online">
						<p class="card-consult__title">
							Приём ведущего специалиста лучевой диагностики
						</p>
						<div class="card-consult__bottom">
							<div class="card-consult__doc-block">
								<img
									class="card-consult__doc-icon"
									src="img/doc-icon-3.png"
									alt="doc"
								/>
								<p class="card-consult__doc-name">
									Родионов<br />
									Максим Викторович
								</p>
							</div>
							<div class="card-consult__price-block">
								<span class="card-consult__price">5 000 ₽</span>
								<button
									class="btn-reset_new btn-blue_new card-consult__btn-rec"
								>
									Записаться
								</button>
							</div>
						</div>
					</div>
					<div class="swiper-slide services-section__consult-online">
						<p class="services-section__consult-online-title">
							Как проходит онлайн-приём
						</p>
						<p class="services-section__consult-online-text">
							Врач собирает анамнез, оценивает заранее предоставленные
							документы, подтверждает или ставит дифференциальный диагноз,
							предлагает тактику лечения и обследования.
						</p>
						<button class="btn-reset_new services-section__consult-online-btn">
							кому подходит услуга?
						</button>
					</div>
				</div>
			</div>
		</li>
		<li class="services-section__services-item">
			<div class="services-section__services-item-top">
				<button class="btn-reset_new services-section__thumb-btn">
					<svg>
						<use xlink:href="img/sprite.svg#arrow-thumb"></use>
					</svg>
				</button>
				<h6 class="services-section__services-item-title">
					Процедуры<span>17</span>
				</h6>
			</div>
			<div class="swiper chemotherapy__list-swiper services-section__drop-list">
				<div class="swiper-wrapper">
					<div class="swiper-slide chemotherapy__item">
						<p class="chemotherapy__item-title">Инъекционная химиотерапия</p>
						<p class="chemotherapy__item-descr">
							Лечение злокачественных новообразование с помощью препаратов,
							которые уничтожают раковые клетки и подавляют их рост.
							Врач-онколог проводит повторную консультацию, оценивает общее
							состояние и результаты...
						</p>
						<div class="chemotherapy__item-price-block">
							<button class="btn-reset_new btn-light chemotherapy__item-btn">
								подробнее
							</button>
							<span class="chemotherapy__item-price">6 600 ₽</span>
						</div>
					</div>
					<div class="swiper-slide chemotherapy__item">
						<p class="chemotherapy__item-title">Инъекционная химиотерапия</p>
						<p class="chemotherapy__item-descr">
							Лечение злокачественных новообразование с помощью препаратов,
							которые уничтожают раковые клетки и подавляют их рост.
							Врач-онколог проводит повторную консультацию, оценивает общее
							состояние и результаты...
						</p>
						<div class="chemotherapy__item-price-block">
							<button class="btn-reset_new btn-light chemotherapy__item-btn">
								подробнее
							</button>
							<span class="chemotherapy__item-price">6 600 ₽</span>
						</div>
					</div>
				</div>
			</div>
		</li>
		<li class="services-section__services-item">
			<div class="services-section__services-item-top">
				<button class="btn-reset_new services-section__thumb-btn">
					<svg>
						<use xlink:href="img/sprite.svg#arrow-thumb"></use>
					</svg>
				</button>
				<h6 class="services-section__services-item-title">
					Инструментальная диагностика<span>9</span>
				</h6>
			</div>
			<div class="swiper chemotherapy__list-swiper services-section__drop-list">
				<div class="swiper-wrapper">
					<div class="swiper-slide chemotherapy__item">
						<p class="chemotherapy__item-title">Инъекционная химиотерапия</p>
						<p class="chemotherapy__item-descr">
							Лечение злокачественных новообразование с помощью препаратов,
							которые уничтожают раковые клетки и подавляют их рост.
							Врач-онколог проводит повторную консультацию, оценивает общее
							состояние и результаты...
						</p>
						<div class="chemotherapy__item-price-block">
							<button class="btn-reset_new btn-light chemotherapy__item-btn">
								подробнее
							</button>
							<span class="chemotherapy__item-price">6 600 ₽</span>
						</div>
					</div>
					<div class="swiper-slide chemotherapy__item">
						<p class="chemotherapy__item-title">Инъекционная химиотерапия</p>
						<p class="chemotherapy__item-descr">
							Лечение злокачественных новообразование с помощью препаратов,
							которые уничтожают раковые клетки и подавляют их рост.
							Врач-онколог проводит повторную консультацию, оценивает общее
							состояние и результаты...
						</p>
						<div class="chemotherapy__item-price-block">
							<button class="btn-reset_new btn-light chemotherapy__item-btn">
								подробнее
							</button>
							<span class="chemotherapy__item-price">6 600 ₽</span>
						</div>
					</div>
				</div>
			</div>
		</li>
		<li class="services-section__services-item">
			<div class="services-section__services-item-top">
				<button class="btn-reset_new services-section__thumb-btn">
					<svg>
						<use xlink:href="img/sprite.svg#arrow-thumb"></use>
					</svg>
				</button>
				<h6 class="services-section__services-item-title">
					Кардиохирургия<span>5</span>
				</h6>
			</div>
			<div class="swiper chemotherapy__list-swiper services-section__drop-list">
				<div class="swiper-wrapper">
					<div class="swiper-slide chemotherapy__item">
						<p class="chemotherapy__item-title">Инъекционная химиотерапия</p>
						<p class="chemotherapy__item-descr">
							Лечение злокачественных новообразование с помощью препаратов,
							которые уничтожают раковые клетки и подавляют их рост.
							Врач-онколог проводит повторную консультацию, оценивает общее
							состояние и результаты...
						</p>
						<div class="chemotherapy__item-price-block">
							<button class="btn-reset_new btn-light chemotherapy__item-btn">
								подробнее
							</button>
							<span class="chemotherapy__item-price">6 600 ₽</span>
						</div>
					</div>
					<div class="swiper-slide chemotherapy__item">
						<p class="chemotherapy__item-title">Инъекционная химиотерапия</p>
						<p class="chemotherapy__item-descr">
							Лечение злокачественных новообразование с помощью препаратов,
							которые уничтожают раковые клетки и подавляют их рост.
							Врач-онколог проводит повторную консультацию, оценивает общее
							состояние и результаты...
						</p>
						<div class="chemotherapy__item-price-block">
							<button class="btn-reset_new btn-light chemotherapy__item-btn">
								подробнее
							</button>
							<span class="chemotherapy__item-price">6 600 ₽</span>
						</div>
					</div>
				</div>
			</div>
		</li>
	</ul>
</section>
