<section class="section section_main check-up-section">
    <div class="check-up-section__content">
        <div class="check-up-section__preview">
            <div class="check-up-section__preview-container">
                <p class="check-up-section__preview-text">Check-up онкологический</p>
                <span class="check-up-section__preview-price">15 000 ₽</span>
            </div>
            <img src="img/check-up-photo.png" alt="check-up">
        </div>
        <div class="check-up-section__info">
            <h4 class="check-up-section__info-title">Ежегодное обследование помогает выявить скрытые новообразования
            </h4>
            <p class="check-up-section__info-text">Check-up проводится за один визит в клинику.</p>
            <ul title="В него входит:" class="list-reset check-up-section__list">
                <li class="check-up-section__item">осмотр у врача-онколога;</li>
                <li class="check-up-section__item">УЗИ брюшной полости;</li>
                <li class="check-up-section__item">рентген грудной клетки в трех проекциях;</li>
                <li class="check-up-section__item">общеклинический и биохимический анализ крови (13 показателей),
                    лейкограмма;</li>
                <li class="check-up-section__item">заключение и рекомендации врача-онколога.</li>
            </ul>
            <p class="check-up-section__info-text">
                Регулярная диагностика ‒ залог здоровья питомца и ваших долгих совместных лет жизни.
            </p>
            <div class="check-up-section__info-bottom">
                <div class="check-up-section__btns-block">
                    <button class="btn-reset_new btn-blue_new check-up-section__btn-rec">Записаться</button>
                    <a href="" class="a btn-light check-up-section__link-detail">Подробнее</a>
                </div>
                <img class="check-up-section__logo" src="img/small-logo.png" alt="">
            </div>
        </div>
    </div>
</section>
