<section class="section diagnostics-section">
    <h4 class="section-title diagnostics-section__section-title">Диагностика онкологии у домашних питомцев</h4>
    <div class="diagnostics-section__content">
        <div class="diagnostics-section__info">
            <h5 class="diagnostics-section__info-title">Диагностика опухолей<br />у животных</h5>
            <p class="diagnostics-section__info-text">
                От качества и скорости диагностики зависит, насколько эффективным будет лечение и благоприятным —
                прогноз. В клинике предусмотрены новейшее оборудование и качественные реагенты, а врачи визуальной
                диагностики и врачи-лаборанты обладают высокой квалификацией.
            </p>
            <p class="diagnostics-section__info-text">
                В ветеринарии используется классификация стадии рака TNM, которая описывает состояние опухоли, поражение
                ближайших лимфатических узлов и внутренних органов. Согласно статистике, рак на начальной стадии чаще
                всего излечим. На третьей стадии врачи могут бороться за то, чтобы продлить жизнь питомца и улучшить ее
                качество. А на четвертой — облегчить состояние животного.
            </p>
            <h6 class="diagnostics-section__info-list-title">Процент выживаемости при ранней диагностике рака</h6>
            <ul class="list-reset diagnostics-section__info-list">
                <li class="diagnostics-section__info-item">
                    <img src="img/diagnostics-1.svg" alt="diagnostics-1">
                </li>
                <li class="diagnostics-section__info-item">
                    <img src="img/diagnostics-2.svg" alt="diagnostics-2">
                </li>
                <li class="diagnostics-section__info-item">
                    <img src="img/diagnostics-3.svg" alt="diagnostics-3">
                </li>
                <li class="diagnostics-section__info-item">
                    <img src="img/diagnostics-4.svg" alt="diagnostics-4">
                </li>
            </ul>
        </div>
        <div class="diagnostics-section__img-wrapper">
            <img src="img/diagnostics-photo.png" alt="diagnostics-photo" class="diagnostics-section__photo">
        </div>
    </div>
    <div class="swiper diagnostics-section__swiper" style="visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 207, 0, 1);">
        <div class="swiper-wrapper">
            <div class="swiper-slide card-diagnostics">
                <p class="card-diagnostics__title">Визуальная диагностика</p>
                <div>
                    <p class="card-diagnostics__text">
                        МРТ, КТ, УЗИ, рентгенография: определение локализации и размера опухоли, степени поражения
                        лимфатических узлов и других органов.
                    </p>
                    <div class="card-diagnostics__info_bottom">
                        <p class="card-diagnostics__price">от 800 ₽</p>
                        <a href="" class="a card-diagnostics__detail">Подробнее</a>
                    </div>
                </div>

            </div>
            <div class="swiper-slide card-diagnostics">
                <p class="card-diagnostics__title">Лабораторные исследования</p>
                <div>
                    <p class="card-diagnostics__text">
                        Анализы крови и других биоматериалов: выявление сопутствующих заболеваний, контроль состояния
                        до,<br />
                        во время и после лечения.
                    </p>
                    <div class="card-diagnostics__info_bottom">
                        <p class="card-diagnostics__price">от 300 ₽</p>
                        <a href="" class="a card-diagnostics__detail">Подробнее</a>
                    </div>
                </div>
            </div>
            <div class="swiper-slide card-diagnostics">
                <p class="card-diagnostics__title">Цитологические исследования</p>
                <div>
                    <p class="card-diagnostics__text">
                        Изучение клеток: определение вида новообразования — злокачественный<br />
                        или доброкачественный,<br />
                        а также неопухолевых образований.
                    </p>
                    <div class="card-diagnostics__info_bottom">
                        <p class="card-diagnostics__price">от 600 ₽</p>
                        <a href="" class="a card-diagnostics__detail">Подробнее</a>
                    </div>
                </div>
            </div>
            <div class="swiper-slide card-diagnostics">
                <p class="card-diagnostics__title">Гистология и иммуногистохимия</p>
                <div>
                    <p class="card-diagnostics__text">
                        Изучение среза ткани под микроскопом: постановка точного диагноза, определение прогноза течения
                        заболевания, выбор тактики лечения.
                    </p>
                    <div class="card-diagnostics__info_bottom">
                        <p class="card-diagnostics__price">от 2 500 ₽</p>
                        <a href="" class="a card-diagnostics__detail">Подробнее</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>