<footer class="footer">
  <div class="footer__container">
    <div class="footer__top">
      <img class="footer__logo" src="img/svg/white-logo.svg" alt="logo" class="footer__logo">
      <ul class="list-reset footer__address-list">
        <li title="Адрес:" class="footer__address-item"><a href="" class="a">Москва, Зубарев переулок, д. 7</a></li>
        <li title="Телефон:" class="footer__address-item"><a href="" class="a">+7 495 120-48-95</a></li>
      </ul>
      <div class="footer__working-hours">
        <img src="../img/svg/footer-hours.svg" alt="hours">
        <span class="footer__working-hours-text">Работаем Круглосуточно</span>
      </div>
      <ul class="list-reset footer__nav-list">
        <li class="footer__nav-item" style="visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -211.039, 0, 0, 1);"><a href="" class="a">Главная</a></li>
        <li class="footer__nav-item" style="visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -211.039, 0, 0, 1);"><a href="" class="a">О нас</a></li>
        <li class="footer__nav-item" style="visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -211.039, 0, 0, 1);"><a href="" class="a">Услуги</a></li>
        <li class="footer__nav-item" style="visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -211.039, 0, 0, 1);"><a href="" class="a">Наши врачи</a></li>
        <li class="footer__nav-item" style="visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -211.039, 0, 0, 1);"><a href="" class="a">Спецпредложения</a></li>
        <li class="footer__nav-item" style="visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -211.039, 0, 0, 1);"><a href="" class="a">База знаний</a></li>
        <li class="footer__nav-item" style="visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -211.039, 0, 0, 1);"><a href="" class="a">Вакансии</a></li>
        <li class="footer__nav-item" style="visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -211.039, 0, 0, 1);"><a href="" class="a">Контакты</a></li>
      </ul>
      <form action="" class="footer__form">
        <p class="footer__form-title">Подпишитесь на нашу рассылку:</p>
        <div class="footer__filed-wrapper">
          <input id="footer-email" type="email" placeholder="Ваш email" class="input-reset footer__filed">
          <button class="btn-reset_new btn-blue_new btn-disabled footer__btn-sub">Подписаться</button>
        </div>
      </form>
      <ul class="list-reset footer__social-list">
        <li class="footer__social-item">
          <img class="footer__logo" src="img/svg/white-logo.svg" alt="logo" class="footer__logo">
        </li>
        <li class="footer__social-item">
          <a href="" class="a">
            <img src="img/svg/telegram.svg" alt="telegram">
          </a>
        </li>
        <li class="footer__social-item">
          <a href="" class="a">
            <img src="img/svg/vk.svg" alt="telegram">
          </a>
        </li>
      </ul>
    </div>
    <div class="footer__bottom">
      <span class="footer__copyright">2023 © ООО «Вет Сити Центр»</span>
      <img src="img/skam.svg" alt="skam">
    </div>
  </div>
</footer>
