<header class="header">
  <div class="header__top">
    <div class="container_new header__top-container">
      <div class="header__search-block">
        <form action="" class="header__search-form">
          <input type="text" class="input-reset header__search-field" placeholder="Поиск">
          <button class="btn-reset_new header__search-btn"></button>
        </form>
        <!-- <a href="" class="a btn-tr header__btn-rec">
          <span>Запись</span>
        </a> -->
        <a href="tel:+74951504881" class="a btn-blue_new header__btn-call">
          <span>Позвонить</span>
        </a>
      </div>
      <ul class="list-reset header__info-list">
        <li class="header__info-time">Круглосуточно</li>
        <li class="header__info-tel">
          <a href="tel:+7 495 126-82-90" class="a">+7 495 126-82-90</a>
        </li>
        <li class="header__info-address">
          <a href="/contacts/" class="a">Москва, Зубарев переулок, д. 7</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="container">
    <a href="/" class="a header__logo"></a>
    <a href="javascript:void(0);" class="a header__burger"></a>
  </div>
</header>
