<section class="section section_header main-header_new">
<div class="main-header_new__container">
    <ul class="list-reset breadcrumbs main-header_new__breadcrumbs">
        <li class="breadcrumbs__item"><a href="/" class="a">Главная</a></li>
        <li class="breadcrumbs__item"><a href="/services/" class="a">Отделения</a></li>
        <li class="breadcrumbs__item">Онкология</li>
    </ul>
    <h2 class="main-header_new__title">Онкологическое отделение для животных</h2>
    <label class="main-header_new__services">направление работы</label>
    <h4 class="main-header_new__subtitle">Диагностика и лечение новообразований у питомцев</h4>
</div>
</section>
