<section class="section section_main methods-section">
    <h4 class="section-title methods-section__section-title">Методы лечения онкологии в Vetcity</h4>
    <div class="methods-section__content">
        <div class="methods-section__info">
            <h5 class="methods-section__title">Методы лечения рака<br /> у животных</h5>
            <p class="methods-section__text">
                Базовый метод лечения опухолей у собак и кошек — хирургическое удаление. В Vetcity работают хирургические
                бригады во главе с опытными хирургами, которые проводят операции самой разной сложности: как для
                поверхностных новообразований, так и в брюшной, грудной, ротовой и других полостях. После операции пациентов
                перемещают под наблюдение в комфортные стационары.
            </p>
            <p class="methods-section__text">
                Хирургического удаления достаточно для полного излечения
                при доброкачественных опухолях, а при злокачественных новообразованиях, как правило, требуется
                дополнительная терапия.
            </p>
        </div>
        <ul class="list-reset methods-section__price-list">
            <li class="methods-section__item">
                <div class="methods-section__item-info">
                    <div class="methods-section__item-top">
                        <h6 class="methods-section__item-title">Онкохирургия</h6>
                        <span class="methods-section__item-price">от 18 000 ₽</span>
                    </div>
                    <p class="methods-section__item-descr">
                        Базовый метод лечения онкологии – операция по удалению новообразования.
                    </p>
                </div>
                <a href="" class="a btn-light methods-section__item-link">подробнее</a>
                <a href="" class="a btn-blue_new methods-section__item-link-blue">
                    <img src="img/arrow.svg" alt="">
                </a>
            </li>
            <li class="methods-section__item">
                <div class="methods-section__item-info">
                    <div class="methods-section__item-top">
                        <h6 class="methods-section__item-title">Химиотерапия</h6>
                        <span class="methods-section__item-price">от 5 500 ₽</span>
                    </div>
                    <p class="methods-section__item-descr">
                        Ведение специальных препаратов для уничтожения раковых клеток.
                    </p>
                </div>
                <a href="" class="a btn-light methods-section__item-link">подробнее</a>
                <a href="" class="a btn-blue_new methods-section__item-link-blue">
                    <img src="img/arrow.svg" alt="">
                </a>
            </li>
            <li class="methods-section__item">
                <div class="methods-section__item-info">
                    <div class="methods-section__item-top">
                        <h6 class="methods-section__item-title">Криодиструкция </h6>
                        <span class="methods-section__item-price">от 4 000 ₽</span>
                    </div>
                    <p class="methods-section__item-descr">
                        Удаление небольших поверхностных образований на коже с применением жидкого азота.
                    </p>
                </div>
                <a href="" class="a btn-light methods-section__item-link">подробнее</a>
                <a href="" class="a btn-blue_new methods-section__item-link-blue">
                    <img src="img/arrow.svg" alt="">
                </a>
            </li>
        </ul>
    </div>
</section>
