<section class="rec-section">
    <div class="rec-section__content">
        <div class="rec-section__left">
            <h4 class="section-title">Запись на прием</h4>
        </div>
        <form action="" class="rec-section__form">
            <div class="rec-section__form-top">
                <p class="rec-section__form-title">Запись на прием</p>
                <div class="rec-section__field-wrapper">
                    <input id="rec-name" type="text" placeholder="Имя" class="input-reset rec-section__field">
                </div>
                <div class="rec-section__field-wrapper">
                    <input id="rec-tel" type="tel" class="input-reset rec-section__field">
                    <p class="rec-section__field-placeholder rec-section__placeholder-tel"><span>+7</span> (999) 999-99-99</p>
                </div>
                <p class="rec-section__confidentiality">
                    Нажимая на кнопку «Записаться», вы соглашаетесь <a href="" class="a">с политикой
                        конфиденциальности.</a>
                </p>
            </div>
            <button class="btn-reset_new btn-light btn-disabled-rec rec-section__btn-sub">отправить</button>
        </form>
    </div>
</section>
