<section class="section related-services-section">
  <div class="related-services-section__header">
    <h4 class="section-title">Сопутствующие услуги</h4>
  </div>
  <ul class="list-reset services-section__services-list">
    <li class="services-section__services-item">
      <div class="services-section__services-item-top">
        <button class="btn-reset_new services-section__thumb-btn">
          <svg>
            <use xlink:href="img/sprite.svg#arrow-thumb"></use>
          </svg>
        </button>
        <h6 class="services-section__services-item-title">Онкохирургия<span>5</span></h6>
      </div>
      <div class="swiper other__list-swiper services-section__drop-list">
        <div class="swiper-wrapper">
          <div class="swiper-slide chemotherapy__item">
            <p class="chemotherapy__item-title">Адреналэктомия с венотомией (при наличии инвазий)</p>
            <div class="chemotherapy__item-price-block">
              <button class="btn-reset_new btn-light chemotherapy__item-btn">подробнее</button>
              <span class="chemotherapy__item-price">55 100 ₽</span>
            </div>
          </div>
          <div class="swiper-slide chemotherapy__item">
            <p class="chemotherapy__item-title">Ампутация пальца при новообразовании с лимфаденоэктомии</p>
            <div class="chemotherapy__item-price-block">
              <button class="btn-reset_new btn-light chemotherapy__item-btn">подробнее</button>
              <span class="chemotherapy__item-price">38 100 ₽</span>
            </div>
          </div>
          <div class="swiper-slide chemotherapy__item">
            <p class="chemotherapy__item-title">Ампутация пальца при новообразовании у кошки</p>
            <div class="chemotherapy__item-price-block">
              <button class="btn-reset_new btn-light chemotherapy__item-btn">подробнее</button>
              <span class="chemotherapy__item-price">23 100 ₽</span>
            </div>
          </div>
          <div class="swiper-slide chemotherapy__item">
            <p class="chemotherapy__item-title">Ампутация пальца при новообразовании у собаки</p>
            <div class="chemotherapy__item-price-block">
              <button class="btn-reset_new btn-light chemotherapy__item-btn">подробнее</button>
              <span class="chemotherapy__item-price">35 100 ₽</span>
            </div>
          </div>
          <div class="swiper-slide chemotherapy__item">
            <p class="chemotherapy__item-title">Ампутация хвоста при новообразовании</p>
            <div class="chemotherapy__item-price-block">
              <button class="btn-reset_new btn-light chemotherapy__item-btn">подробнее</button>
              <span class="chemotherapy__item-price">25 100 ₽</span>
            </div>
          </div>
          <div class="swiper-slide chemotherapy__item">
            <p class="chemotherapy__item-title">Иссечение опухоли кожи до 3 см</p>
            <div class="chemotherapy__item-price-block">
              <button class="btn-reset_new btn-light chemotherapy__item-btn">подробнее</button>
              <span class="chemotherapy__item-price">22 100 ₽</span>
            </div>
          </div>
          <div class="swiper-slide chemotherapy__item">
            <p class="chemotherapy__item-title">Иссечение опухоли кожи от 3 до 5 см</p>
            <div class="chemotherapy__item-price-block">
              <button class="btn-reset_new btn-light chemotherapy__item-btn">подробнее</button>
              <span class="chemotherapy__item-price">33 100 ₽</span>
            </div>
          </div>
          <div class="swiper-slide chemotherapy__item">
            <p class="chemotherapy__item-title">Иссечение опухоли кожи от 5 до 10 см</p>
            <div class="chemotherapy__item-price-block">
              <button class="btn-reset_new btn-light chemotherapy__item-btn">подробнее</button>
              <span class="chemotherapy__item-price">36 100 ₽</span>
            </div>
          </div>
          <div class="swiper-slide chemotherapy__item">
            <p class="chemotherapy__item-title">Иссечение опухоли кожи, множественные новообразования
              (морфология оплачивается отдельно)</p>
            <div class="chemotherapy__item-price-block">
              <button class="btn-reset_new btn-light chemotherapy__item-btn">подробнее</button>
              <span class="chemotherapy__item-price">39 000 ₽</span>
            </div>
          </div>
          <div class="swiper-slide chemotherapy__item">
            <p class="chemotherapy__item-title">Иссечение опухоли мягк. тканей с пластикой кожи -
              ротационным лоскутом</p>
            <div class="chemotherapy__item-price-block">
              <button class="btn-reset_new btn-light chemotherapy__item-btn">подробнее</button>
              <span class="chemotherapy__item-price">62 100 ₽</span>
            </div>
          </div>
          <div class="swiper-slide chemotherapy__item">
            <p class="chemotherapy__item-title">Иссечение опухоли мягк. тканей с пластикой кожи - свободная
              пластика</p>
            <div class="chemotherapy__item-price-block">
              <button class="btn-reset_new btn-light chemotherapy__item-btn">подробнее</button>
              <span class="chemotherapy__item-price">62 100 ₽</span>
            </div>
          </div>
          <div class="swiper-slide chemotherapy__item">
            <p class="chemotherapy__item-title">Иссечение опухоли мягк. тканей с пластикой кожи (I этап)</p>
            <div class="chemotherapy__item-price-block">
              <button class="btn-reset_new btn-light chemotherapy__item-btn">подробнее</button>
              <span class="chemotherapy__item-price">43 100 ₽</span>
            </div>
          </div>
          <div class="swiper-slide chemotherapy__item">
            <p class="chemotherapy__item-title">Иссечение опухоли мягк. тканей с пластикой кожи (II этап -
              закрытие дефекта лоскутом)</p>
            <div class="chemotherapy__item-price-block">
              <button class="btn-reset_new btn-light chemotherapy__item-btn">подробнее</button>
              <span class="chemotherapy__item-price">24 000 ₽</span>
            </div>
          </div>
          <div class="swiper-slide chemotherapy__item">
            <p class="chemotherapy__item-title">Иссечение опухоли мягких тканей более 10 см</p>
            <div class="chemotherapy__item-price-block">
              <button class="btn-reset_new btn-light chemotherapy__item-btn">подробнее</button>
              <span class="chemotherapy__item-price">47 100 ₽</span>
            </div>
          </div>
          <div class="swiper-slide chemotherapy__item">
            <p class="chemotherapy__item-title">Иссечение опухоли мягких тканей до 5 см</p>
            <div class="chemotherapy__item-price-block">
              <button class="btn-reset_new btn-light chemotherapy__item-btn">подробнее</button>
              <span class="chemotherapy__item-price">42 100 ₽</span>
            </div>
          </div>
          <div class="swiper-slide chemotherapy__item">
            <p class="chemotherapy__item-title">Иссечение опухоли мягких тканей от 5 до 10 см</p>
            <div class="chemotherapy__item-price-block">
              <button class="btn-reset_new btn-light chemotherapy__item-btn">подробнее</button>
              <span class="chemotherapy__item-price">45 100 ₽</span>
            </div>
          </div>
          <div class="swiper-slide chemotherapy__item">
            <p class="chemotherapy__item-title">Лампэктомия</p>
            <div class="chemotherapy__item-price-block">
              <button class="btn-reset_new btn-light chemotherapy__item-btn">подробнее</button>
              <span class="chemotherapy__item-price">24 100 ₽</span>
            </div>
          </div>
          <div class="swiper-slide chemotherapy__item">
            <p class="chemotherapy__item-title">Мастэктомия регионарная собаки до 10 кг</p>
            <div class="chemotherapy__item-price-block">
              <button class="btn-reset_new btn-light chemotherapy__item-btn">подробнее</button>
              <span class="chemotherapy__item-price">31 100 ₽</span>
            </div>
          </div>
          <div class="swiper-slide chemotherapy__item">
            <p class="chemotherapy__item-title">Мастэктомия регионарная собаки 11-30 кг</p>
            <div class="chemotherapy__item-price-block">
              <button class="btn-reset_new btn-light chemotherapy__item-btn">подробнее</button>
              <span class="chemotherapy__item-price">36 100 ₽</span>
            </div>
          </div>
          <div class="swiper-slide chemotherapy__item">
            <p class="chemotherapy__item-title">Мастэктомия регионарная собаки до 10 кг</p>
            <div class="chemotherapy__item-price-block">
              <button class="btn-reset_new btn-light chemotherapy__item-btn">подробнее</button>
              <span class="chemotherapy__item-price">31 100 ₽</span>
            </div>
          </div>
          <div class="swiper-slide chemotherapy__item">
            <p class="chemotherapy__item-title">Мастэктомия регионарная собаки 31+ кг</p>
            <div class="chemotherapy__item-price-block">
              <button class="btn-reset_new btn-light chemotherapy__item-btn">подробнее</button>
              <span class="chemotherapy__item-price">42 100 ₽</span>
            </div>
          </div>
          <div class="swiper-slide chemotherapy__item">
            <p class="chemotherapy__item-title">Мастэктомия субтотальная</p>
            <div class="chemotherapy__item-price-block">
              <button class="btn-reset_new btn-light chemotherapy__item-btn">подробнее</button>
              <span class="chemotherapy__item-price">45 100 ₽</span>
            </div>
          </div>
          <div class="swiper-slide chemotherapy__item">
            <p class="chemotherapy__item-title">Мастэктомия унилатеральная кошки и собаки до 10 кг</p>
            <div class="chemotherapy__item-price-block">
              <button class="btn-reset_new btn-light chemotherapy__item-btn">подробнее</button>
              <span class="chemotherapy__item-price">45 100 ₽</span>
            </div>
          </div>
          <div class="swiper-slide chemotherapy__item">
            <p class="chemotherapy__item-title">Мастэктомия унилатеральная собаки 11-30 кг</p>
            <div class="chemotherapy__item-price-block">
              <button class="btn-reset_new btn-light chemotherapy__item-btn">подробнее</button>
              <span class="chemotherapy__item-price">48 100 ₽</span>
            </div>
          </div>
          <div class="swiper-slide chemotherapy__item">
            <p class="chemotherapy__item-title">Мастэктомия унилатеральная собаки 31+ кг</p>
            <div class="chemotherapy__item-price-block">
              <button class="btn-reset_new btn-light chemotherapy__item-btn">подробнее</button>
              <span class="chemotherapy__item-price">52 100 ₽</span>
            </div>
          </div>
          <div class="swiper-slide chemotherapy__item">
            <p class="chemotherapy__item-title">Простая мастэктомия (удаление 1 пакета молочной
              железы)/лампэктомия</p>
            <div class="chemotherapy__item-price-block">
              <button class="btn-reset_new btn-light chemotherapy__item-btn">подробнее</button>
              <span class="chemotherapy__item-price">24 100 ₽</span>
            </div>
          </div>
          <div class="swiper-slide chemotherapy__item">
            <p class="chemotherapy__item-title">Ринотомия с экскохлеацией опухоли / содержимого</p>
            <div class="chemotherapy__item-price-block">
              <button class="btn-reset_new btn-light chemotherapy__item-btn">подробнее</button>
              <span class="chemotherapy__item-price">46 100 ₽</span>
            </div>
          </div>
          <div class="swiper-slide chemotherapy__item">
            <p class="chemotherapy__item-title">Простая мастэктомия (удаление 1 пакета молочной
              железы)/лампэктомия</p>
            <div class="chemotherapy__item-price-block">
              <button class="btn-reset_new btn-light chemotherapy__item-btn">подробнее</button>
              <span class="chemotherapy__item-price">24 100 ₽</span>
            </div>
          </div>
          <div class="swiper-slide chemotherapy__item">
            <p class="chemotherapy__item-title">Удаление липомы до 5 см</p>
            <div class="chemotherapy__item-price-block">
              <button class="btn-reset_new btn-light chemotherapy__item-btn">подробнее</button>
              <span class="chemotherapy__item-price">23 100 ₽</span>
            </div>
          </div>
          <div class="swiper-slide chemotherapy__item">
            <p class="chemotherapy__item-title">Удаление липомы от 5 до 10 см</p>
            <div class="chemotherapy__item-price-block">
              <button class="btn-reset_new btn-light chemotherapy__item-btn">подробнее</button>
              <span class="chemotherapy__item-price">27 100 ₽</span>
            </div>
          </div>
          <div class="swiper-slide chemotherapy__item">
            <p class="chemotherapy__item-title">Удаление липомы свыше 10 см</p>
            <div class="chemotherapy__item-price-block">
              <button class="btn-reset_new btn-light chemotherapy__item-btn">подробнее</button>
              <span class="chemotherapy__item-price">35 100 ₽</span>
            </div>
          </div>
          <div class="swiper-slide chemotherapy__item">
            <p class="chemotherapy__item-title">Удаление опухоли средостения</p>
            <div class="chemotherapy__item-price-block">
              <button class="btn-reset_new btn-light chemotherapy__item-btn">подробнее</button>
              <span class="chemotherapy__item-price">50 100 ₽</span>
            </div>
          </div>
          <div class="swiper-slide chemotherapy__item">
            <p class="chemotherapy__item-title">Удаление параанальных синусов при новообразованиях</p>
            <div class="chemotherapy__item-price-block">
              <button class="btn-reset_new btn-light chemotherapy__item-btn">подробнее</button>
              <span class="chemotherapy__item-price">41 100 ₽</span>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="services-section__services-item">
      <div class="services-section__services-item-top">
        <button class="btn-reset_new services-section__thumb-btn">
          <svg>
            <use xlink:href="img/sprite.svg#arrow-thumb"></use>
          </svg>
        </button>
        <h6 class="services-section__services-item-title">Диагностические операции<span>5</span></h6>
      </div>
      <div class="swiper other__list-swiper services-section__drop-list">
        <div class="swiper-wrapper">
          <div class="swiper-slide chemotherapy__item">
            <p class="chemotherapy__item-title">Диагностическая лапаротомия</p>
            <div class="chemotherapy__item-price-block">
              <button class="btn-reset_new btn-light chemotherapy__item-btn">подробнее</button>
              <span class="chemotherapy__item-price">24 100 ₽</span>
            </div>
          </div>
          <div class="swiper-slide chemotherapy__item">
            <p class="chemotherapy__item-title">Открытая биопсия / инцизионная биопсия поверхностно
              расположенных новообразований</p>
            <div class="chemotherapy__item-price-block">
              <button class="btn-reset_new btn-light chemotherapy__item-btn">подробнее</button>
              <span class="chemotherapy__item-price">22 100 ₽</span>
            </div>
          </div>
          <div class="swiper-slide chemotherapy__item">
            <p class="chemotherapy__item-title">Открытая портография</p>
            <div class="chemotherapy__item-price-block">
              <button class="btn-reset_new btn-light chemotherapy__item-btn">подробнее</button>
              <span class="chemotherapy__item-price">27 100 ₽</span>
            </div>
          </div>
          <div class="swiper-slide chemotherapy__item">
            <p class="chemotherapy__item-title">Панч биопсия</p>
            <div class="chemotherapy__item-price-block">
              <button class="btn-reset_new btn-light chemotherapy__item-btn">подробнее</button>
              <span class="chemotherapy__item-price">15 100 ₽</span>
            </div>
          </div>
          <div class="swiper-slide chemotherapy__item">
            <p class="chemotherapy__item-title">Пункция костного мозга</p>
            <div class="chemotherapy__item-price-block">
              <button class="btn-reset_new btn-light chemotherapy__item-btn">подробнее</button>
              <span class="chemotherapy__item-price">20 100 ₽</span>
            </div>
          </div>
          <div class="swiper-slide chemotherapy__item">
            <p class="chemotherapy__item-title">Субокципитальная пункция</p>
            <div class="chemotherapy__item-price-block">
              <button class="btn-reset_new btn-light chemotherapy__item-btn">подробнее</button>
              <span class="chemotherapy__item-price">13 100 ₽</span>
            </div>
          </div>
          <div class="swiper-slide chemotherapy__item">
            <p class="chemotherapy__item-title">Толстоигольная биопсия (трепан/трукат)</p>
            <div class="chemotherapy__item-price-block">
              <button class="btn-reset_new btn-light chemotherapy__item-btn">подробнее</button>
              <span class="chemotherapy__item-price">17 100 ₽</span>
            </div>
          </div>
          <div class="swiper-slide chemotherapy__item">
            <p class="chemotherapy__item-title">Тонкоигольная биопсия* (в стоимость входит: анестезия,
              цитология, визуальный контроль)</p>
            <div class="chemotherapy__item-price-block">
              <button class="btn-reset_new btn-light chemotherapy__item-btn">подробнее</button>
              <span class="chemotherapy__item-price">12 100 ₽</span>
            </div>
          </div>
          <div class="swiper-slide chemotherapy__item">
            <p class="chemotherapy__item-title">Торакотомия диагностическая</p>
            <div class="chemotherapy__item-price-block">
              <button class="btn-reset_new btn-light chemotherapy__item-btn">подробнее</button>
              <span class="chemotherapy__item-price">30 000 ₽</span>
            </div>
          </div>
    </li>
    <li class="services-section__services-item">
      <div class="services-section__services-item-top">
        <button class="btn-reset_new services-section__thumb-btn">
          <svg>
            <use xlink:href="img/sprite.svg#arrow-thumb"></use>
          </svg>
        </button>
        <h6 class="services-section__services-item-title">Визуальная диагностика</h6>
      </div>
      <div class="swiper services-section__drop-list other__list-swiper_double">
        <div class="swiper-wrapper">
          <div class="other__list-swiper_double__wrapper-block">
            <div class="swiper-slide diagnostic__item diagnostic__item_small-pd">
              <p class="diagnostic__item-title">УЗИ</p>
              <div class="diagnostic__item-price-block">
                <span class="diagnostic__item-price chemotherapy__item-price_bold">от 800 ₽</span>
              </div>
            </div>
            <div class="swiper-slide diagnostic__item diagnostic__item_small-pd">
              <p class="diagnostic__item-title">Контраст для животных</p>
              <div class="diagnostic__item-price-block">
                <span class="diagnostic__item-price chemotherapy__item-price_bold">от 1 500 ₽</span>
              </div>
            </div>
            <div class="swiper-slide diagnostic__item diagnostic__item_small-pd">
              <p class="diagnostic__item-title">Процедуры (лапароцентез, торакоцентез, и др.)</p>
              <div class="diagnostic__item-price-block">
                <span class="diagnostic__item-price chemotherapy__item-price_bold">от 1 200 ₽</span>
              </div>
            </div>
            <div class="swiper-slide diagnostic__item diagnostic__item_small-pd">
              <p class="diagnostic__item-title">Процедуры под контролем КТ</p>
              <div class="diagnostic__item-price-block">
                <span class="diagnostic__item-price chemotherapy__item-price_bold">от 2 000 ₽</span>
              </div>
            </div>
          </div>
          <div class="other__list-swiper_double__wrapper-block">
            <div class="swiper-slide diagnostic__item diagnostic__item_small-pd">
              <p class="diagnostic__item-title">МРТ</p>
              <div class="diagnostic__item-price-block">
                <span class="diagnostic__item-price chemotherapy__item-price_bold">от 10 000 ₽</span>
              </div>
            </div>
            <div class="swiper-slide diagnostic__item diagnostic__item_small-pd">
              <p class="diagnostic__item-title">Компьютерная томография отделов</p>
              <div class="diagnostic__item-price-block">
                <span class="diagnostic__item-price chemotherapy__item-price_bold">от 4 000 ₽</span>
              </div>
            </div>
            <div class="swiper-slide diagnostic__item diagnostic__item_small-pd">
              <p class="diagnostic__item-title">Рентгенография</p>
              <div class="diagnostic__item-price-block">
                <span class="diagnostic__item-price chemotherapy__item-price_bold">от 1 000 ₽</span>
              </div>
            </div>
            <div class="diagnostic__footnote ">
              <p class="diagnostic__footnote-text">Стоимость зависит от вида, веса животного и области
                обследования.</p>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="services-section__services-item">
      <div class="services-section__services-item-top">
        <button class="btn-reset_new services-section__thumb-btn">
          <svg>
            <use xlink:href="img/sprite.svg#arrow-thumb"></use>
          </svg>
        </button>
        <h6 class="services-section__services-item-title">Лабораторные исследования</h6>
      </div>
      <div class="swiper services-section__drop-list other__list-swiper_double">
        <div class="swiper-wrapper">
          <div class="other__list-swiper_double__wrapper-block">
            <div class="swiper-slide diagnostic__item diagnostic__item_small-pd">
              <p class="diagnostic__item-title">Биохимия</p>
              <div class="diagnostic__item-price-block">
                <span class="diagnostic__item-price chemotherapy__item-price_bold">от 480 ₽</span>
              </div>
            </div>
            <div class="swiper-slide diagnostic__item diagnostic__item_small-pd">
              <p class="diagnostic__item-title">Биохимия ЭКСПРЕСС</p>
              <div class="diagnostic__item-price-block">
                <span class="diagnostic__item-price chemotherapy__item-price_bold">от 1 680 ₽</span>
              </div>
            </div>
            <div class="swiper-slide diagnostic__item diagnostic__item_small-pd">
              <p class="diagnostic__item-title">Анализы мочи</p>
              <div class="diagnostic__item-price-block">
                <span class="diagnostic__item-price chemotherapy__item-price_bold">от 500 ₽</span>
              </div>
            </div>
            <div class="swiper-slide diagnostic__item diagnostic__item_small-pd">
              <p class="diagnostic__item-title">Анализы на приеме</p>
              <div class="diagnostic__item-price-block">
                <span class="diagnostic__item-price chemotherapy__item-price_bold">от 300 ₽</span>
              </div>
            </div>
            <div class="swiper-slide diagnostic__item diagnostic__item_small-pd">
              <p class="diagnostic__item-title">Гистологические исследования</p>
              <div class="diagnostic__item-price-block">
                <span class="diagnostic__item-price chemotherapy__item-price_bold">от 2 500 ₽</span>
              </div>
            </div>
            <div class="swiper-slide diagnostic__item diagnostic__item_small-pd">
              <p class="diagnostic__item-title">ПЦР</p>
              <div class="diagnostic__item-price-block">
                <span class="diagnostic__item-price chemotherapy__item-price_bold">от 900 ₽</span>
              </div>
            </div>
          </div>
          <div class="other__list-swiper_double__wrapper-block">
            <div class="swiper-slide diagnostic__item diagnostic__item_small-pd">
              <p class="diagnostic__item-title">Паразитологические исследования</p>
              <div class="diagnostic__item-price-block">
                <span class="diagnostic__item-price chemotherapy__item-price_bold">от 500 ₽</span>
              </div>
            </div>
            <div class="swiper-slide diagnostic__item diagnostic__item_small-pd">
              <p class="diagnostic__item-title">Специфические исследования</p>
              <div class="diagnostic__item-price-block">
                <span class="diagnostic__item-price chemotherapy__item-price_bold">от 1 680 ₽</span>
              </div>
            </div>
            <div class="swiper-slide diagnostic__item diagnostic__item_small-pd">
              <p class="diagnostic__item-title">Гематология</p>
              <div class="diagnostic__item-price-block">
                <span class="diagnostic__item-price chemotherapy__item-price_bold">от 2 800 ₽</span>
              </div>
            </div>
            <div class="swiper-slide diagnostic__item diagnostic__item_small-pd">
              <p class="diagnostic__item-title">Оценка напряженности иммунитета</p>
              <div class="diagnostic__item-price-block">
                <span class="diagnostic__item-price chemotherapy__item-price_bold">от 1 380 ₽</span>
              </div>
            </div>
            <div class="swiper-slide diagnostic__item diagnostic__item_small-pd">
              <p class="diagnostic__item-title">Коагулограмма</p>
              <div class="diagnostic__item-price-block">
                <span class="diagnostic__item-price chemotherapy__item-price_bold">от 1 780 ₽</span>
              </div>
            </div>
            <div class="diagnostic__footnote">
              <p class="diagnostic__footnote-text">Стоимость зависит от типа исследования.</p>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</section>
