<section class="section section_main pet-goes-section pet-goes-section_stomatology">
  <div class="methods__blue-container_small">
    <p class="methods__blue-container-title">Все как у людей</p>
    <img src="img/methods_blue-container-bg_mob.png" alt="bg">
  </div>
  <div class="pet-goes-section__title-wrapper">
    <h4 class="section-title pet-goes-section__section-title">Патологии и методы лечения</h4>
    <p class="pet-goes-section__section-text">
      Ветеринарная стоматология работает с такими же патологиями и предлагает такие же инструменты, как и в гуманной
      медицине. Благодаря передовому оборудованию, качественным материалам и опытным врачам, животные получают в Vetcity
      Clinic квалифицированную медицинскую помощь.
    </p>
  </div>
  <div class="swiper methods-swiper"
    style="visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 207, 0, 1);">
    <div class="swiper-wrapper">
      <div class="methods__blue-container">
        <p class="methods__blue-container-title">Все как у людей</p>
        <p class="methods__blue-container-text">
          Ветеринарная стоматология работает с такими же патологиями и предлагает такие же инструменты, как и
          в гуманной медицине. Благодаря передовому оборудованию, качественным материалам и опытным врачам,
          животные получают в Vetcity Clinic квалифицированную медицинскую помощь.
        </p>
        <img src="img/methods_blue-container-bg.png" alt="bg">
      </div>
      <div class="swiper-slide advantages-slide advantages-slide_surgery">
        <h4 class="advantages-slide__title">Неправильный<br /> прикус</h4>
        <p class="advantages-slide__descr">
          Установка собакам брекет-систем, ретейнеров, окклюзивных накладок
        </p>
      </div>
      <div class="swiper-slide advantages-slide advantages-slide_surgery">
        <h4 class="advantages-slide__title">Болезни<br /> десен</h4>
        <p class="advantages-slide__descr">
          Лечение пародонтита и других воспалений с помощью чистки, хирургии, лазерной терапии
        </p>
      </div>
      <div class="swiper-slide advantages-slide advantages-slide_surgery">
        <h4 class="advantages-slide__title">Зубной камень, отложения, налет</h4>
        <p class="advantages-slide__descr">
          Механическая и ультразвуковая чистка, при необходимости — с применением хирургии
        </p>
      </div>
      <div class="swiper-slide advantages-slide advantages-slide_surgery">
        <h4 class="advantages-slide__title">Подвижность<br /> зубов</h4>
        <p class="advantages-slide__descr">
          Установка собакам шины для фиксации одного зуба или целого зубного ряда
        </p>
      </div>
      <div class="swiper-slide advantages-slide advantages-slide_surgery">
        <h4 class="advantages-slide__title">Поврежденные и&nbsp;больные зубы</h4>
        <p class="advantages-slide__descr">
          Установка пломб и коронок, шлифовка сколов, лечение корневых каналов
        </p>
      </div>
      <div class="swiper-slide advantages-slide advantages-slide_surgery">
        <h4 class="advantages-slide__title">Переломы и&nbsp;вывихи челюсти</h4>
        <p class="advantages-slide__descr">
          Вправление вывиха, остеосинтез для сращивания кости у животных
        </p>
      </div>
      <div class="swiper-slide advantages-slide advantages-slide_surgery">
        <h4 class="advantages-slide__title">Повреждения<br /> эмали</h4>
        <p class="advantages-slide__descr">
          Реставрация&nbsp;и&nbsp;реминерализирующая терапия для укрепления оболочки зубов
        </p>
      </div>
      <div class="swiper-slide advantages-slide advantages-slide_surgery">
        <h4 class="advantages-slide__title">Удаление<br /> зубов</h4>
        <p class="advantages-slide__descr">
          Экстренная или плановая экстракция патологических зубов — молочных и постоянных
        </p>
      </div>
      <div class="swiper-slide advantages-slide advantages-slide_surgery">
        <h4 class="advantages-slide__title">Воспаления слизистой полости&nbsp;рта</h4>
        <p class="advantages-slide__descr">
          Лечение стоматитов у животных, в том числе с помощью лазерной терапии
        </p>
      </div>
    </div>
  </div>
</section>
