<section class="section section_main pet-goes-section">
  <div class="section-title__info-block review__page-title">
  <div>
          <h4 class="section-title">Отзывы о врачах</h4>
      <p>Вот что говорят наши пациенты о  приёмах </br>ветеринарных врачей-стоматологов в Vetcity </br>Clinic</p>
  </div>

</div>

    <div class="swiper pet-goes-section__review-swiper pet-goes-section__review-swiper_stomatology"
        style="visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 207, 0, 1);">
        <button class="btn-reset_new btn-thumb  review-slide__btn-prev">
          <svg>
            <use xlink:href="img/sprite.svg#arrow-thumb"></use>
          </svg>
        </button>
              <button class="btn-reset_new btn-thumb review-slide__btn-next">
                <svg>
                  <use xlink:href="img/sprite.svg#arrow-thumb"></use>
                </svg>
              </button>
        <div class="swiper-wrapper">
            <div class="swiper-slide review-slide review-slide_stomatology ">
              <p class="review-slide__text">
                  Огромная благодарность заведующему Стоматологии Кейдунову Олегу Игоревичу! Объяснил и рассказал
                  какая проблема у котика и удалил клык
              </p>
                <div class="review-slide__doc-block">
                  <div class="review-slide__doc-wrapper">
                      <img src="img/doc-icon-1.png" alt="doc">
                  </div>
                    <div class="review-slide__doc-info">
                        <p class="review-slide__doc-name">Кот Бонифаций</p>
                        <p class="review-slide__doc-post">и его хозяйка</p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide review-slide review-slide_stomatology">
              <p class="review-slide__text">
                  Огромная благодарность заведующему Стоматологии Кейдунову Олегу Игоревичу! Объяснил и рассказал
                  какая проблема у котика и удалил клык
              </p>
                <div class="review-slide__doc-block">
                  <div class="review-slide__doc-wrapper">
                      <img src="img/doc-icon-1.png" alt="doc">
                  </div>
                    <div class="review-slide__doc-info">
                        <p class="review-slide__doc-name">Кот Бонифаций</p>
                        <p class="review-slide__doc-post">и его хозяйка</p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide review-slide review-slide_stomatology">
              <p class="review-slide__text">
                  Огромная благодарность заведующему Стоматологии Кейдунову Олегу Игоревичу! Объяснил и рассказал
                  какая проблема у котика и удалил клык <a id="full-review-btn">Читать весь отзыв</a>
              </p>
                <div class="review-slide__doc-block">
                  <div class="review-slide__doc-wrapper">
                      <img src="img/doc-icon-1.png" alt="doc">
                  </div>
                    <div class="review-slide__doc-info">
                        <p class="review-slide__doc-name">Кот Бонифаций</p>
                        <p class="review-slide__doc-post">и его хозяйка</p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide review-slide review-slide_stomatology">
              <p class="review-slide__text">
                  Огромная благодарность заведующему Стоматологии Кейдунову Олегу Игоревичу! Объяснил и рассказал
                  какая проблема у котика и удалил клык <a id="full-review-btn">Читать весь отзыв</a>
              </p>
                <div class="review-slide__doc-block">
                  <div class="review-slide__doc-wrapper">
                      <img src="img/doc-icon-1.png" alt="doc">
                  </div>
                    <div class="review-slide__doc-info">
                        <p class="review-slide__doc-name">Кот Бонифаций</p>
                        <p class="review-slide__doc-post">и его хозяйка</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
