<section class="section stomatology-reviews-section">
  <div class="stomatology-reviews-section__info">
    <div>
      <h4 class="section-title">Отзывы о врачах</h4>
      <p>Вот что говорят наши пациенты о приёмах ветеринарных врачей-стоматологов в Vetcity Clinic</p>
    </div>
    <div class="stomatology-reviews-section__btns-block">
      <button class="btn-reset_new btn-thumb review-slide__btn-prev">
        <svg>
          <use xlink:href="img/sprite.svg#arrow-thumb"></use>
        </svg>
      </button>
      <button class="btn-reset_new btn-thumb review-slide__btn-next">
        <svg>
          <use xlink:href="img/sprite.svg#arrow-thumb"></use>
        </svg>
      </button>
    </div>
  </div>
  <div class="swiper pet-goes-section__review-swiper stomatology-reviews-section__swiper"
    style="visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 207, 0, 1);">
    <div class="swiper-wrapper">
      <div class="swiper-slide review-slide review-slide_stomatology">
        <div class="review-slide_stomatology__text-block">
          <p class="review-slide__text review-slide__text_stomatology">
            Огромная благодарность заведующему Стоматологии Кейдунову Олегу Игоревичу! Объяснил и рассказал
            какая проблема у котика и удалил клык.
          </p>
        </div>
        <div class="review-slide__doc-block">
          <div class="review-slide__doc-wrapper">
            <img src="img/doc-icon-1.png" alt="doc">
          </div>
          <div class="review-slide__doc-info">
            <p class="review-slide__doc-name">Кот Бонифаций</p>
            <p class="review-slide__doc-post">и его хозяйка</p>
          </div>
        </div>
      </div>
      <div class="swiper-slide review-slide review-slide_stomatology">
        <div class="review-slide_stomatology__text-block">
          <p class="review-slide__text review-slide__text_stomatology">
            Врач стоматолог Кулешова Виктория Андреевна потрясающе грамотный специалист, обращались к ней с прикусом
            собаки, решили устанавливать брекеты. Да, и такое случается у собак.
          </p>
        </div>
        <div class="review-slide__doc-block">
          <div class="review-slide__doc-wrapper">
            <img src="img/doc-icon-1.png" alt="doc">
          </div>
          <div class="review-slide__doc-info">
            <p class="review-slide__doc-name">Кот Бонифаций</p>
            <p class="review-slide__doc-post">и его хозяйка</p>
          </div>
        </div>
      </div>
      <div class="swiper-slide review-slide review-slide_stomatology">
        <div class="review-slide_stomatology__text-block">
          <p class="review-slide__text review-slide__text_stomatology">
            Доктор Кейдунов, выше всяких похвал.обращаемся не в первый раз, очень довольны, выражаем глубочайшую
            признательность, за проведённые процедуры с нашими собачками. Мы очень волновались, собачки у нас мини
            чихуахуа, одна из них щенок, но мы зря переживали. Доктор высочайшего класса! При этом чуткий и добрый
            человек, как к питомцам, так и к их владельцам. Редкое сочетание высокого профессионала и замечательного
            человека.
          </p>
          <btn class="btn-reset review-slide__read-all">Читать весь отзыв</>
        </div>
        <div class="review-slide__doc-block">
          <div class="review-slide__doc-wrapper">
            <img src="img/doc-icon-1.png" alt="doc">
          </div>
          <div class="review-slide__doc-info">
            <p class="review-slide__doc-name">Кот Бонифаций</p>
            <p class="review-slide__doc-post">и его хозяйка</p>
          </div>
        </div>
      </div>
      <div class="swiper-slide review-slide review-slide_stomatology">
        <div class="review-slide_stomatology__text-block">
          <p class="review-slide__text review-slide__text_stomatology">
            Кулешова Виктория Андреевна, стоматолог, лечила нашу кошку Красю, сегодня 2 день после операции, кошка
            ест,
            аппетит отличный, Надеюсь, что все хорошо заживёт. Виктория Андреевна грамотный, замечательный врач.
            Большой
            привет от Краси.
          </p>
        </div>
        <div class="review-slide__doc-block">
          <div class="review-slide__doc-wrapper">
            <img src="img/doc-icon-1.png" alt="doc">
          </div>
          <div class="review-slide__doc-info">
            <p class="review-slide__doc-name">Кот Бонифаций</p>
            <p class="review-slide__doc-post">и его хозяйка</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
