<section class="section section_main doctors-section">
	<h4 class="section-title doctors-section__section-title">
		Врачи-стоматологи Vetcity Clinic
	</h4>
	<div
		class="swiper doctors-section__doctors-swiper"
		style="
			visibility: visible;
			opacity: 0;
			transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 207, 0, 1);
		"
	>
		<div class="swiper-wrapper">
			<div class="swiper-slide card-doc_new">
				<img src="img/stomatology_doc-1.png" alt="" />
				<div class="card-doc_new__info">
					<p
						class="card-doc_new__title"
						title="Романова Светлана Евгеньевна - зав. отделением онкологии"
					>
						Кейдунов<br />
						Олег Игоревич
					</p>
					<p class="card-doc_new__text">
						Заведующий отделением стоматологии Vetcity Clinic
					</p>
					<div class="card-doc_new__info_bottom">
						<p class="card-doc_new__price">Приём: 5 000 ₽</p>
						<btn class="btn-reset_new card-doc_new__detail">Подробнее</btn>
					</div>
				</div>
			</div>
			<div class="swiper-slide card-doc_new">
				<img src="img/stomatology_doc-2.png" alt="" />
				<div class="card-doc_new__info">
					<p
						class="card-doc_new__title"
						title="Колесник Светлана Андреевна ‒ Врач-онколог"
					>
						Кулешова<br />
						Виктория Андреевна
					</p>
					<p class="card-doc_new__text">Ветеринарный врач-стоматолог</p>
					<div class="card-doc_new__info_bottom">
						<p class="card-doc_new__price">Приём: 4 000 ₽</p>
						<btn class="btn-reset_new card-doc_new__detail">Подробнее</btn>
					</div>
				</div>
			</div>
			<div class="swiper-slide docs-small-block">
				<ul
					title="Запишитесь к стоматологу, если у питомца:"
					class="list-reset docs-contact-block__list"
				>
					<li class="docs-contact-block__item">
						на теле питомца появились уплотнения или новообразования;
					</li>
					<li class="docs-contact-block__item">
						питомцу нужно пройти профилактическое обследование;
					</li>
					<li class="docs-contact-block__item">
						нужно второе мнение после обследования в сторонней клинике.
					</li>
				</ul>
				<a href="#consult" class="a docs-small-block__btn">Записаться</a>
			</div>
			<div class="docs-contact-block">
				<img class="docs-contact-block__logo" src="img/small-logo.png" alt="" />
				<div>
					<ul
						title="Запишитесь к ветеринарному стоматологу, если у кошки или собаки:"
						class="list-reset docs-contact-block__list"
					>
						<li class="docs-contact-block__item">
							неприятный запах из ротовой полости;
						</li>
						<li class="docs-contact-block__item">
							десны воспаляются и кровоточат;
						</li>
						<li class="docs-contact-block__item">
							образовался налет или камень;
						</li>
						<li class="docs-contact-block__item">скол или трещина на зубе;</li>
						<li class="docs-contact-block__item">
							молочные зубы мешают росту постоянных зубов;
						</li>
						<li class="docs-contact-block__item">
							зубной ряд деформируется, образуется скученность.
						</li>
					</ul>
					<form action="" class="docs-contact-block__form">
						<div class="docs-contact-block__filed-wrapper">
							<input
								id="tel"
								type="tel"
								class="input-reset docs-contact-block__filed"
							/>
							<p class="docs-contact-block__field-placeholder">
								<span>+7</span> (999) 999-99-99
							</p>
							<button
								type="button"
								class="btn-reset_new btn-blue_new btn-disabled docs-contact-block__btn-sub"
							>
								перезвоните мне
							</button>
						</div>
						<p class="docs-contact-block__success-sub">
							Спасибо! Мы свяжемся с вами в течение 30 минут
						</p>
						<p class="docs-contact-block__confidentiality">
							Нажимая на кнопку «Перезвоните мне», вы соглашаетесь с
							<a href="" class="a">политикой конфиденциальности.</a>
						</p>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
