<section class="section section_main about-section">
    <div class="about-section__top">
        <div class="about-section__info-block">
            <h3 class="about-section__title about-section__title_big">Лечим без боли и страха</h3>
            <p class="about-section__detail-text detail-text_surgery">
                Заботиться о зубах питомца — это не вопрос эстетики. Если вовремя не исправить проблемы, животное будет
                страдать от боли и не сможет нормально питаться. На этом фоне появляются самые разные патологии в
                организме.
            </p>
            <p class="about-section__detail-text detail-text_surgery">
                Vetcity Clinic предлагает ветеринарную стоматологию на уровне человеческой медицины. Мы занимаемся
                лечением и профилактикой заболеваний у собак и кошек. Наши ветеринарные врачи бережно относятся к
                каждому пациенту, защищая от болевых ощущений — как на обычном осмотре, так и во время сложнейших
                операций.
            </p>
        </div>
        <div class="about-section__swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide about-section__slide">
                    <img src="img/stomatology_about-slide.png" alt="">
                    <img src="img/stomatology_about-slide.png" alt="">
                </div>
            </div>
            <button class="btn-reset_new btn-thumb about-section__btn-next">
                <svg>
                    <use xlink:href="img/sprite.svg#arrow-thumb"></use>
                </svg>
            </button>
            <button class="btn-reset_new btn-thumb about-section__btn-prev">
                <svg>
                    <use xlink:href="img/sprite.svg#arrow-thumb"></use>
                </svg>
            </button>
        </div>
    </div>
    <div class="about-section__advantages-swiper"
        style="visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 207, 0, 1);">
        <div class="swiper-wrapper">
            <div class="swiper-slide advantages-slide advantages-slide_surgery">
                <h4 class="advantages-slide__title">Опытные<br /> стоматологи</h4>
                <p class="advantages-slide__descr">
                    Профессионалы, владеющие современными методами лечения
                </p>
            </div>
            <div class="swiper-slide advantages-slide advantages-slide_surgery">
                <h4 class="advantages-slide__title">Помощь любой сложности</h4>
                <p class="advantages-slide__descr">
                    От удаления мягкого налета пастой до хирургических операций
                </p>
            </div>
            <div class="swiper-slide advantages-slide advantages-slide_surgery">
                <h4 class="advantages-slide__title">Передовое<br /> оборудование</h4>
                <p class="advantages-slide__descr">
                    Рентген, КТ, микроскоп, УЗ-скейлер для чистки, лазеры для терапии и хирургии
                </p>
            </div>
            <div class="swiper-slide advantages-slide advantages-slide_surgery">
                <h4 class="advantages-slide__title">Защита от боли и стресса</h4>
                <p class="advantages-slide__descr">
                    Процедуры под общим наркозом для безопасности и эффективности лечения
                </p>
            </div>
        </div>
    </div>
</section>
