<section class="section preoperative-section">
	<h4 class="section-title preoperative-section__section-title">
		Необходимые процедуры
	</h4>
	<div class="preoperative-section__content-with-video__new">
		<div class="preoperative-section__info_small__new">
			<h5
				class="preoperative-section__info-title preoperative-section__info-title_small"
			>
				Санация ротовой полости
			</h5>
			<p class="preoperative-section__info-text">
				Уже к возрасту трех лет около 80% собак и 70% кошек имеют
				стоматологические заболевания. Они появляются из-за неправильной или
				недостаточной гигиены, несбалансированного питания, породной
				предрасположенности.
			</p>
			<p class="preoperative-section__info-text">
				Избежать серьезных проблем с зубами у животных помогает профессиональная
				чистка и диагностика. Поэтому собакам и кошкам рекомендуется регулярно
				проходить у стоматолога санацию ротовой полости (СРП).
			</p>
			<!-- </div>
		<div class="preoperative-section__middle-block"> -->
			<ul
				title="СРП — это комплекс услуг:"
				class="list-reset preoperative-section__list"
			>
				<li class="preoperative-section__item">бережная полировка эмали,</li>
				<li class="preoperative-section__item">
					снятие зубного камня ультразвуковым скейлером,
				</li>
				<li class="preoperative-section__item">
					рентген зубов для исследования костной ткани,
				</li>
				<li class="preoperative-section__item">
					хирургическое и терапевтическое лечение — при необходимости.
				</li>
			</ul>
			<div class="preoperative-section__price-block__new">
				<!-- <p class="preoperative-section__price-block-text"></p> -->
				<p class="preoperative-section__price-block-price">
					Стоимость услуги: от 21 000 ₽
				</p>
			</div>
		</div>
		<div class="preoperative-section__video-block__new">
			<video
				src="video-content.mp4"
				poster="../img/stomatology_video-banner.png"
				class="video preoperative-section__video"
			></video>
			<button class="btn-reset_new btn-play">
				<img src="img/svg/play.svg" alt="play" />
			</button>
		</div>
	</div>
	<hr />
</section>
