<section class="section section_main pet-goes-section">
    <h4 class="section-title pet-goes-section__section-title">Отзывы наших пациентов</h4>
    <div class="swiper pet-goes-section__review-swiper pet-goes-section__review-swiper_stomatology"
        style="visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 207, 0, 1);">
        <div class="swiper-wrapper">
            <div class="swiper-slide review-slide review-slide_stomatology">
                <p class="review-slide__title">ОТЗЫВ О ВРАЧЕ</p>
                <div class="review-slide__doc-block">
                    <div class="review-slide__doc-info">
                        <p class="review-slide__doc-name">Кейдунов<br /> Олег Игоревич</p>
                        <p class="review-slide__doc-post">Заведующий стоматологией</p>
                    </div>
                    <div class="review-slide__doc-wrapper">
                        <img src="img/doc-icon-1.png" alt="doc">
                    </div>
                </div>
                <p class="review-slide__text">
                    Огромная благодарность заведующему Стоматологии Кейдунову Олегу Игоревичу! Объяснил и рассказал
                    какая проблема у котика и удалил клык
                </p>
                <p class="review-slide__author">Хозяйка кота Бонифация</p>
            </div>
            <div class="swiper-slide review-slide review-slide_stomatology">
                <p class="review-slide__title">ОТЗЫВ О ВРАЧЕ</p>
                <div class="review-slide__doc-block">
                    <div class="review-slide__doc-info">
                        <p class="review-slide__doc-name">Кейдунов<br /> Олег Игоревич</p>
                        <p class="review-slide__doc-post">Заведующий стоматологией</p>
                    </div>
                    <div class="review-slide__doc-wrapper">
                        <img src="img/doc-icon-1.png" alt="doc">
                    </div>
                </div>
                <p class="review-slide__text">
                    Огромная благодарность заведующему Стоматологии Кейдунову Олегу Игоревичу! Объяснил и рассказал
                    какая проблема у котика и удалил клык
                </p>
                <p class="review-slide__author">Хозяйка кота Бонифация</p>
            </div>
            <div class="swiper-slide review-slide review-slide_stomatology">
                <p class="review-slide__title">ОТЗЫВ О ВРАЧЕ</p>
                <div class="review-slide__doc-block">
                    <div class="review-slide__doc-info">
                        <p class="review-slide__doc-name">Кейдунов<br /> Олег Игоревич</p>
                        <p class="review-slide__doc-post">Заведующий стоматологией</p>
                    </div>
                    <div class="review-slide__doc-wrapper">
                        <img src="img/doc-icon-1.png" alt="doc">
                    </div>
                </div>
                <p class="review-slide__text">
                    Огромная благодарность заведующему Стоматологии Кейдунову Олегу Игоревичу! Объяснил и рассказал
                    какая проблема у котика и удалил клык
                </p>
                <p class="review-slide__author">Хозяйка кота Бонифация</p>
            </div>
            <div class="swiper-slide review-slide review-slide_stomatology">
                <p class="review-slide__title">ОТЗЫВ О ВРАЧЕ</p>
                <div class="review-slide__doc-block">
                    <div class="review-slide__doc-info">
                        <p class="review-slide__doc-name">Кейдунов<br /> Олег Игоревич</p>
                        <p class="review-slide__doc-post">Заведующий стоматологией</p>
                    </div>
                    <div class="review-slide__doc-wrapper">
                        <img src="img/doc-icon-1.png" alt="doc">
                    </div>
                </div>
                <p class="review-slide__text">
                    Огромная благодарность заведующему Стоматологии Кейдунову Олегу Игоревичу! Объяснил и рассказал
                    какая проблема у котика и удалил клык
                </p>
                <p class="review-slide__author">Хозяйка кота Бонифация</p>
            </div>
        </div>
    </div>
</section>