<section class="section surgery_check-up-section">
	<div class="surgery_check-up-section__content">
		<div class="surgery_check-up-section__info">
			<h5
				class="surgery_check-up-section__info-title surgery_check-up-section__info-title_stomatology"
			>
				Подготовка к СРП за один визит в клинику
			</h5>
			<p class="surgery_check-up-section__info-text">
				Ветеринарные врачи стоматологи проводят санацию ротовой полости строго
				под общей анестезией.
				<a id="why-btn">Почему?</a>
			</p>
			<p class="surgery_check-up-section__info-text">
				Перед процедурой необходимо получить консультацию анестезиологом и
				пройти обследование, чтобы исключить риски наркоза для животного.
				Подготовить питомца к СРП можно за один визит в клинику.
			</p>
			<div
				class="docs-contact-block surgery_docs-contact-block surgery-sheck-up"
			>
				<div class="surgery_docs-contact-block__content">
					<form
						action=""
						class="docs-contact-block__form surgery_docs-contact-block__form"
					>
						<p class="surgery_docs-contact-block__title">
							Запишитесь на check-up
						</p>
						<div class="docs-contact-block__filed-wrapper">
							<input
								id="tel"
								type="tel"
								class="input-reset docs-contact-block__filed"
							/>
							<p class="docs-contact-block__field-placeholder">
								<span>+7</span> (999) 999-99-99
							</p>
							<button
								type="button"
								class="btn-reset_new btn-blue_new btn-disabled docs-contact-block__btn-sub"
							>
								перезвоните мне
							</button>
						</div>
						<p class="docs-contact-block__success-sub">
							Спасибо! Мы свяжемся с вами в течение 30 минут
						</p>
						<p class="docs-contact-block__confidentiality">
							Нажимая на кнопку «Перезвоните мне», вы соглашаетесь с
							<a href="" class="a">политикой конфиденциальности.</a>
						</p>
					</form>
				</div>
			</div>
		</div>
		<div class="swiper surgery_check-up-section__swiper">
			<div class="swiper-wrapper">
				<div class="swiper-slide card-diagnostics stomatology_card-diagnostics">
					<p class="card-diagnostics__title">
						Check-up предоперационный для кошек до 6 лет
					</p>
					<div>
						<div class="card-diagnostics__info_bottom">
							<p class="card-diagnostics__price">6 300 ₽</p>
							<button class="btn-reset_new card-diagnostics__detail">
								Что входит?
							</button>
						</div>
					</div>
				</div>
				<div class="swiper-slide card-diagnostics stomatology_card-diagnostics">
					<p class="card-diagnostics__title">
						Check-up предоперационный для кошек старше 6 лет
					</p>
					<div>
						<div class="card-diagnostics__info_bottom">
							<p class="card-diagnostics__price">10 200 ₽</p>
							<button class="btn-reset_new card-diagnostics__detail">
								Что входит?
							</button>
						</div>
					</div>
				</div>
				<div class="swiper-slide card-diagnostics stomatology_card-diagnostics">
					<p class="card-diagnostics__title">
						Check-up предоперационный для собак до 6 лет
					</p>
					<div>
						<div class="card-diagnostics__info_bottom">
							<p class="card-diagnostics__price">5 300 ₽</p>
							<button class="btn-reset_new card-diagnostics__detail">
								Что входит?
							</button>
						</div>
					</div>
				</div>
				<div class="swiper-slide card-diagnostics stomatology_card-diagnostics">
					<p class="card-diagnostics__title">
						Check-up предоперационный для собак старше 6 лет
					</p>
					<div>
						<div class="card-diagnostics__info_bottom">
							<p class="card-diagnostics__price">9 100 ₽</p>
							<button class="btn-reset_new card-diagnostics__detail">
								Что входит?
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
