<section class="section how-performed-section">
    <h4 class="section-title how-performed-section__section-title">Питомец едет к ветеринару</h4>
    <div class="how-performed-section__content">
        <div class="swiper how-performed-section__swiper how-performed-section__swiper_stomatology">
            <div class="swiper-wrapper">
                <div class="swiper-slide how-performed-section__img-wrapper">
                    <img src="img/stomatology_how-performed-img-1.png" alt="how-performed" class="diagnostics-section__photo">
                </div>
                <div class="swiper-slide how-performed-section__img-wrapper">
                    <img src="img/stomatology_how-performed-img-2.png" alt="how-performed" class="diagnostics-section__photo">
                </div>
                <div class="swiper-slide how-performed-section__img-wrapper">
                    <img src="img/stomatology_how-performed-img-3.png" alt="how-performed" class="diagnostics-section__photo">
                </div>
                <div class="swiper-slide how-performed-section__img-wrapper">
                    <img src="img/stomatology_how-performed-img-4.png" alt="how-performed" class="diagnostics-section__photo">
                </div>
            </div>
            <button class="btn-reset_new btn-thumb about-section__btn-next">
                <svg>
                    <use xlink:href="img/sprite.svg#arrow-thumb"></use>
                </svg>
            </button>
            <button class="btn-reset_new btn-thumb about-section__btn-prev">
                <svg>
                    <use xlink:href="img/sprite.svg#arrow-thumb"></use>
                </svg>
            </button>
        </div>
        <div class="how-performed-section__info how-performed-section__info_stomatology">
            <h5 class="how-performed-section__info-title">Как проходит прием у врача-стоматолога в Vetcity Clinic</h5>
            <ol class="how-performed-section__list">
                <li class="how-performed-section__item how-performed-section__item_marg">
                    Врач собирает анамнез: какие симптомы наблюдаются у питомца и как долго. Также стоматолог уточняет
                    привычки животного, условия содержания и кормления, которые могут повлиять на здоровье зубов и
                    десен.
                </li>
                <li class="how-performed-section__item how-performed-section__item_marg">
                    Стоматолог тщательно изучает полость рта у животного. С помощью пародонтального зонда проверяет
                    состояние десневого канала: кровоточивость, наличие зубного камня, гнойного содержимого. Также важен
                    внешний осмотр — пальпация лимфатических узлов и височно-челюстного сустава.
                </li>
                <li class="how-performed-section__item how-performed-section__item_marg">
                    Ветеринар составляет план дальнейшего обследования и лечения, включая КТ. При необходимости полость
                    рта обрабатывают антисептическим средством (при сильном кровотечении) и назначают препараты для
                    устранения симптомов. Также специалист дает рекомендации по уходу за полостью рта и кормлению.
                </li>
            </ol>
            <p class="how-performed-section__gray-block-text">
                На первичном приеме стоматолог не проводит собакам и кошкам диагностику с помощью КТ, манипуляции и
                операции. Все это требует общей анестезии, чтобы обеспечить неподвижность питомца и защитить его от
                боли. Перед анестезией проводится чекап для снижения рисков наркоза
            </p>
        </div>
    </div>
    <!--  <div class="swiper how-performed-section__swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide how-performed-section__slide">
                <div class="how-performed-section__slide-preview">
                    <img src="img/how-performed-slide.png" alt="img">
                </div>
                <p class="how-performed-section__slide-title">C-дуга</p>
                <p class="how-performed-section__slide-descr">
                    Контроль правильной установки имплантов во время операций
                </p>
            </div>
            <div class="swiper-slide how-performed-section__slide">
                <div class="how-performed-section__slide-preview">
                    <img src="img/how-performed-slide.png" alt="img">
                </div>
                <p class="how-performed-section__slide-title">C-дуга</p>
                <p class="how-performed-section__slide-descr">
                    Контроль правильной установки имплантов во время операций
                </p>
            </div>
            <div class="swiper-slide how-performed-section__slide">
                <div class="how-performed-section__slide-preview">
                    <img src="img/how-performed-slide.png" alt="img">
                </div>
                <p class="how-performed-section__slide-title">C-дуга</p>
                <p class="how-performed-section__slide-descr">
                    Контроль правильной установки имплантов во время операций
                </p>
            </div>
            <div class="swiper-slide how-performed-section__slide">
                <div class="how-performed-section__slide-preview">
                    <img src="img/how-performed-slide.png" alt="img">
                </div>
                <p class="how-performed-section__slide-title">C-дуга</p>
                <p class="how-performed-section__slide-descr">
                    Контроль правильной установки имплантов во время операций
                </p>
            </div>
        </div>
    </div>-->
</section>
