<section class="section section_main directions-section">
    <h4 class="section-title directions-section__section-title">Направления хирургии Vetcity Clinic</h4>
    <div class="directions-section__top-container">
        <div class="directions-section__top-info">
            <p class="directions-section__top-title">Проводим операции любой сложности</p>
            <p class="directions-section__top-descr">
                В госпиталь Vetcity животные поступают в разных состояниях. Наши опытные врачи оценивают риски для
                пациентов и определяют, как срочно нужна операция:
            </p>
            <ol class="directions-section__top-list">
                <li class="directions-section__top-item">
                    Экстренно — для спасения жизни питомца, сразу после поступления в клинику. Как правило, это помощь
                    при удушье, кровотечениях, открытых переломах, разрывах внутренних органов, завороте желудка,
                    инородном теле в ЖКТ.
                </li>
                <li class="directions-section__top-item">
                    Срочно — выполняется в ближайший день или дни, не может быть отложена на длительный срок.
                </li>
                <li class="directions-section__top-item">
                    Планово — по записи, например, кастрация животного, исправление ортопедических нарушений, пластика
                    грыж, удаление опухолей.
                </li>
            </ol>
        </div>
        <div class="directions-section__top-img-wrapper">
            <img src="img/directions-img.png" alt="directions-img">
        </div>
    </div>
    <div class="directions-section__price-block">
        <ul class="list-reset directions-section__price-list">
            <li class="directions-section__item">
                <div class="directions-section__item-top">
                    <div class="directions-section__item-price-block">
                        <h6 class="directions-section__item-title">Операции на желудочно-кишечном тракте</h6>
                        <span class="directions-section__item-price">от 12 100 ₽</span>
                    </div>
                </div>
                <div class="directions-section__item-descr-wrapper">
                    <p class="directions-section__item-descr">
                        Вводная часть – некоторый текст, про то что мы в контексте пейн менеджмента для питомцев всегда
                        проводим манипуляции под наркозом, а это важная часть вмешательства, которая требует подготовки
                        со стороны пациента.
                    </p>
                </div>
            </li>
            <li class="directions-section__item">
                <div class="directions-section__item-top">
                    <div class="directions-section__item-price-block">
                        <h6 class="directions-section__item-title">Ортопедическая хирургия</h6>
                        <span class="directions-section__item-price">от 10 000 ₽</span>
                    </div>
                </div>
                <div class="directions-section__item-descr-wrapper">
                    <p class="directions-section__item-descr">
                        Вводная часть – некоторый текст, про то что мы в контексте пейн менеджмента для питомцев всегда
                        проводим манипуляции под наркозом, а это важная часть вмешательства, которая требует подготовки
                        со стороны пациента.
                    </p>
                </div>
            </li>
            <li class="directions-section__item">
                <div class="directions-section__item-top">
                    <div class="directions-section__item-price-block">
                        <h6 class="directions-section__item-title">Онкохирургия</h6>
                        <span class="directions-section__item-price">от 18 000 ₽</span>
                    </div>
                </div>
                <div class="directions-section__item-descr-wrapper">
                    <p class="directions-section__item-descr">
                        Вводная часть – некоторый текст, про то что мы в контексте пейн менеджмента для питомцев всегда
                        проводим манипуляции под наркозом, а это важная часть вмешательства, которая требует подготовки
                        со стороны пациента.
                    </p>
                </div>
            </li>
            <li class="directions-section__item">
                <div class="directions-section__item-top">
                    <div class="directions-section__item-price-block">
                        <h6 class="directions-section__item-title">Кардиохирургия</h6>
                        <span class="directions-section__item-price">от 43 000 ₽</span>
                    </div>
                </div>
                <div class="directions-section__item-descr-wrapper">
                    <p class="directions-section__item-descr">
                        Вводная часть – некоторый текст, про то что мы в контексте пейн менеджмента для питомцев всегда
                        проводим манипуляции под наркозом, а это важная часть вмешательства, которая требует подготовки
                        со стороны пациента.
                    </p>
                </div>
            </li>
            <li class="directions-section__item">
                <div class="directions-section__item-top">
                    <div class="directions-section__item-price-block">
                        <h6 class="directions-section__item-title">Операции на ЛОР-органах</h6>
                        <span class="directions-section__item-price">от 16 000 ₽</span>
                    </div>
                </div>
                <div class="directions-section__item-descr-wrapper">
                    <p class="directions-section__item-descr">
                        Вводная часть – некоторый текст, про то что мы в контексте пейн менеджмента для питомцев всегда
                        проводим манипуляции под наркозом, а это важная часть вмешательства, которая требует подготовки
                        со стороны пациента.
                    </p>
                </div>
            </li>
        </ul>
        <ul class="list-reset directions-section__price-list">
            <li class="directions-section__item">
                <div class="directions-section__item-top">
                    <div class="directions-section__item-price-block">
                        <h6 class="directions-section__item-title">Пластическая хирургия</h6>
                        <span class="directions-section__item-price">от 17 000 ₽</span>
                    </div>
                </div>
                <div class="directions-section__item-descr-wrapper">
                    <p class="directions-section__item-descr">
                        Вводная часть – некоторый текст, про то что мы в контексте пейн менеджмента для питомцев всегда
                        проводим манипуляции под наркозом, а это важная часть вмешательства, которая требует подготовки
                        со стороны пациента.
                    </p>
                </div>
            </li>
            <li class="directions-section__item">
                <div class="directions-section__item-top">
                    <div class="directions-section__item-price-block">
                        <h6 class="directions-section__item-title">Хирургические процедуры</h6>
                        <span class="directions-section__item-price">от 500 ₽</span>
                    </div>
                </div>
                <div class="directions-section__item-descr-wrapper">
                    <p class="directions-section__item-descr">
                        Вводная часть – некоторый текст, про то что мы в контексте пейн менеджмента для питомцев всегда
                        проводим манипуляции под наркозом, а это важная часть вмешательства, которая требует подготовки
                        со стороны пациента.
                    </p>
                </div>
            </li>
            <li class="directions-section__item">
                <div class="directions-section__item-top">
                    <div class="directions-section__item-price-block">
                        <h6 class="directions-section__item-title">Операции на мочеполовой системе</h6>
                        <span class="directions-section__item-price">от 12 000 ₽</span>
                    </div>
                </div>
                <div class="directions-section__item-descr-wrapper">
                    <p class="directions-section__item-descr">
                        Вводная часть – некоторый текст, про то что мы в контексте пейн менеджмента для питомцев всегда
                        проводим манипуляции под наркозом, а это важная часть вмешательства, которая требует подготовки
                        со стороны пациента.
                    </p>
                </div>
            </li>
            <li class="directions-section__item">
                <div class="directions-section__item-top">
                    <div class="directions-section__item-price-block">
                        <h6 class="directions-section__item-title">Операции на ЖКТ</h6>
                        <span class="directions-section__item-price">от 10 000 ₽</span>
                    </div>
                </div>
                <div class="directions-section__item-descr-wrapper">
                    <p class="directions-section__item-descr">
                        Вводная часть – некоторый текст, про то что мы в контексте пейн менеджмента для питомцев всегда
                        проводим манипуляции под наркозом, а это важная часть вмешательства, которая требует подготовки
                        со стороны пациента.
                    </p>
                </div>
            </li>
            <li class="directions-section__item">
                <div class="directions-section__item-top">
                    <div class="directions-section__item-price-block">
                        <h6 class="directions-section__item-title">Эндоскопические операции</h6>
                        <span class="directions-section__item-price">от 24 100 ₽</span>
                    </div>
                </div>
                <div class="directions-section__item-descr-wrapper">
                    <p class="directions-section__item-descr">
                        Вводная часть – некоторый текст, про то что мы в контексте пейн менеджмента для питомцев всегда
                        проводим манипуляции под наркозом, а это важная часть вмешательства, которая требует подготовки
                        со стороны пациента.
                    </p>
                </div>
            </li>
        </ul>
    </div>
</section>
