<section class="section preoperative-section">
    <h4 class="section-title preoperative-section__section-title">Предоперационный этап</h4>
    <div class="preoperative-section__content">
        <div class="preoperative-section__info">
            <h5 class="preoperative-section__info-title">Как подготовить питомца к плановой операции</h5>
            <p class="preoperative-section__info-text">
                Защитить пациентов от боли и стресса — принцип каждого хирурга Vetcity. Большинство оперативных
                вмешательств мы проводим под общей анестезией. Для здоровья животного это всегда некоторый риск, поэтому
                необходимо предварительно пройти диагностику и убедиться, что нет ограничений для операции.
            </p>
            <p class="preoperative-section__info-text">
                Непосредственно перед операцией питомцу нужно выдержать голодную диету, исключить прием медикаментов и
                воды — индивидуальные рекомендации предлагает врач-хирург.
            </p>
            <button class="btn-reset_new preoperative-section__btn-download">
                <svg>
                    <use xlink:href="img/sprite.svg#file"></use>
                </svg>
                <span>Скачать памятку для владельцев</span>
            </button>
        </div>
        <div class="preoperative-section__img-wrapper">
            <img src="img/preoperative-img.png" alt="preoperative-img">
        </div>
    </div>
    <hr />
</section>
