<section class="section how-performed-section">
	<h4 class="section-title how-performed-section__section-title">
		Как проходят операции в Vetcity Clinic
	</h4>
	<div class="how-performed-section__content">
		<div
			class="swiper how-performed-section__swiper surgery__how-performed-section__swiper"
		>
			<div class="swiper-wrapper">
				<div class="swiper-slide how-performed-section__img-wrapper">
					<img
						src="img/how-performed-img-1.png"
						alt="how-performed"
						class="diagnostics-section__photo"
					/>
				</div>
				<div class="swiper-slide how-performed-section__img-wrapper">
					<img
						src="img/how-performed-img-2.png"
						alt="how-performed"
						class="diagnostics-section__photo"
					/>
				</div>
				<div class="swiper-slide how-performed-section__img-wrapper">
					<img
						src="img/how-performed-img-3.png"
						alt="how-performed"
						class="diagnostics-section__photo"
					/>
				</div>
				<div class="swiper-slide how-performed-section__img-wrapper">
					<img
						src="img/how-performed-img-4.png"
						alt="how-performed"
						class="diagnostics-section__photo"
					/>
				</div>
				<div class="swiper-slide how-performed-section__img-wrapper">
					<img
						src="img/how-performed-img-5.png"
						alt="how-performed"
						class="diagnostics-section__photo"
					/>
				</div>
			</div>
			<button class="btn-reset_new btn-thumb about-section__btn-next">
				<svg>
					<use xlink:href="img/sprite.svg#arrow-thumb"></use>
				</svg>
			</button>
			<button class="btn-reset_new btn-thumb about-section__btn-prev">
				<svg>
					<use xlink:href="img/sprite.svg#arrow-thumb"></use>
				</svg>
			</button>
		</div>
		<div class="how-performed-section__info">
			<h5 class="how-performed-section__info-title">
				Что происходит с питомцем в оперблоке
			</h5>
			<p class="how-performed-section__info-text">
				В Vetcity работают профессионалы, которые заботятся о спокойствии и
				безопасности пациента:
			</p>
			<ol class="how-performed-section__list">
				<li class="how-performed-section__item">
					Подготовка. Сначала питомец попадает в заботливые руки анестезиолога,
					который погружает животное в сон. С этого момента и всю операцию
					пациент не испытывает болезненных или неприятных ощущений.
				</li>
				<li class="how-performed-section__item">
					Операция. С пациентом работает бригада специалистов — врач-хирург,
					ассистент, анестезиолог и операционная сестра. Врачи непрерывно
					контролируют жизненные показатели питомца с помощью кардиомонитора.
					После завершения процедуры пациента переводят в стационар, а его
					владельцу сообщают, как прошла операция.
				</li>
				<li class="how-performed-section__item">
					Восстановление. Питомцы пробуждаются от наркоза в отдельной камере
					стерильного стационара — под наблюдением врачей. Если состояние
					стабильное и нет противопоказаний, пациента выписывают в тот же день,
					а владельцы получают рекомендации по домашнему уходу и
					медикаментозному лечению.
				</li>
			</ol>
			<p class="how-performed-section__info-text">
				При необходимости и в тяжелых случаях, пациента оставляют в стационаре —
				восстанавливаться под контролем специалистов.
			</p>
		</div>
	</div>
	<!--  <div class="swiper how-performed-section__swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide how-performed-section__slide">
                <div class="how-performed-section__slide-preview">
                    <img src="img/how-performed-slide.png" alt="img">
                </div>
                <p class="how-performed-section__slide-title">C-дуга</p>
                <p class="how-performed-section__slide-descr">
                    Контроль правильной установки имплантов во время операций
                </p>
            </div>
            <div class="swiper-slide how-performed-section__slide">
                <div class="how-performed-section__slide-preview">
                    <img src="img/how-performed-slide.png" alt="img">
                </div>
                <p class="how-performed-section__slide-title">C-дуга</p>
                <p class="how-performed-section__slide-descr">
                    Контроль правильной установки имплантов во время операций
                </p>
            </div>
            <div class="swiper-slide how-performed-section__slide">
                <div class="how-performed-section__slide-preview">
                    <img src="img/how-performed-slide.png" alt="img">
                </div>
                <p class="how-performed-section__slide-title">C-дуга</p>
                <p class="how-performed-section__slide-descr">
                    Контроль правильной установки имплантов во время операций
                </p>
            </div>
            <div class="swiper-slide how-performed-section__slide">
                <div class="how-performed-section__slide-preview">
                    <img src="img/how-performed-slide.png" alt="img">
                </div>
                <p class="how-performed-section__slide-title">C-дуга</p>
                <p class="how-performed-section__slide-descr">
                    Контроль правильной установки имплантов во время операций
                </p>
            </div>
        </div>
    </div>-->
</section>
