<section class="section section_main about-section">
    <div class="about-section__top">
        <div class="about-section__info-block">
            <h3 class="about-section__title">Одно из крупнейших отделений в Москве</h3>
            <p class="about-section__detail-text detail-text_surgery">
                Госпиталь Vetcity предлагает хирургию собакам, кошкам и другим домашним животным на уровне человеческой
                медицины. Четыре операционные, два стационара, отделения реабилитации и визуальной диагностики — такое
                оснащение позволяет подготовить питомца к операции, качественно провести процедуру и помочь быстро
                восстановиться.
            </p>
        </div>
        <div class="about-section__swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide about-section__slide">
                    <img src="img/survery_about-slide.png" alt="">
                    <img src="img/survery_about-slide_mob.png" alt="">
                </div>
                <div class="swiper-slide about-section__slide">
                    <img src="img/survery_about-slide.png" alt="">
                    <img src="img/survery_about-slide_mob.png" alt="">
                </div>
                <div class="swiper-slide about-section__slide">
                    <img src="img/survery_about-slide.png" alt="">
                    <img src="img/survery_about-slide_mob.png" alt="">
                </div>
            </div>
            <button class="btn-reset_new btn-thumb about-section__btn-next">
                <svg>
                    <use xlink:href="img/sprite.svg#arrow-thumb"></use>
                </svg>
            </button>
            <button class="btn-reset_new btn-thumb about-section__btn-prev">
                <svg>
                    <use xlink:href="img/sprite.svg#arrow-thumb"></use>
                </svg>
            </button>
        </div>
    </div>
    <div class="about-section__advantages-swiper" style="visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 207, 0, 1);">
        <div class="swiper-wrapper">
            <div class="swiper-slide advantages-slide advantages-slide_surgery">
                <h4 class="advantages-slide__title">Экстренная<br /> хирургия 24/7</h4>
                <p class="advantages-slide__descr">
                    Госпиталь проводит операции круглосуточно, спасая жизни в самых неотложных случаях
                </p>
            </div>
            <div class="swiper-slide advantages-slide advantages-slide_surgery">
                <h4 class="advantages-slide__title">Новейшее оборудование</h4>
                <p class="advantages-slide__descr">
                    Современные кардиомониторы, эндоскопы экспертного класса Karl storz, С-дуга
                </p>
            </div>
            <div class="swiper-slide advantages-slide advantages-slide_surgery">
                <h4 class="advantages-slide__title">Опытные<br /> хирурги</h4>
                <p class="advantages-slide__descr">
                    Каждый месяц наши ветеринарные врачи-хирурги проводят до 270 операций
                </p>
            </div>
            <div class="swiper-slide advantages-slide advantages-slide_surgery">
                <h4 class="advantages-slide__title">Комфортные стационары</h4>
                <p class="advantages-slide__descr">
                    Наши врачи бережно относятся к физическому и психическому здоровью животных
                </p>
            </div>
        </div>
    </div>
</section>
