<section class="section section_main articles-section">
    <h4 class="section-title articles-section__section-title">Экспертные статьи об онкологии животных</h4>
    <div class="articles-section__content"
        style="visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 207, 0, 1);">
        <div class="articles-section__small-cards">
            <a href="" class="a small-article-card">
                <img class="small-article-card__img" src="img/article-7.png" alt="article-1">
                <img class="small-article-card__img small-article-card__img_mob" src="img/article-7.png"
                    alt="article-1">
                <div class="small-article-card__info">
                    <div class="big-article-card__top">
                        <time class="small-article-card__date">26 июля, 2023</time>
                        <p class="small-article-card__title">Клещи</p>
                        <p class="small-article-card__descr">Что делать, если питомца все-таки укусил клещ?</p>
                    </div>
                    <div class="big-article-card__bottom">
                        <span>Терапия</span>
                    </div>
                </div>
            </a>
            <a href="" class="a small-article-card">
                <img class="small-article-card__img" src="img/article-8.png" alt="article-1">
                <img class="small-article-card__img small-article-card__img_mob" src="img/article-8.png"
                    alt="article-1">
                <div class="small-article-card__info">
                    <div class="big-article-card__top">
                        <time class="small-article-card__date">26 июля, 2023</time>
                        <p class="small-article-card__title">Отит. Что делать?</p>
                        <p class="small-article-card__descr">
                            Часто говорят, что регулярно чистить уши питомцам не надо...
                        </p>
                    </div>
                    <div class="big-article-card__bottom">
                        <span>Терапия</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="articles-section__small-cards">
            <a href="" class="a small-article-card">
                <img class="small-article-card__img" src="img/article-9.png" alt="article-1">
                <img class="small-article-card__img small-article-card__img_mob" src="img/article-9.png"
                    alt="article-1">
                <div class="small-article-card__info">
                    <div class="big-article-card__top">
                        <time class="small-article-card__date">26 июля, 2023</time>
                        <p class="small-article-card__title">Покусали</p>
                        <p class="small-article-card__descr">
                            Собака бывает кусачей не только от тяжелой собачьей жизни.
                        </p>
                    </div>
                    <div class="big-article-card__bottom">
                        <span>Терапия</span>
                    </div>
                </div>
            </a>
            <a href="" class="a small-article-card">
                <img class="small-article-card__img" src="img/article-10.png" alt="article-1">
                <img class="small-article-card__img small-article-card__img_mob" src="img/article-10.png"
                    alt="article-1">
                <div class="small-article-card__info">
                    <div class="big-article-card__top">
                        <time class="small-article-card__date">26 июля, 2023</time>
                        <p class="small-article-card__title">Калицивироз</p>
                        <p class="small-article-card__descr">
                            На языке и деснах появились язвочки, из носа и глаз течет.
                        </p>
                    </div>
                    <div class="big-article-card__bottom">
                        <span>Терапия</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>