<section class="section section_main doctors-section">
    <h4 class="section-title doctors-section__section-title">Врачи-терапевты Vetcity Clinic</h4>
    <div class="swiper doctors-section__doctors-swiper survery_doctors-swiper" style="visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 207, 0, 1);">
        <div class="survery_swiper-btns-block">
            <div class="doctors-section__sort-block">
                <button class="btn-reset_new doctors-section__sort-btn
                    doctors-section__sort-btn_active">Все <span>21</span></button>
                <button class="btn-reset_new doctors-section__sort-btn">Терапевты <span>9</span></button>
                <button class="btn-reset_new doctors-section__sort-btn">Офтальмологи <span>9</span></button>
                <button class="btn-reset_new doctors-section__sort-btn">Дерматолог <span>9</span></button>
                <button class="btn-reset_new doctors-section__sort-btn">Эндокринолог <span>9</span></button>
                <button class="btn-reset_new doctors-section__sort-btn">Нефролог <span>9</span></button>
                <button class="btn-reset_new doctors-section__sort-btn">Гастроэнтеролог <span>9</span></button>
                <button class="btn-reset_new doctors-section__sort-btn">Дежурные <span>7</span></button>
                <button class="btn-reset_new doctors-section__sort-btn">Интерны <span>5</span></button>
            </div>
            <div class="block-thumb-btns">
                <button class="btn-reset_new btn-thumb block-thumb-btns__btn-prev">
                    <svg>
                        <use xlink:href="img/sprite.svg#arrow-thumb"></use>
                    </svg>
                </button>
                <button class="btn-reset_new btn-thumb block-thumb-btns__btn-next">
                    <svg>
                        <use xlink:href="img/sprite.svg#arrow-thumb"></use>
                    </svg>
                </button>
            </div>
        </div>
        <div class="swiper-wrapper">
            <div class="swiper-slide card-doc_new surgery_card-doc_new">
                <img src="img/surgery_doc-1.png" alt="">
                <div class="card-doc_new__info">
                    <p class="card-doc_new__title"
                        title="Дюльгер Пётр Георгиевич - Зав. отделением хирургии, ведущий хирург">Дюльгер<br />
                        Пётр Георгиевич</p>
                    <p class=" card-doc_new__text">Зав. отделением хирургии, ведущий хирург</p>
                    <div class="card-doc_new__info_bottom">
                        <p class="card-doc_new__price">Приём: 5 000 ₽</p>
                        <btn class="btn-reset_new card-doc_new__detail">Подробнее</btn>
                    </div>
                </div>
            </div>
            <div class="swiper-slide card-doc_new surgery_card-doc_new">
                <img src="img/surgery_doc-2.png" alt="">
                <div class="card-doc_new__info">
                    <p class="card-doc_new__title" title="Еремеев Константин Игоревич ‒ Врач-онколог">Еремеев<br />
                        Константин Игоревич</p>
                    <p class="card-doc_new__text">Ветеринарный врач-хирург, эндоскопист</p>
                    <div class="card-doc_new__info_bottom">
                        <p class="card-doc_new__price">Приём: 3 000 ₽</p>
                        <btn class="btn-reset_new card-doc_new__detail">Подробнее</btn>
                    </div>
                </div>
            </div>
            <div class="swiper-slide card-doc_new surgery_card-doc_new">
                <img src="img/surgery_doc-3.png" alt="">
                <div class="card-doc_new__info">
                    <p class="card-doc_new__title"
                        title="Крыжановский Станислав Валерьевич ‒ Ветеринарный врач-хирург, ортопед-травматолог">
                        Крыжановский<br />
                        Станислав Валерьевич</p>
                    <p class="card-doc_new__text">Ветеринарный врач-хирург, ортопед-травматолог</p>
                    <div class="card-doc_new__info_bottom">
                        <p class="card-doc_new__price">Приём: 3 000 ₽</p>
                        <btn class="btn-reset_new card-doc_new__detail">Подробнее</btn>
                    </div>
                </div>
            </div>
            <div class="swiper-slide card-doc_new surgery_card-doc_new">
                <img src="img/surgery_doc-4.png" alt="">
                <div class="card-doc_new__info">
                    <p class="card-doc_new__title" title="Соседов Андрей Александрович ‒ Ветеринарный врач-хирург">
                        Соседов<br />
                        Андрей Александрович</p>
                    <p class="card-doc_new__text">Ветеринарный врач-хирург</p>
                    <div class="card-doc_new__info_bottom">
                        <p class="card-doc_new__price">Приём: 3 000 ₽</p>
                        <btn class="btn-reset_new card-doc_new__detail">Подробнее</btn>
                    </div>
                </div>
            </div>
            <div class="swiper-slide card-doc_new surgery_card-doc_new">
                <img src="img/doc-2.png" alt="">
                <div class="card-doc_new__info">
                    <p class="card-doc_new__title" title="Колесник Светлана Андреевна ‒ Врач-онколог">Колесник<br />
                        Елизавета Андреевна</p>
                    <p class="card-doc_new__text">Ветеринарный врач-онколог</p>
                    <div class="card-doc_new__info_bottom">
                        <p class="card-doc_new__price">Приём: 3 500 ₽</p>
                        <btn class="btn-reset_new card-doc_new__detail">Подробнее</btn>
                    </div>
                </div>
            </div>
            <div class="swiper-slide card-doc_new surgery_card-doc_new">
                <img src="img/doc-2.png" alt="">
                <div class="card-doc_new__info">
                    <p class="card-doc_new__title" title="Колесник Светлана Андреевна ‒ Врач-онколог">Колесник<br />
                        Елизавета Андреевна</p>
                    <p class="card-doc_new__text">Ветеринарный врач-онколог</p>
                    <div class="card-doc_new__info_bottom">
                        <p class="card-doc_new__price">Приём: 3 500 ₽</p>
                        <btn class="btn-reset_new card-doc_new__detail">Подробнее</btn>
                    </div>
                </div>
            </div>
            <div class="swiper-slide docs-small-block">
                <ul title="Запишитесь к хирургу, если:" class="list-reset docs-contact-block__list docs-small-block__list">
                    <li class="docs-contact-block__item">требуется операция после травмы, в том числе экстренная помощь;
                    </li>
                    <li class="docs-contact-block__item">обнаружено новообразование, подлежащее удалению;</li>
                    <li class="docs-contact-block__item">необходимо удалить инородное тело;
                    <li class="docs-contact-block__item">есть врожденная патология, которую можно исправить хирургически;
                    <li class="docs-contact-block__item">запланирована кастрация или стерилизация животного.
                    </li>
                </ul>
                <button class="btn-reset_new docs-small-block__btn">Записаться</button>
            </div>
        </div>
    </div>
    <div class="docs-contact-block surgery_docs-contact-block">
        <div class="surgery_docs-contact-block__content">
            <ul title="Запишитесь к терапевту, если:" class="list-reset docs-contact-block__list
                surgery_docs-contact-block__list">
                <li class="docs-contact-block__item">питомец заболел или его поведение вызывает у вас тревогу;</li>
                <li class="docs-contact-block__item">нужно подобрать индивидуальный рацион питания;</li>
                <li class="docs-contact-block__item">питомцу нужна вакцинация или другие профилактические процедуры;</li>
                <li class="docs-contact-block__item">необходимо обследовать животное с улицы.</li>
            </ul>
            <form action="" class="docs-contact-block__form surgery_docs-contact-block__form">
                <div class="docs-contact-block__filed-wrapper">
                    <input id="tel" type="tel" class="input-reset docs-contact-block__filed">
                    <p class="docs-contact-block__field-placeholder"><span>+7</span> (999) 999-99-99</p>
                    <button type="button" class="btn-reset_new btn-blue_new btn-disabled docs-contact-block__btn-sub">перезвоните
                        мне</button>
                </div>
                <p class="docs-contact-block__success-sub">
                    Спасибо! Мы свяжемся с вами в течение 30 минут
                </p>
                <p class="docs-contact-block__confidentiality">
                    Нажимая на кнопку «Перезвоните мне», вы соглашаетесь с <a href="" class="a">политикой
                        конфиденциальности.</a>
                </p>
            </form>
        </div>
    </div>
</section>
