<section class="section therapy_check-up-section">
    <h4 class="section-title pet-goes-section__section-title">Check-up комплексная диагностика</h4>
    <div class="surgery_check-up-section__content">
        <div class="therapy_check-up-section__img-wrapper">
            <img src="img/therapy_check-up.png" alt="preoperative-img">
        </div>
        <div class="therapy_check-up-section__info">
            <h5 class="therapy_check-up-section__info-title">Защитить питомца от болезней помогает ранняя диагностика
            </h5>
            <p class="therapy_check-up-section__info-text">
                С помощью регулярных обследований можно выявить скрытые нарушения в организме и вовремя начать лечение.
                Мы в Vetcity Clinic разработали программы, включающие консультации терапевта, лабораторные и визуальные
                исследования — для базовой проверки здоровья питомца.
            </p>
            <div class="swiper therapy_check-up-section__swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide therapy-check-up-card-small">
                        <div class="therapy-check-up-card-small__top">
                            <p class="therapy-check-up-card-small__title">Для собак старше 6 лет</p>
                        </div>
                        <div class="card-diagnostics__info_bottom">
                            <button class="btn-reset_new btn-blue_new card-consult__btn-rec">Записаться</button>
                            <p class="card-diagnostics__price">12 000 ₽</p>
                        </div>
                    </div>
                    <div class="swiper-slide therapy-check-up-card-small">
                        <div class="therapy-check-up-card-small__top">
                            <p class="therapy-check-up-card-small__title">Для кошек старше 6 лет</p>
                        </div>
                        <div class="card-diagnostics__info_bottom">
                            <button class="btn-reset_new btn-blue_new card-consult__btn-rec">Записаться</button>
                            <p class="card-diagnostics__price">15 000 ₽</p>
                        </div>
                    </div>
                    <div class="swiper-slide therapy-check-up-card-big">
                        <div class="therapy-check-up-card-big__top">
                            <p class="therapy-check-up-card-big__title">Check-up предоперационный для собак старше 6 лет</p>
                        </div>
                        <div class="card-diagnostics__info_bottom">
                            <button class="btn-reset_new btn-blue_new card-consult__btn-rec">Записаться</button>
                            <p class="card-diagnostics__price">12 000 ₽</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
