<section class="section section_main about-section">
    <div class="about-section__top">
        <div class="about-section__info-block">
            <h3 class="about-section__title">Знаем всё о ваших питомцах</h3>
            <p class="about-section__detail-text">
                Животные не могут сказать, что у них болит. Именно терапевты становятся для владельцев «компасом» в
                заботе о питомце. Опытный ветеринар всегда распознает тревожные симптомы, заподозрит причину проблем,
                выберет эффективное лечение.
            </p>
            <p class="about-section__detail-text">
                Отделение терапии Vetcity — это команда профессионалов с глубокими знаниями о здоровье собак и кошек,
                включая породные и возрастные предрасположенности. Мы помогаем пациентам в самых разных состояниях.
                Одним нужны профилактические процедуры и советы по содержанию, вторым — лечение, третьим — направление
                на срочную операцию или в реанимацию. И все это с бережным отношением и индивидуальным подходом к
                каждому питомцу.
            </p>
        </div>
        <div class="about-section__swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide about-section__slide">
                    <img src="img/therapy_about-slide-1.png" alt="">
                    <img src="img/therapy_about-slide-1.png" alt="">
                </div>
                <div class="swiper-slide about-section__slide">
                    <img src="img/therapy_about-slide-2.png" alt="">
                    <img src="img/therapy_about-slide-2.png" alt="">
                </div>
                <div class="swiper-slide about-section__slide">
                    <img src="img/therapy_about-slide-3.png" alt="">
                    <img src="img/therapy_about-slide-3.png" alt="">
                </div>
                <div class="swiper-slide about-section__slide">
                    <img src="img/therapy_about-slide-4.png" alt="">
                    <img src="img/therapy_about-slide-4.png" alt="">
                </div>
                <div class="swiper-slide about-section__slide">
                    <img src="img/therapy_about-slide-5.png" alt="">
                    <img src="img/therapy_about-slide-5.png" alt="">
                </div>
                <div class="swiper-slide about-section__slide">
                    <img src="img/therapy_about-slide-6.png" alt="">
                    <img src="img/therapy_about-slide-6.png" alt="">
                </div>
                <div class="swiper-slide about-section__slide">
                    <img src="img/therapy_about-slide-7.png" alt="">
                    <img src="img/therapy_about-slide-7.png" alt="">
                </div>
            </div>
            <button class="btn-reset_new btn-thumb about-section__btn-next">
                <svg>
                    <use xlink:href="img/sprite.svg#arrow-thumb"></use>
                </svg>
            </button>
            <button class="btn-reset_new btn-thumb about-section__btn-prev">
                <svg>
                    <use xlink:href="img/sprite.svg#arrow-thumb"></use>
                </svg>
            </button>
        </div>
    </div>
    <div class="about-section__advantages-swiper"
        style="visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 207, 0, 1);">
        <div class="swiper-wrapper">
            <div class="swiper-slide advantages-slide advantages-slide_therapy">
                <h4 class="advantages-slide__title">20+ ветеринарных терапевтов</h4>
                <p class="advantages-slide__descr">
                    Врачи разных специализаций с комплексным подходом к лечению
                </p>
            </div>
            <div class="swiper-slide advantages-slide advantages-slide_therapy">
                <h4 class="advantages-slide__title">Круглосуточный прием</h4>
                <p class="advantages-slide__descr">
                    Живая очередь к дежурным терапевтам в режиме 24/7
                </p>
            </div>
            <div class="swiper-slide advantages-slide advantages-slide_therapy">
                <h4 class="advantages-slide__title">Принимаем онлайн<br /> и в клинике</h4>
                <p class="advantages-slide__descr">
                    Очные приемы или онлайн консультации терапевтов по записи
                </p>
            </div>
            <div class="swiper-slide advantages-slide advantages-slide_therapy">
                <h4 class="advantages-slide__title">Современная диагностика</h4>
                <p class="advantages-slide__descr">
                    Все виды исследований для постановки верного диагноза
                </p>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</section>
