<section class="section section_main pet-goes-section">
    <h4 class="section-title pet-goes-section__section-title">Питомец едет к ветеринару</h4>
    <div class="how-performed-section__content">
        <div class="pet-goes-section__img-wrapper">
            <img src="img/therapy_pet-goes.png" alt="preoperative-img">
        </div>
        <div class="how-performed-section__info">
            <h5 class="how-performed-section__info-title">Как проходит прием терапевта в Vetcity Clinic</h5>
            <ol class="pet-goes-section__list">
                <li class="pet-goes-section__item">
                    Сбор анамнеза. Врач задает вопросы владельцу и фиксирует информацию в медицинской карте пациента:
                    календарь дегельминтизации и вакцинации, симптоматику, условия жизни, перенесенные болезни.
                </li>
                <li class="pet-goes-section__item">
                    Осмотр пациента. Измерение температуры, пальпация живота, прослушивание сердца и органов дыхания,
                    ротовой полости.
                </li>
                <li class="pet-goes-section__item">
                    При тревожных симптомах — взятие анализов и/или направление на визуальные исследования. Это
                    необходимо для точной постановки диагноза.
                </li>
                <li class="pet-goes-section__item">
                    В зависимости от цели обращения, врач назначает лечение, проводит необходимые процедуры, дает
                    рекомендации по уходу.
                </li>
            </ol>
            <button class="btn-reset_new preoperative-section__btn-download">
                <svg>
                    <use xlink:href="img/sprite.svg#file"></use>
                </svg>
                <span>Скачать памятку для владельцев</span>
            </button>
        </div>
    </div>
    <div class="swiper pet-goes-section__review-swiper"
        style="visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 207, 0, 1);">
        <div class="pet-goes-section__review-swiper-top">
            <p class="pet-goes-section__review-swiper-title">Отзывы наших пациентов</p>
            <div class="block-thumb-btns">
                <button class="btn-reset_new btn-thumb block-thumb-btns__btn-prev">
                    <svg>
                        <use xlink:href="img/sprite.svg#arrow-thumb"></use>
                    </svg>
                </button>
                <button class="btn-reset_new btn-thumb block-thumb-btns__btn-next">
                    <svg>
                        <use xlink:href="img/sprite.svg#arrow-thumb"></use>
                    </svg>
                </button>
            </div>
        </div>
        <div class="swiper-wrapper">
            <div class="swiper-slide review-slide">
                <p class="review-slide__title">ОТЗЫВ О ВРАЧЕ</p>
                <div class="review-slide__doc-block">
                    <div class="review-slide__doc-info">
                        <p class="review-slide__doc-name">Цепурлан<br /> Евгений</p>
                        <p class="review-slide__doc-post">Ветеринарный врач-терапевт, дежурный терапевт</p>
                    </div>
                    <div class="review-slide__doc-wrapper">
                        <img src="img/doc-icon-1.png" alt="doc">
                    </div>
                </div>
                <p class="review-slide__text">
                    Огромное спасибо от меня и моей собачки Буси докторам Аниськовой и Широкожуховой! Очень
                    доброжелательные и внимательные терапевты, действительно переживают за питомца и стараются помочь.
                    Отвечают на все вопросы, даже когда я переспрашиваю по тысяче раз.
                </p>
                <p class="review-slide__author">Хозяйка собаки Поночки</p>
            </div>
            <div class="swiper-slide review-slide">
                <p class="review-slide__title">ОТЗЫВ О ВРАЧЕ</p>
                <div class="review-slide__doc-block">
                    <div class="review-slide__doc-info">
                        <p class="review-slide__doc-name">Цепурлан<br /> Евгений</p>
                        <p class="review-slide__doc-post">Ветеринарный врач-терапевт, дежурный терапевт</p>
                    </div>
                    <div class="review-slide__doc-wrapper">
                        <img src="img/doc-icon-1.png" alt="doc">
                    </div>
                </div>
                <p class="review-slide__text">
                    Огромное спасибо от меня и моей собачки Буси докторам Аниськовой и Широкожуховой! Очень
                    доброжелательные и внимательные терапевты, действительно переживают за питомца и стараются помочь.
                    Отвечают на все вопросы, даже когда я переспрашиваю по тысяче раз.
                </p>
                <p class="review-slide__author">Хозяйка собаки Поночки</p>
            </div>
            <div class="swiper-slide review-slide">
                <p class="review-slide__title">ОТЗЫВ О ВРАЧЕ</p>
                <div class="review-slide__doc-block">
                    <div class="review-slide__doc-info">
                        <p class="review-slide__doc-name">Цепурлан<br /> Евгений</p>
                        <p class="review-slide__doc-post">Ветеринарный врач-терапевт, дежурный терапевт</p>
                    </div>
                    <div class="review-slide__doc-wrapper">
                        <img src="img/doc-icon-1.png" alt="doc">
                    </div>
                </div>
                <p class="review-slide__text">
                    Огромное спасибо от меня и моей собачки Буси докторам Аниськовой и Широкожуховой! Очень
                    доброжелательные и внимательные терапевты, действительно переживают за питомца и стараются помочь.
                    Отвечают на все вопросы, даже когда я переспрашиваю по тысяче раз.
                </p>
                <p class="review-slide__author">Хозяйка собаки Поночки</p>
            </div>
            <div class="swiper-slide review-slide">
                <p class="review-slide__title">ОТЗЫВ О ВРАЧЕ</p>
                <div class="review-slide__doc-block">
                    <div class="review-slide__doc-info">
                        <p class="review-slide__doc-name">Цепурлан<br /> Евгений</p>
                        <p class="review-slide__doc-post">Ветеринарный врач-терапевт, дежурный терапевт</p>
                    </div>
                    <div class="review-slide__doc-wrapper">
                        <img src="img/doc-icon-1.png" alt="doc">
                    </div>
                </div>
                <p class="review-slide__text">
                    Огромное спасибо от меня и моей собачки Буси докторам Аниськовой и Широкожуховой! Очень
                    доброжелательные и внимательные терапевты, действительно переживают за питомца и стараются помочь.
                    Отвечают на все вопросы, даже когда я переспрашиваю по тысяче раз.
                </p>
                <p class="review-slide__author">Хозяйка собаки Поночки</p>
            </div>
            <div class="swiper-slide review-slide">
                <p class="review-slide__title">ОТЗЫВ О ВРАЧЕ</p>
                <div class="review-slide__doc-block">
                    <div class="review-slide__doc-info">
                        <p class="review-slide__doc-name">Цепурлан<br /> Евгений</p>
                        <p class="review-slide__doc-post">Ветеринарный врач-терапевт, дежурный терапевт</p>
                    </div>
                    <div class="review-slide__doc-wrapper">
                        <img src="img/doc-icon-1.png" alt="doc">
                    </div>
                </div>
                <p class="review-slide__text">
                    Огромное спасибо от меня и моей собачки Буси докторам Аниськовой и Широкожуховой! Очень
                    доброжелательные и внимательные терапевты, действительно переживают за питомца и стараются помочь.
                    Отвечают на все вопросы, даже когда я переспрашиваю по тысяче раз.
                </p>
                <p class="review-slide__author">Хозяйка собаки Поночки</p>
            </div>
            <div class="swiper-slide review-slide">
                <p class="review-slide__title">ОТЗЫВ О ВРАЧЕ</p>
                <div class="review-slide__doc-block">
                    <div class="review-slide__doc-info">
                        <p class="review-slide__doc-name">Цепурлан<br /> Евгений</p>
                        <p class="review-slide__doc-post">Ветеринарный врач-терапевт, дежурный терапевт</p>
                    </div>
                    <div class="review-slide__doc-wrapper">
                        <img src="img/doc-icon-1.png" alt="doc">
                    </div>
                </div>
                <p class="review-slide__text">
                    Огромное спасибо от меня и моей собачки Буси докторам Аниськовой и Широкожуховой! Очень
                    доброжелательные и внимательные терапевты, действительно переживают за питомца и стараются помочь.
                    Отвечают на все вопросы, даже когда я переспрашиваю по тысяче раз.
                </p>
                <p class="review-slide__author">Хозяйка собаки Поночки</p>
            </div>
            <div class="swiper-slide review-slide">
                <p class="review-slide__title">ОТЗЫВ О ВРАЧЕ</p>
                <div class="review-slide__doc-block">
                    <div class="review-slide__doc-info">
                        <p class="review-slide__doc-name">Цепурлан<br /> Евгений</p>
                        <p class="review-slide__doc-post">Ветеринарный врач-терапевт, дежурный терапевт</p>
                    </div>
                    <div class="review-slide__doc-wrapper">
                        <img src="img/doc-icon-1.png" alt="doc">
                    </div>
                </div>
                <p class="review-slide__text">
                    Огромное спасибо от меня и моей собачки Буси докторам Аниськовой и Широкожуховой! Очень
                    доброжелательные и внимательные терапевты, действительно переживают за питомца и стараются помочь.
                    Отвечают на все вопросы, даже когда я переспрашиваю по тысяче раз.
                </p>
                <p class="review-slide__author">Хозяйка собаки Поночки</p>
            </div>
            <div class="swiper-slide review-slide">
                <p class="review-slide__title">ОТЗЫВ О ВРАЧЕ</p>
                <div class="review-slide__doc-block">
                    <div class="review-slide__doc-info">
                        <p class="review-slide__doc-name">Цепурлан<br /> Евгений</p>
                        <p class="review-slide__doc-post">Ветеринарный врач-терапевт, дежурный терапевт</p>
                    </div>
                    <div class="review-slide__doc-wrapper">
                        <img src="img/doc-icon-1.png" alt="doc">
                    </div>
                </div>
                <p class="review-slide__text">
                    Огромное спасибо от меня и моей собачки Буси докторам Аниськовой и Широкожуховой! Очень
                    доброжелательные и внимательные терапевты, действительно переживают за питомца и стараются помочь.
                    Отвечают на все вопросы, даже когда я переспрашиваю по тысяче раз.
                </p>
                <p class="review-slide__author">Хозяйка собаки Поночки</p>
            </div>
        </div>
    </div>
</section>
