<section class="section popular-section">
    <h4 class="section-title popular-section__section-title">Популярные услуги отделения терапии</h4>
    <div class="preoperative-section__content">
        <div class="swiper popular-section__swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide card-diagnostics therapy_card-diagnostics">
                    <p class="card-diagnostics__title">Чипирование и занесение в международную базу питомцев Animal ID</p>
                    <div>
                        <div class="card-diagnostics__info_bottom">
                            <p class="card-diagnostics__price">от 6 300 ₽</p>
                            <button class="btn-reset_new card-diagnostics__detail">Подробнее</button>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide card-diagnostics therapy_card-diagnostics">
                    <p class="card-diagnostics__title">Вакцинация питомцев отечественными и импортными препаратами</p>
                    <div>
                        <div class="card-diagnostics__info_bottom">
                            <p class="card-diagnostics__price">от 10 200 ₽</p>
                            <button class="btn-reset_new card-diagnostics__detail">Подробнее</button>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide card-diagnostics therapy_card-diagnostics">
                    <p class="card-diagnostics__title">Подбор рациона питания и осмотр дерматолога-диетолога</p>
                    <div>
                        <div class="card-diagnostics__info_bottom">
                            <p class="card-diagnostics__price">от 5 300 ₽</p>
                            <button class="btn-reset_new card-diagnostics__detail">Подробнее</button>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide card-diagnostics therapy_card-diagnostics">
                    <p class="card-diagnostics__title">Капельницы, глюкометрия, люминисцентная диагностика кожи</p>
                    <div>
                        <div class="card-diagnostics__info_bottom">
                            <p class="card-diagnostics__price">от 9 100 ₽</p>
                            <button class="btn-reset_new card-diagnostics__detail">Подробнее</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="popular-section__img-wrapper">
            <img src="img/therapy_popular-img.png" alt="preoperative-img">
        </div>
    </div>
</section>
